<template>
<section class="wrapper">
	<div class="header">
		<img class="header__logo" src="/images/logo.png"/>
		<div class="header__email">+7 (499) 393-36-44</div>
		<div class="header__info">Интернет-магазин "Для Милых Дам" | ИНН: 500302354747 | ОГРН: 317505000031960</div>
		<div class="header__misc">7 дней в неделю, 9:00-00:00</div>
	</div>
	<div class="info">
		<div>НАКЛАДНАЯ</div>
		<div>Заказ №{{ order.order_id }}</div>
		<div>Дата заказа {{ order.datetime | datetime }}</div>
	</div>
	<table class="items">
		<thead>
			<tr>
				<th>№</th>
				<th>Артикул</th>
				<th>Наименование</th>
				<th>Размер</th>
				<th>Цена<span class="items__hint">руб./шт.</span></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(item, index) in order.items">
				<td class="items__index">{{ index + 1 }}</td>
				<td class="items__article-number">{{ item.article_number }}</td>
				<td class="items__name">{{ item.name }}</td>
				<td class="items__size">{{ item.size }} RUS</td>
				<td class="items__price">{{ item.computed_price }}.00</td>
			</tr>
		</tbody>
	</table>
	<div class="totals">
		<div class="totals__info">При полном выкупе товара или на сумму более {{ region_info.free_price }} рублей доставка бесплатна, иначе {{ region_info.value }} рублей. Товары сертифицированы в соответствии с законодательством РФ.</div>
		<div class="totals__bonuses"><b>Оплачено бонусами:</b><span>{{ order.bonuses }}.00</span></div>
		<div class="totals__delivery"><b>Стоимость доставки:</b><span>{{ order.delivery }}.00</span></div>
		<div class="totals__total"><b>Итого:</b><span>{{ order.total }}.00</span></div>
	</div>
	<div class="client">
		<div class="client__name">Имя клиента: {{ order.personal.name || '-' }}</div>
		<div class="client__address">Адрес доставки: {{ order.address.address ? `${order.address.title} - ${order.address.address}` : compute_address(order.address) }} </div>
		<div class="client__del-time">Дата и время доставки: {{ order.mark || '-' }}</div>
		<div class="client__comment">Комментарий: {{ order.comment || '-' }}</div>
	</div>
	<header style="margin-top: 10px; font-size: 14px; text-align: center;">Правила возврата</header>
	<ol class="punkts">
		<li>В течении 14 дней с момента получения товара Вы гарантированно можете вернуть полностью или частично купленный у нас товар надлежащего качества (при отсутствии следов эксплуатации и носки, наличии оригинальной и неповреждённой упаковки и ярлыков), если он не подошёл Вам по цвету, размеру или фасону. Возврат товара осуществляется с приложением документа, подтверждающего факт покупки товара (кассовый чек или иной документ). Стоимость доставки не подлежит возмещению, поскольку является отдельной услугой.</li>
		<li>Некоторые категории товаров не подлежат возврату и обмену, согласно постановлению Правительства РФ от 19 января 1998 г. №55, включая парфюмерию, постельное бельё, нижнее бельё, чулочно-носочные изделия, часы, предметы личной гигиены и прочее.</li>
		<li>Гарантийный срок товара начинает исчисляется с момента фактической передачи товара получателю. Гарантийный срок на сезонный товар (обувь и другое) исчисляется с момента наступления соответствующего сезона, срок наступления которого определяется соответсвенно субъектами Российской Федерации исходя из климатических условий, если иной гарантийный срок не был установлен производителем.</li>
	</ol>
	<p style="font-size: 14px; text-align: center;">Подробнее с нашими правилами возврата вы можете ознакомиться на сайте в разделе Помощь</p>
</section>
</template>

<script>
export default {
	layout: 'nake',
	middleware: 'admin',
	async asyncData({ params, app }) {
		let order = (await app.api.get(`admin/order/get?order_id=${params.order}`)).data;
		let region_info = (await app.api.get(`regions`)).data.find(r => r.region_id == order.region_id)[`delivery_${order.delivery_method}`];
		return { order, region_info };
	},
	filters: {
		datetime(datetime) {
			return new Date(datetime).toLocaleDateString();
		}
	},
	head() {
		return { title: 'Распечатка заказа' };
	},
	methods: {
		compute_address(address) {
			return `${address.city}, улица ${address.street}, ${address.house} ${address.building}, подъезд ${address.porch}, код ${address.code}, квартира/офис ${address.flat}`;
		}
	}
}
</script>

<style>
.wrapper {
	width: 800px;
	font-family: Sylfaen;
}
.header {
	display: grid;
	background-color: #fafafa;
	color: black;
	grid-template-columns: 131px 3fr 1fr;
	grid-template-rows: 20px 20px;
	grid-gap: 0;
	align-items: center;
    border-bottom: 1px solid #00a587;
}
.header__logo {
	grid-column: 1;
	grid-row: 1 / span 2;
	height: calc(100% - 10px);
}
.header__email {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
}
.header__info {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	align-items: center;
	font-size: 12px;
}
.header__misc {
	grid-column: 3;
	grid-row: 1 / span 2;
	display: flex;
	align-items: center;
	font-size: 12px;
	display: none;
}
.items {
	width: 100%;
}
.items th {
	/*position: relative;*/
}
.items__hint {
	color: gray;
	font-size: 10px;
	display: block;
}
.items th {
	vertical-align: top;
}
.items td, .items th {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
}
.items__price {
	text-align: right;
}
.items__size, .items__price {
	width: 70px;
}
.items__index {
	width: 20px;
}
.items__article-number {
	width: 200px;
}
.totals {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 20px;
	grid-gap: 0;
	padding: 5px;
}
.totals__info {
	font-size: 10px;
	grid-column: 1;
	grid-row: 1 / span 3;
}
.totals__bonuses {
	grid-column: 2;
	grid-row: 1 / 3;
	
	display: flex;
    justify-content: space-between;
}
.totals__delivery {
	grid-column: 2;
	grid-row: 2 / 3;
	
	display: flex;
    justify-content: space-between;
}
.totals__total {
	grid-column: 2;
	grid-row: 3 / 3;
	
	display: flex;
    justify-content: space-between;
}
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}
.punkts {
	font-size: 12px;
}
.punkts li {
	margin: 3px 0;
}
body {
	padding: 0;
	margin: 0;
}

.client__name, .client__address, .client__comment, .client__del-time {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
</style>