<template>
<!-- Start page content -->
<section id="page-content" class="page-wrapper mt-80">

<div class="page-title-area" :style="{ 'background-image': 'url(' + $helper.image(list.header_bg) + ')' }">
	<div class="container">
		<div class="row">
			<div class="title-inner">
				<header class="header-top">{{ list.catalog_title }}</header>
				<!--<ul class="paging-title">
					<li><a class="home" href="#">Главная</a></li>
					<li><span>{{ category.name }}</span></li>
				</ul>-->
			</div>
		</div>
	</div>
</div>


<div class="page-body list">
	<div class="container">
		<div class="product-list">
			<left-menu :list="list" :bposition="'category-left'" :banners="banners" />
			<products :list="list" />
		</div>
	</div>
</div>

<div class="blog-update-area pb-70 mt-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="section-title text-center border-line mb-20">
					<header class="mb-20 rounded-title"><span class="text-uppercase text-black">Вы недавно интересовались</span></header>
				</div> 
			</div>
		</div>
		
		<div class="row">
			<div class="product-carousel-box">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" v-for="product in $store.state.recently" :key="product.product_id">
					<product-card :product="product" :markers="false"/>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12">
				<div class="section-title text-center border-line mb-20">
					<header class="mb-20 rounded-title"><span class="text-uppercase text-black">Хиты продаж</span></header>
				</div> 
			</div>
		</div>
	
		<div class="row">
			<div class="container">
				<div v-for="product in $store.state.list_bottom.numbered.data" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<product-card :product="product"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 pt-70">		
				<ul class="tab-menu-review">
					<li class="active"><a data-toggle="tab" href="#description1">{{ list.articles[0].tab }}</a></li>
					<li><a data-toggle="tab" href="#description2">{{ list.articles[1].tab }}</a></li>
					<li><a data-toggle="tab" href="#description3">{{ list.articles[2].tab }}</a></li>
					<li><a data-toggle="tab" href="#description4">{{ list.articles[3].tab }}</a></li>
					<li><a data-toggle="tab" href="#description5">{{ list.articles[4].tab }}</a></li>
				</ul>
				<div class="tab-content">
					<div id="description1" class="tab-pane fade in active des-tab">
						<h1>{{ list.articles[0].header }}</h1>
						<p v-html="list.articles[0].content"></p>
					</div>
					<div id="description2" class="tab-pane fade des-tab">
						<h2>{{ list.articles[1].header }}</h2>
						<p v-html="list.articles[1].content"></p>
					</div>
					<div id="description3" class="tab-pane fade des-tab">
						<h2>{{ list.articles[2].header }}</h2>
						<p v-html="list.articles[2].content"></p>
					</div>
					<div id="description4" class="tab-pane fade des-tab">
						<h2>{{ list.articles[3].header }}</h2>
						<p v-html="list.articles[3].content"></p>
					</div>
					<div id="description5" class="tab-pane fade des-tab">
						<h2>{{ list.articles[4].header }}</h2>
						<p v-html="list.articles[4].content"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</section>
</template>

<script>
import LeftMenu from '@/components/LeftMenu.vue'
import Products from '@/components/Products.vue'
import ProductCard from '@/components/ProductCard.vue'

export default {
	components: {
		LeftMenu,
		Products,
		ProductCard
	},
	async asyncData({ req, store, params, res, redirect, error, isServer, app, query }) {
		let list = store.state.lists.find(f => f.uri == params.list);
		if(!list) return error({ statusCode: 404, message: 'This page could not be found.' });
		
		let query_url = `products?list=${list.list_id}`;
		if(query.page)
			query_url += `&page=${query.page}`;
		if(query.color)
			query_url += `&color=${query.color}`;
		if(query.size)
			query_url += `&size=${query.size}`;
		if(query.price)
			query_url += `&price=${query.price[0]},${query.price[1]}`;
				
		let numbered = (await app.api.get(query_url)).data;
		
		let banners = (await app.api.get('banners?position=list')).data;
		
		store.commit('SET_CURRENT_LIST', list);
		store.commit('SET_PRODUCTS', numbered);
		store.commit('SET_PAGE_TITLE', list.catalog_title);
		
		return { list, banners };
	},
	head() {
		return { title: this.list.title, meta: [ { name: 'keywords', content: this.list.meta_keywords }, { name: 'description', content: this.list.meta_description } ] };
	},
	async mounted() {
		await this.$store.dispatch('load_recently');

		this.$nextTick(() => {
			if(global.yaCounter46476306)
				global.yaCounter46476306.hit(this.$route.path, { title: this.list.title });
		});
	}
}
</script>