<template>
<div class="page-body pt-90 pb-40 blog-details-page bonusi">
	<div class="container">
		<div class="row">
			<!-- Content right start -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="blog-list">
					<div class="blog-box">
						<div class="border-b mb-20">
							<h5 class="text-uppercase title-b">Как использовать бонусные баллы. Пошаговая инструкция.</h5>
						</div>
						<div class="blog-text pt-15 pix">
							<ol class="instructions">
								<li>В данный момент у нас проводится акция, с каждой покупки вы получаете <b>обратно 5%</b> от суммы заказа. Эти <b>баллы (деньги)</b> вы можете использовать при следующей покупке или копить дальше.</li>
								<li>Для использования баллов вам необходимо зайти в <b>свой профиль</b> на сайте.<img src="/images/promokod/register.jpg" alt=""/></li>
								<li>Узнать количество баллов вы можете в <b>личном кабинете</b>.<img src="/images/bonusi/kopilka.jpg" alt=""/></li>
								<li>Для использования баллов при заказе просто напишите какое кол-во вы хотите использовать. Для этого есть <b>специальная графа</b> при оформлении заказа.<img src="/images/bonusi/bonusi.jpg" alt=""/></li>
								<li>При покупке вы может использовать баллов на сумму, не превышающую 50% от суммы заказа. Например, при покупке на 4000р вы можете использовать не более 2000 баллов.</li>
								<li>Баллы зачисляются вам в течении 14 дней со дня доставки заказа.</li>
								<li>Если вы использовали баллы, то при доставке в накладной вы увидите графу персональная скидка – это и будут ваши баллы, которые вы используете вместо денег. Приятных вам покупок!</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- Content right end -->
			<!-- Left sidebar start -->
			<div class="col-lg-3 col-md-3 col-sm-3">
				<!-- Best seller start -->
				<div class="sidebar-box latest-post-sidebar owl-buttoncercle-right">
					<!-- Categories start -->
					<div class="sidebar-box">
						<div class="border-b">
							<h5 class="text-uppercase title-b">Другие инструкции</h5>
						</div>
						<ul class="side-wedgetlist mt-20">
							<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>
							<li><nuxt-link to="/zakaz">Как сделать заказ</nuxt-link></li>
							<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>
							<!--<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>-->
							<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>
							<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>
						</ul>
					</div>
					<!-- Categories end -->	
				</div>
				<!-- Best seller end -->
			</div> 
			<!-- Left sidebar end -->
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: 'Бонусные баллы', meta: [ { name: 'description', content: 'Как использовать бонусные баллы. Пошаговая инструкция.' } ] };
	}
}
</script>