<template>
<section id="page-content" class="page-wrapper pt-90">
<container class="page-body pb-70" v-if="$store.state.cart.items == 0">	
	<block lg="12" md="12" sm="12" style="text-align: center; padding: 150px 0;">
		<span style="font-size: 24px; margin-bottom: 20px; display: inline-block;">В вашей корзине нет ни одного товара!</span><br/>
		<button class="p-button" @click="to_catalog">Посмотреть каталог</button>
	</block>
</container>
<container class="page-body" v-else>
	<block lg="12" md="12" sm="12">
		<div class="wishlist-table table-responsive">
			<div class="border-b mb-20">
				<header class="bordered-title" style="font-size: 24px;">Ваш список товаров</header>
			</div>
			<table class="order-table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Название</th>
						<th>Размер</th>
						<th>Цена</th>
						<th>Скидка</th>
						<th class="total-price-header-cell">Итоговая цена</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in $store.state.cart.items">
						<td class="product-remove">
							<a href="javascript:void(0)" class="remove" @click="remove_item(item)">×</a>
						</td>
						<td class="product-thumbnail">
							<a :href="'/p/'+item.product.product_id"><img :src="$helper.thumbs(item.product.images[0])" alt=""/></a>
						</td>
						<td class="product-name"> 
							<a :href="'/p/'+item.product.product_id">{{ item.product.name }}</a>
						</td>
						<td class="product-size"><span>{{ item.size }}</span></td>
						<td class="product-price"><span class="p-price">{{ item.product.base_price }} ₽</span></td>
						
						<td class="product-price" v-if="item.product.discount"><div class="text-green">-{{ item.product.discount }}%</div></td>
						<td class="product-price" v-else>—</td>
						
						<td class="product-price"><span class="p-price">{{ item.product.price }} ₽</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<block lg="12" md="12" sm="12" class="mtb-50 button-bar">
			<!-- <block lg="6" md="6" sm="6"> -->
				<button type="submit" class="f-left pink-button" @click="to_catalog">Вернуться к покупкам</button>
			<!-- </block> -->
			
			<!-- <block lg="6" md="6" sm="6"> -->
				<button type="submit" class="f-right green-button" @click="to_checkout">Оформить заказ</button>
			<!-- </block> -->
		</block>
	</block> 
</container>
</section>
</template>

<script>
import PageTitleArea from '@/components/PageTitleArea.vue'
import Block from '@/components/Block.vue'
import Container from '@/components/Container.vue'

export default {
	layout: 'shortcut',
	components: {
		PageTitleArea,
		Block,
		Container,
	},
	data() {
		return {};
	},
	methods: {
		to_catalog() {
			global.location.href = '/';
		},
		to_checkout() {
			global.location.href = '/checkout';
		},
		remove_item(item) {
			this.$store.commit('REMOVE_FROM_CART', { item, vue: this });
			if(this.$store.state.cart.items.length > 0)
				this.accept_bonuses();
		},
	},
	head() {
		return { title: 'Корзина' };
	},
}
</script>