<template>
<section id="page-content" class="page-wrapper pt-90">
<div class="order-header" style="background-color: #18bd9c;">
	<container>
		<div class="title-inner">
			<header class="header-top">Оформление заказа</header>
		</div>
	</container>
</div>
<container class="page-body pb-70" v-if="$store.state.cart.items == 0">	
	<block lg="12" md="12" sm="12" style="text-align: center; padding: 150px 0;">
		<span style="font-size: 24px; margin-bottom: 20px; display: inline-block;">В вашем заказе нет ни одного товара!</span><br/>
		<button class="p-button" @click="to_catalog">Посмотреть каталог</button>
	</block>
</container>
<container class="page-body order" v-else>
	<block lg="12" md="12" sm="12" class="pb-70">
		<div class="order__header">Выберите ваш регион</div>

		<div class="order__block">
			<select v-model="region" class="order__select">
				<option v-for="region in regions" :value="region">{{ region.name }}</option>
			</select>
			<span class="order__select-arrow">нажмите для перевыбора</span>
		</div>

		<div class="order__header">Выберите способ доставки</div>

		<div class="order__block" v-if="region">
			<block xs="12" sm="8" md="8" lg="4" class="plr-30" v-if="region[`delivery_courier`]">
				<div class="delivery-box" :class="{ 'delivery-box--selected': $store.state.cart.delivery_method == 'courier' }" @click="$store.commit('SET_CART_DELIVERY_METHOD', 'courier')">
					<div class="icon2"><span><i class="fa fa-truck"></i></span></div>
					<div class="text pl-30 pr-30 mb-p-0">
						<h3 class="delivery-box__header">Курьер<br/>(с примеркой)</h3>
						<ul class="delivery-box__list">
							<li>Цена доставки: <b v-if="region[`delivery_courier`]">{{ region[`delivery_courier`].value }} ₽</b><b v-else>-</b></li>
							<li>Срок доставки: <b>{{ region[`delivery_courier`].time }} дн.</b></li>
							<li>Минимальный заказ: <b>от {{ region[`delivery_courier`].minimal_price }} ₽</b></li>
							<li v-if="region[`delivery_post`].free_price > 0">Бесплатная доставка: <b>от {{ region[`delivery_courier`].free_price }} ₽</b></li>
							<li class="delivery-box__hint">*Для маленьких и отдалённых населённых пунктов цена и срок доставки могут отличаться от заявленных. Уточняйте условия у наших менеджеров по телефону.</li>
							<li class="delivery-box__select">Выбрать</li>
						</ul>
					</div>
				</div>
			</block>
		
			<block xs="12" sm="8" md="8" lg="4" class="plr-30" v-if="region[`delivery_pvz`] && locations.length > 0">
				<div class="delivery-box" :class="{ 'delivery-box--selected': $store.state.cart.delivery_method == 'pvz' }" data-toggle="modal" data-target=".bs-address-modal-lg">
					<div class="icon2"><span><i class="fa fa-home"></i></span></div>
					<div class="text pl-30 pr-30 mb-p-0">
						<h3 class="delivery-box__header">Самовывоз<br/>(с примеркой)</h3>
						<ul class="delivery-box__list">
							<li>Цена доставки: <b v-if="region[`delivery_pvz`]">{{ region[`delivery_pvz`].value }} ₽</b><b v-else>-</b></li>
							<li>Срок доставки: <b>{{ region[`delivery_pvz`].time }} дн.</b></li>
							<li>Минимальный заказ: <b>от {{ region[`delivery_pvz`].minimal_price }} ₽</b></li>
							<li v-if="region[`delivery_post`].free_price > 0">Бесплатная доставка: <b>от {{ region[`delivery_pvz`].free_price }} ₽</b></li>
							<li class="delivery-box__hint">*Для маленьких и отдалённых населённых пунктов цена и срок доставки могут отличаться от заявленных. Уточняйте условия у наших менеджеров по телефону.</li>
							<li class="delivery-box__select">Выбрать</li>
						</ul>
					</div>
				</div>
			</block>
			
			<block xs="12" sm="8" md="8" lg="4" class="plr-30">
				<div class="delivery-box" :class="{ 'delivery-box--selected': $store.state.cart.delivery_method == 'post' }" @click="$store.commit('SET_CART_DELIVERY_METHOD', 'post')">
					<div class="icon2"><span><i class="fa fa-envelope"></i></span></div>
					<div class="text pl-30 pr-30 mb-p-0">
						<h3 class="delivery-box__header">Почта</h3>
						<ul class="delivery-box__list">
							<li>Цена доставки: <b>{{ region[`delivery_post`].value }} ₽</b></li>
							<li>Срок доставки по условиям почты РФ</li>
							<li>Минимальный заказ: <b>от {{ region[`delivery_post`].minimal_price }} ₽</b></li>
							<li v-if="region[`delivery_post`].free_price > 0">Бесплатная доставка: <b>от {{ region[`delivery_post`].free_price }} ₽</b></li>
							<li class="delivery-box__hint">*Для маленьких и отдалённых населённых пунктов цена и срок доставки могут отличаться от заявленных. Уточняйте условия у наших менеджеров по телефону.</li>
							<li class="delivery-box__select">Выбрать</li>
						</ul>
					</div>
				</div>
			</block>	
		</div>
		
		<div class="order__header">Укажите адрес доставки</div>

		<div class="order__form" v-if="$store.state.cart.delivery_method != 'pvz'">	
			<block lg="12">				
				<label>
					Населённый пункт
					<input type="text" name="city" class="form-control border-input" v-model="address_form.city" placeholder="Введите город" />	
				</label>		
			</block>
			<block lg="12">			
				<label>
					Улица
					<input type="text" name="street" class="form-control border-input" v-model="address_form.street" placeholder="Введите улицу" />		
				</label>			
			</block>
			<block lg="12">			
				<label>
					Дом
					<input type="text" name="house" class="form-control border-input" v-model="address_form.house" placeholder="Введите дом" />			
				</label>		
			</block>	
			<block lg="12">				
				<label>
					Квартира/офис
					<input type="text" name="flat" class="form-control border-input" v-model="address_form.flat" placeholder="Введите квартиру" />
				</label>	
			</block>
			<block lg="12" v-if="$store.state.cart.delivery_method == 'post'">
				<label>
					*Индекс
					<input type="text" name="code" class="form-control border-input" v-model="address_form.code" placeholder="Введите индекс" />
				</label>	
			</block>
		</div>
		
		<div class="order__block" v-if="selected_pvz && $store.state.cart.delivery_method == 'pvz'">
			<block lg="12" md="12" sm="12">
				<input type="text" :value="selected_pvz.address + ' (' + selected_pvz.title + ')'" class="form-control border-input" disabled />
			</block>
		</div>
		
		<div class="order__header">Введите ваши данные</div>
		
		<div class="order__form">	
			<block lg="12">				
				<label>
					Имя и фамилия
					<input name="name" class="form-control border-input" type="text" placeholder="Введите имя и фамилию" v-model="personal_form.name" />
				</label>		
			</block>
			<block lg="12">			
				<label>
					*Телефон
					<input name="phone" class="form-control border-input" type="text" min="0" max="90" placeholder="Введите телефон" v-model="personal_form.phone" />
				</label>			
			</block>
			<block lg="12">			
				<label>
					*E-mail
					<input name="email" class="form-control border-input" type="text" placeholder="Введите E-mail" :disabled="$store.state.user" v-model="personal_form.email" />
				</label>		
			</block>	
		</div>	
	</block>
	<block lg="6" md="12" sm="12" xs="12">
		<div class="wishlist-table table-responsive">
			<table class="order-table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Название</th>
						<th>Размер</th>
						<th>Цена</th>
						<th>Скидка</th>
						<th>Промокод</th>
						<th class="total-price-header-cell">Итоговая цена</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in $store.state.cart.items">
						<td class="product-remove">
							<a href="javascript:void(0)" class="remove" @click="remove_item(item)">×</a>
						</td>
						<td class="product-thumbnail">
							<a :href="'/p/'+item.product.product_id"><img :src="$helper.thumbs(item.product.images[0])" alt=""/></a>
						</td>
						<td class="product-name"> 
							<a :href="'/p/'+item.product.product_id">{{ item.product.name }}</a>
						</td>
						<td class="product-size"><span>{{ item.size }}</span></td>
						<td class="product-price"><span class="p-price">{{ item.product.base_price }} ₽</span></td>
						
						<td class="product-price" v-if="item.product.discount"><div class="text-green">-{{ item.product.discount }}%</div><span class="p-price">{{ item.product.price }} ₽</span></td>
						<td class="product-price" v-else>—</td>

						<td class="product-price" v-if="$store.state.cart.promo"><div class="text-red">-{{ $store.state.cart.promo.discount }}%</div><span class="p-price">{{ item.computed_price }} ₽</span></td>
						<td class="product-price" v-else>—</td>
						
						<td class="product-price"><span class="p-price">{{ item.computed_price }} ₽</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</block> 
	<block lg="6" md="12" sm="12" xs="12">
		<div class="cart-bottom">	
			<block lg="12" md="12" sm="12">
				<div class="payment-box">
					<table class="shop_table checkbox-tbl">
						<tbody>
							<tr class="cart_item">
								<td class="order-table__summary">
									Заказано товаров на сумму
								</td>
								<td class="product-total"><span class="p-price">{{ $store.state.cart.summary }} ₽</span></td>
							</tr>
							<tr class="cart_item">
								<td class="order-table__delivery">
									Доставка
								</td>
								<td class="product-total" v-if="$store.state.cart.region">
									<span v-if="$store.state.cart.total > minimal_price" class="p-price">{{ !$store.state.cart.delivery ? 'бесплатная' : `${$store.state.cart.delivery} ₽` }}</span>
									<span v-else style="color: red; font-weight: bold;">Минимальная сумма заказа в ваш регион {{ minimal_price }}</span>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									<div class="special-box">
										<form v-if="$store.state.user" class="input-box" v-on:submit.prevent>
											<template v-if="!$store.state.cart.promo">
												<div>Промокод</div>
												<input type="text" placeholder="Введите промокод" ref="promo_i" value=""  name="coupon_code" style="width: 150px; margin-right: 10px; text-align: center; font-size: 16px; height: 30px; padding-left: 0;"/>
												<button class="p-button" @click="apply_promo($refs.promo_i.value)">Применить</button>
											</template>
											<div v-else>
												<span class="text-red">Применён промокод <b>{{ $store.state.cart.promo.name }}</b></span>
												<div><button class="p-button ml-10" @click="$store.commit('RESET_CART_PROMO')">Ввести другой</button></div>
											</div>
										</form>
										<form v-else class="input-box" style="text-align: center; display: block;">
											<div>Промокод</div>
											<nuxt-link tag="button" class="p-button" to="/promokod" style="margin-top: 5px;">Как использовать?</nuxt-link>
										</form>
									</div>		
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="special-box">
										<form v-if="$store.state.user" class="input-box" v-on:submit.prevent>
											<template v-if="$store.state.cart.bonuses == 0">
												<div>Бонусные баллы</div>
												<input type="number" :max="user_data.bonuses" v-model="use_bonuses_temp" style="width: 60px; margin-right: 10px; text-align: center; font-size: 16px; height: 30px;"/> <span style="font-size: 16px; margin-top: 10px; margin-right: 10px;">из {{ user_data.bonuses }}</span>
												<button class="p-button" data-target=".bs-personal-modal-lg" @click="accept_bonuses">Использовать</button>
											</template>
											<div v-else>
												<span style="color: green">Применено {{ $store.state.cart.bonuses }} бонусных рублей</span>
												<div><button class="p-button" @click="reset_bonuses">Отменить</button></div>
											</div>
										</form>
										<form v-else class="input-box" style="text-align: center; display: block;">
											<div>Бонусные баллы</div>
											<nuxt-link tag="button" class="p-button" to="/bonusi" style="margin-top: 5px;">Как использовать?</nuxt-link>
										</form>
									</div>
								</td>
							</tr>
							<tr class="order-total">
								<th>Итого</th>
								<td><strong><span class="t-price">{{ $store.state.cart.total }} ₽</span></strong> </td>
							</tr>
						</tfoot>
					</table>
				</div>
			</block>
		</div>
	</block>
	<block lg="12" md="12" sm="12" class="mtb-50 button-bar">
		<!-- <block lg="6" md="6" sm="6" xs="12"> -->
			<button type="submit" class="f-left pink-button" @click="to_cart">Вернуться в корзину</button>
		<!-- </block> -->
		
		<!-- <block lg="6" md="6" sm="6" xs="12"> -->
			<button type="submit" class="f-right green-button" @click="make_order">Заказать</button>
		<!-- </block> -->
	</block>
</container>
<div class="modal fade bs-address-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="width: 900px;">
		<div class="modal-content fix">
			<div class="model-product-box p-all-15">
				<h3 style="text-align: center;">Выберите пункт самовывоза на карте</h3>
				<div id="city-map" style="width:890px;height:500px;"></div>
			</div>
		</div>
	 </div>
</div>
<div class="modal fade bs-personal-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="max-width: 275px;">
		<div class="modal-content fix">
			<div class="model-product-box p-all-15">
				<form action="#" class="biling-info" v-on:submit.prevent>
					<div class="col-sm-12">
						<div class="input-box">
							<label><b>Имя</b></label>
							<input type="text" name="name" v-model="personal_form.name" />
						</div>
					</div>
					<div class="col-sm-12">
						<div class="input-box">
							<label><b>Телефон</b></label>
							<input type="text" name="phone" v-model="personal_form.phone" />
						</div>
					</div>	
					<div class="col-sm-12" v-if="!$store.state.user">
						<div class="input-box">
							<label><b>Электронная почта</b></label>
							<input type="text" name="email" v-model="personal_form.email" />
						</div>
					</div>	
					<div class="col-sm-12" v-if="!$store.state.user || !user_data.email_subscribe">
						<div class="input-box">
							<label style="font-size: 12px; margin-left: 7px;">Подписаться на скидки, акции, новинки</label>
							<input type="checkbox" style="margin-left: 7px; position: absolute;" v-model="email_subscribe"/>
						</div>
					</div>
					<div class="col-sm-12" v-if="!$store.state.user" style="text-align: center;">
						<label class="ml-10" style="font-size: 11px;">Нажимая кнопку применить вы соглашаетесь на <a href="http://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank" style="text-decoration: underline;">обработку персональных данных</a></label>
					</div>	
					<div class="col-sm-12">
						<div class="input-box mt-10">
							<button class="p-button f-right" @click="accept_personal">Применить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	 </div>
</div>
</section>
</template>

<script>
import PageTitleArea from '@/components/PageTitleArea.vue'
import Block from '@/components/Block.vue'
import Container from '@/components/Container.vue'

export default {
	layout: 'shortcut',
	components: {
		PageTitleArea,
		Block,
		Container
	},
	async asyncData({ redirect, app, store }) {
		let regions = (await app.api.get(`regions`)).data;
		let data = { regions };
		if(store.state.user)
			try {
				let user_data = (await app.api.get('user_data')).data;
				data.user_data = user_data;	
			}
			catch(e) {		
				await app.api.get('logout');
				//Очистить куки?
				store.commit('SET_USER', null);
			}
		return data;
	},
	data() {
		return {
			address_form: { city: '', street: '', house: '', building: '', porch: '', flat: '', code: '' },
			is_completed_address_form: false,
			personal_form: { name: '', phone: '', email: '' },
			is_completed_personal_form: false,
			use_bonuses_temp: 0,
			code: null,
			bonuses: null, 
			promo: null,
			email_subscribe: true,
			order_in_process: false,
			// delivery_method: 'courier', //courier, pvz
			locations: [],
			regions: [],
			region: null,
			selected_pvz: null,
			ymap: null,
		};
	},
	watch: {
		async region(value) {
			if(!value) return;
			this.$store.dispatch('set_cart_region', value);

			this.locations = (await this.$api.get(`locations?region=${value.region_id}`)).data;
			this.locations.forEach(l => l.title = `ПВЗ ${l.prefix} ${l.title}`);
			if(this.locations.length > 0)
				this.updateYMap();
		},
	},
	computed: {
		address() {
			return this.is_completed_address_form ? `Нас.пункт - <b>${this.address_form.city||'нет'}</b>, улица - <b>${this.address_form.street||'нет'}</b>, дом - <b>${this.address_form.house||'нет'}</b>, корпус/строение - <b>${this.address_form.building||'нет'}</b>, подъезд - <b>${this.address_form.porch||'нет'}</b>, квартира/офис - <b>${this.address_form.flat||'нет'}</b>, домофон - <b>${this.address_form.code||'нет'}</b>` : '';
		},
		personal() {
			return this.is_completed_personal_form ? `Имя - <b>${this.personal_form.name||'нет'}</b>, телефон - <b>${this.personal_form.phone||'нет'}</b>, электронная почта - <b>${this.personal_form.email||'нет'}</b>` : '';
		},
		minimal_price() {			
			return this.region ? this.region[`delivery_${this.$store.state.cart.delivery_method}`].minimal_price : 0;
		},
		comment() {
			return this.region ? this.region[`delivery_${this.$store.state.cart.delivery_method}`].comment : '';
		},
	},
	methods: {
		to_cart() {
			global.location.href = '/cart';
		},
		accept_address() {
			//if(this.address_form.city && this.address_form.street && this.address_form.house && this.address_form.flat) {
				this.is_completed_address_form = true;
				$(".modal").modal("hide");
			//}
		},
		accept_personal() {
			//if(this.personal_form.name && this.personal_form.phone && this.personal_form.email) {
				this.is_completed_personal_form = true;
				$(".modal").modal("hide");
			//}
		},
		accept_bonuses() {
			if(this.use_bonuses_temp > this.user_data.bonuses) this.use_bonuses_temp = this.user_data.bonuses;
			if(this.use_bonuses_temp > Math.floor(this.$store.state.cart.summary * 0.5)) this.use_bonuses_temp = Math.floor(this.$store.state.cart.summary * 0.5);
			this.$store.commit('SET_CART_BONUSES', this.use_bonuses_temp);
		},
		reset_bonuses() {
			this.$store.commit('SET_CART_BONUSES', 0);
		},
		async apply_promo(promo_name) {
			if(!this.$store.state.user) return this.$notify.error("Вы должны зарегистрироваться для применения промокода!");
			try{
				let discount = (await this.$api.get(`promo_check?promo=${promo_name}`)).data;
				this.$notify.success(`Применён промокод на скидку в <b>${discount}%</b>!`);				
				this.$store.commit('SET_CART_PROMO', { discount, name: promo_name });
				this.$nextTick(() => this.accept_bonuses());
			} catch(e) {
				this.$notify.error("Промокод недействителен или уже использован!");
			}
		},
		async make_order() {
			if(this.order_in_process) return;
			this.order_in_process = true;
			
			let o = {};
			
			o.delivery_method = this.$store.state.cart.delivery_method;

			o.address = {};
			if(o.delivery_method != 'pvz') {
				o.address.city = this.address_form.city;
				o.address.street = this.address_form.street;
				o.address.house = this.address_form.house;
				o.address.building = this.address_form.building;
				o.address.porch = this.address_form.porch;
				o.address.flat = this.address_form.flat;
				o.address.code  = this.address_form.code;
			} else {
				o.address.title = this.selected_pvz.title;
				o.address.address = this.selected_pvz.address;
			}
			
			o.region_id = this.region.region_id;
			
			o.personal = {};
			o.personal.name = this.personal_form.name;
			o.personal.phone = this.personal_form.phone;
			o.personal.email = this.personal_form.email;

			if(this.$store.state.cart.promo) {
				o.promo = {};
				o.promo.discount = this.$store.state.cart.promo.discount;
				o.promo.name = this.$store.state.cart.promo.name;
			}
			
			o.bonuses = this.$store.state.cart.bonuses;

			o.items = this.$store.state.cart.items.map(i => ({
				product_id: i.product.product_id,
				size: i.size,
				computed_price: i.computed_price
			}));

			o.summary = this.$store.state.cart.summary;
			o.delivery = this.$store.state.cart.delivery;
			o.total = this.$store.state.cart.total;
			
			try {
				await this.$api.post(`order?email_subscribe=${this.email_subscribe}`, o);
				this.$store.commit('EMPTY_CART');
				
				await this.$api.post(`empty_cart`);
				
				global.location.replace('/success');
			} catch(err) {
				if(err.response.data.sp_errors) {
					//this.$notify.error(err.response.data.sp_errors[0].error + ' ' + err.response.data.sp_errors[0].param);
					
					//debugger;
					
					let product_not_anymore = err.response.data.sp_errors.filter(f => f.error == 'product_not_anymore').sort((a, b)=> b.item_index-a.item_index);
					if(product_not_anymore.length > 0) {
						this.$notify.error('Некоторых товаров более нету в наличии!');
						product_not_anymore.forEach(({ item_index }) => {
							this.$store.commit('REMOVE_FROM_CART_BY_INDEX', item_index);
						});
					}
						
					let wrong_prices = err.response.data.sp_errors.filter(f => f.error == 'product_wrong_price').sort((a, b)=> b.item_index-a.item_index);
					if(wrong_prices.length > 0) {
						this.$notify.error('У некоторых товаров изменилась цена!');
						wrong_prices.forEach(({ item_index, new_product }) => {
							this.$store.commit('CHANGE_CART_ITEM', { item_index, new_product });
						});
					}

					let undefined_ids = err.response.data.sp_errors.filter(f => f.error == 'not_found_with_this_id').sort((a, b)=> b.item_index-a.item_index);
					if(undefined_ids.length > 0) {
						this.$notify.error('Некоторые товары более недоступны к заказу!');
						undefined_ids.forEach(({ item_index }) => {
							this.$store.commit('REMOVE_FROM_CART_BY_INDEX', item_index);
						});
					}
				}
				else
					this.$notify.error(err);
			}
			finally {
				this.order_in_process = false;
			}
		},
		remove_item(item) {
			this.$store.commit('REMOVE_FROM_CART', { item, vue: this });
			if(this.$store.state.cart.items.length > 0)
				this.accept_bonuses();
		},
		updateYMap() {
			this.ymap.geoObjects.removeAll();
			let places = this.locations.map((l, index) => {
				let p = {};
				p.lat = l.latitude;
				p.lng = l.longitude;
				p.title = l.title;		
				p.content = `<div style="font-size: 16px; font-weight: bold; background-color: #18bd9c; color: white; display: inline-block; padding: 3px 9px;">${p.title}</div><p style="font-weight: bold;">${l.address}</p><p>${l.description}</p><button onclick="select_loc(${index})">Выбрать</button>`;
				return p;
			});
			if(places.length > 0) {
				for(var i = 0; i < places.length; i++) {
					let place = places[i];
					let myPlacemark = new ymaps.Placemark([place.lat, place.lng], {
						hintContent: place.title,
						balloonContent: place.content
					}, {
						preset: 'islands#greenIcon'
					});
					this.ymap.geoObjects.add(myPlacemark);
				}
			}
			this.$nextTick(() => {
				this.ymap.setCenter(this.ymap.geoObjects.get(0).geometry.getCoordinates(), 9);
			});
		},
	},
	head() {
		return { title: 'Оформление заказа' };
	},
	async mounted() {
		
		
		//await this.$store.dispatch('load_cart', this);
		//if(this.$store.state.cart.items.length == 0) return this.$router.replace('/');
		if(this.user_data) {
			this.personal_form.name = this.user_data.name;
			this.personal_form.phone = this.user_data.phone;
			this.personal_form.email = this.user_data.email;
			this.is_completed_personal_form = true;

			this.address_form = this.user_data.address;
			this.is_completed_address_form = true;
		}
		this.$store.commit('RESET_CART_PROMO');
		
		global.select_loc = (index) => {
			this.selected_pvz = this.locations[index];
			this.$store.commit('SET_CART_DELIVERY_METHOD', 'pvz')
			$(".modal").modal("hide");
		};
		
		$.getScript('https://api-maps.yandex.ru/2.1/?lang=ru_RU', () => { 
			ymaps.ready(() => {
				this.ymap = new ymaps.Map('city-map', {center:[0,0], zoom: 9});
				this.region = this.regions.find(r => r.region_id == 77);
			});
		});
	}
}
</script>