<template>
<div class="page-body pt-90 mb-70">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="border-b mb-20">
					<h5 class="text-uppercase title-b">Контакты</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9904cab35d7054bea12dfbd48bfc79c3b85ea1859955610fab22dea908c0d4e9&amp;lang=ru_RU&amp;scroll=true&amp;source=constructor" width="817" height="339" frameborder="0"></iframe>					
			</div>
			<div class="col-md-3">
				<ul class="contact-info">
					<li><b>Адрес:</b><p>Москва, Дорожная улица, 60б</p></li>
					<li><b>Телефон:</b><p>+7 (499) 393-36-44</p></li>
					<li><b>Электронная почта:</b><p><a href="mailto:info@jenskaya-odejda24.ru">info@jenskaya-odejda24.ru</a></p></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="border-b mt-20">
					<h5 class="text-uppercase title-b">Пишите, мы обязательно ответим Вам</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<form v-on:submit.prevent class="fix mt-40" id="contact-form" method="POST">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="input-field">
						<div class="input-box">
							<label>Тема <span class="required">*</span></label>
							<input v-model="form.topic" name="subject" id="subject" type="text">
						</div>
						<div class="input-box">
							<label>Имя <span class="required">*</span></label>
							<input v-model="form.name" name="name" id="name" type="text">
						</div>
						<div class="input-box">
							<label>Email <span class="required">*</span></label>
							<input v-model="form.email" name="email" id="email" type="email">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="input-field">
						<div class="input-box">
							<label>Сообщение  <span class="required">*</span></label>
							<textarea rows="8" cols="45" name="message" id="message" v-model="form.message"></textarea>
						</div>
						<div>
							<input type="checkbox" v-model="agree" style="margin-right: 5px; display: inline-block;" /> Согласен на <a href="http://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank">обработку персональных данных</a>
						</div>
						<button type="button" class="p-button f-right" @click="send_to_us" :disabled="!agree">Отправить сообщение</button>
						<p class="form-messege"></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	data() {
		return { form: { name: '', topic: '', message: '', email: '' }, agree: true };
	},
	head() {
		return {
			title: "Контакты"
		}
	},
	methods: {
		async send_to_us() {
			try {
				await this.$api.post('send_to_us', this.form)
				this.$notify.success('Вы успешно отправили сообщение нам!');
			} catch(err) {
				this.$notify.error(err);
			}
		}
	}
}
</script>

<style>
.contact-info li {
	padding: 5px 0;
}

.contact-info li, .contact-info p {
	font-size: 18px;
}
</style>