<template>
<div class="page-body pt-90 pb-40 blog-details-page dostavka">
	<div class="container">
		<div class="row">
			<!-- Content right start -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="blog-list">
					<div class="blog-box">
						<div class="border-b mb-20">
							<h5 class="text-uppercase title-b">Общие положения</h5>
						</div>
						<div class="blog-text pt-15 pix">
							<p>- В одном заказе покупатель может заказать до <b>10 вещей</b>.</p>
							<p>- При доставке курьером клиенту дается <b>15-20 минут</b> для примерки товара.</p>
							<p>- Покупатель имеет право выкупить только <b>часть заказа или не покупать ничего</b>, но при этом он <b>оплачивает доставку</b>.</p>
							<p>- Пункты самовывоза нашего партнера (СДЭК) <b>оборудованы примерочными</b>, поэтому в них также возможен частичный выкуп товара и примерка.</p>
							<p>- При доставке <b>почтой примерка не предусмотрена</b> (правилами Почты России).</p>
							<p>- Стоимость и срок доставки <b>зависит от региона</b>, в котором находится покупатель, а также от удаленности населенного пункта от крупных городов.</p>
							<p>- Вся территория Росси поделена на <b>5 условных зон доставки</b>. Тариф зависит от той зоны в которую осуществляется доставка.</p>
							<div style="text-align: center;"><img src="/images/dostavka/dostavka.jpg" style="max-width: 500px;"/></div>
						</div>
					</div>
					<div class="blog-box">
						<!-- <div class="border-b mb-20"> -->
							<!-- <h5 class="text-uppercase title-b">Условия доставки и примерки в регионах.</h5> -->
						<!-- </div> -->
						<div class="blog-text pt-15 pix">
							<!-- <p>Все регионы поделены на 4 зоны. Ниже представлены регионы каждый зоны и условия доставки в этих зонах.</p> -->
							<p><b>1 - ТАРИФНАЯ ЗОНА:</b> Для следующих регионов или городов: Москва, Московская область, Санкт-Петербург</p>
							
							<p><b>Курьерская доставка до двери</b></p>
							<p>Доставка бесплатная при покупке на сумму от 2900 рублей</p>
							<p>Доставка 350 рублей при покупке на сумму меньшую 2900 рублей</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 1-3 рабочих дня</p>
							<hr/>
							<p><b>Доставка в пункт самовывоза</b></p>
							<p>Доставка бесплатная при покупке на сумму от 2900 рублей</p>
							<p>Доставка 250 рублей при покупке на сумму меньшую 2900 рублей</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 1-3 рабочих дня</p>
							<hr/>
							<p><b>Доставка почтой</b></p>
							<p>Доставка 290 рублей</p>
							<p>Минимальная сумма заказа в эти города 500 рублей</p>
							<p>Срок доставки по условиям почты России</p>
							
							<p>ВАЖНО! Стоимость, тип и срок доставки для маленьких или удаленных населенных пунктов может отличаться от заявленной. Наш менеджер обязательно уточнит вам все условия доставки для таких населенных пунктов.</p>
							<hr/>
							
							<p><b>2	- ТАРИФНАЯ ЗОНА:</b> Для следующих регионов или городов: Аксай, Александров, Анапа, Арзамас, Балаково, Балахна, Батайск, Белгород, Боровичи, Брянск, Великие Луки, Великий Новгород, Владимир, Волгоград, Вологда, Воронеж, Волгодонск, Волжский, Выборг, Гатчина, Геленджик, Губкин, Дзержинск, Димитровград, Зеленодольск, Зерноград, Иваново, Казань, Калуга, Каменск-Шахтинский, Кингисепп, Кириши, Колпино, Кострома, Краснодар, Курск, Ленинградская область, Лабинск, Липецк, Людиново, Муром, Нижний Новгород, Новошахтинск, Обнинск, Орел, Псков, Ростов-на-Дону, Рыбинск, Рязань, Самара, Саров, Сосновый Бор, Смоленск, Старый Оскол, Сызрань, Таганрог, Тамбов, Тихвин, Тверь, Тольятти, Тула, Ульяновск, Чебоксары, Череповец, Ярославль, Альметьевск, Армавир, Астрахань, Балаково, Березники, Владикавказ, Георгиевск, Глазов, Екатеринбург, Ессентуки, Зеленодольск, Златоуст, Ижевск, Йошкар-Ола, Калининград, Киров, Кисловодск, Копейск, Кунгур, Курган, Нижняя Тура, Магнитогорск, Майкоп, Миасс, Минеральные Воды, Михайловск, Мурманск, Набережные Челны, Нальчик, Невинномысск, Нефтекамск, Нижний Тагил, Нижнекамск, Новороссийск, Новочебоксарск, Новочеркасск, Новоуральск, Октябрьский, Оренбург, Орск, Пенза, Первоуральск, Пермь, Петрозаводск, Пятигорск, Салават, Саранск, Саратов, Серов, Снежинск, Сочи, Ставрополь, Стерлитамак, Сыктывкар, Тюмень, Уфа, Чайковский, Челябинск, Черкесск, Чусовой, Шахты, Элиста, Южноуральск</p>
							
							<p><b>Курьерская доставка до двери</b></p>
							<p>Доставка 450 рублей</p>
							<p>Доставка бесплатная при покупке на сумму от 3500 рублей</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 2-5 рабочих дня</p>
							<hr/>
							<p><b>Доставка в пункт самовывоза</b></p>
							<p>Доставка 290 рублей при покупке на сумму меньшую 3500 рублей</p>
							<p>Доставка бесплатная при покупке на сумму от 3500 рублей</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 2-5 рабочих дня</p>
							
							<hr/>
							
							<p><b>Доставка почтой</b></p>
							<p>Доставка 290 рублей</p>
							<p>Минимальная сумма заказа в эти города 500 рублей</p>
							<p>Срок доставки по условиям почты России</p>
							
							<p>ВАЖНО! Стоимость, тип и срок доставки для маленьких или удаленных населенных пунктов может отличаться от заявленной. Наш менеджер обязательно уточнит вам все условия доставки для таких населенных пунктов.</p>
							<hr/>
							
							<p><b>3 – ТАРИФНАЯ ЗОНА:</b> Для следующих регионов или городов: Ачинск, Барнаул, Белово, Бердск, Бийск, Горно-Алтайск, Искитим, Кемерово, Киселевск, Красноярск, Ленинск-Кузнецкий, Междуреченск, Новоалтайск, Новокузнецк, Новосибирск, Омск, Прокопьевск, Рубцовск, Северск, Стрежевой, Томск, Юрга</p>
							
							<p><b>Курьерская доставка до двери</b></p>
							<p>Доставка 450 рублей</p>
							<p>Срок доставки 4-9 рабочих дня</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
						
							<hr/>
							
							<p><b>Доставка в пункт самовывоза</b></p>
							<p>Доставка 350 рублей </p>
							<p>Срок доставки 4-9 рабочих дня</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							
							<hr/>
							
							<p><b>Доставка почтой</b></p>
							<p>Доставка 350 рублей</p>
							<p>Минимальная сумма заказа в эти города 500 рублей</p>
							<p>Срок доставки по условиям почты России</p>
							
							<p>ВАЖНО! Стоимость, тип и срок доставки для маленьких или удаленных населенных пунктов может отличаться от заявленной. Наш менеджер обязательно уточнит вам все условия доставки для таких населенных пунктов.</p>
							
							<hr/>
							
							<p><b>4 - ТАРИФНАЯ ЗОНА:</b> Для следующих регионов или городов: Абакан, Артём, Архангельск, Биробиджан, Благовещенск, Большой Камень, Братск, Владивосток, Грозный, Забайкальск, Иркутск, Комсомольск-на-Амуре, Корсаков, Махачкала, Мегион, Нарьян-Мар, Находка, Нефтеюганск, Нижневартовск, Нягань, Советский, Сургут, Улан-Удэ, Уссурийск, Ухта, Хабаровск, Ханты-Мансийск, Хасавюрт, Чита, Южно-Сахалинск, Якутск</p>
							
							<p><b>Курьерская доставка до двери</b></p>
							<p>Доставка 590 рублей</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 7-15 рабочих дней</p>
							
							<hr/>
							<p><b>Доставка в пункт самовывоза</b></p>
							<p>Доставка 450 рублей </p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 7-15 рабочих дней</p>
							
							<hr/>
							<p><b>Доставка почтой</b></p>
							<p>Доставка 450 рублей</p>
							<p>Срок доставки по условиям почты России</p>
							
							<p>Минимальная сумма заказа в эти города 500 рублей</p>
							
							<p>ВАЖНО! Стоимость, тип и срок доставки для маленьких или удаленных населенных пунктов может отличаться от заявленной. Наш менеджер обязательно уточнит вам все условия доставки для таких населенных пунктов.</p>
							
							<hr/>
							
							<p><b>5 - ТАРИФНАЯ ЗОНА:</b> Для следующих регионов или городов: Магадан, Надым, Новый Уренгой, Норильск, Ноябрьск, Петропавловск-Камчатский (и Елизово), Салехард, Алушта, Евпатория, Керчь, Севастополь, Симферополь, Судак, Феодосия, Ялта</p>
							
							<p><b>Курьерская доставка до двери</b></p>
							<p>Доставка 750 рублей</p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 20-30 рабочих дней</p>
							
							<hr/>
							<p><b>Доставка в пункт самовывоза</b></p>
							<p>Доставка 650 рублей </p>
							<p>Минимальная сумма заказа - 500 рублей</p>
							<p>Срок доставки 20-30 рабочих дней</p>
							
							<hr/>
							<p><b>Доставка почтой</b></p>
							<p>Доставка 650 рублей</p>
							<p>Срок доставки по условиям почты России</p>
							
							<p>Минимальная сумма заказа в эти города 500 рублей</p>
							
							<p>ВАЖНО! Стоимость, тип и срок доставки для маленьких или удаленных населенных пунктов может отличаться от заявленной. Наш менеджер обязательно уточнит вам все условия доставки для таких населенных пунктов.</p>
							
							<hr/>
							<!-- <div style="text-align: center;"><img src="/images/dostavka/dostavka.jpg" style="max-width: 500px;"/></div> -->
						</div>
					</div>
				</div>
			</div>
			<!-- Content right end -->
			<!-- Left sidebar start -->
			<div class="col-lg-3 col-md-3 col-sm-3">
				<!-- Best seller start -->
				<div class="sidebar-box latest-post-sidebar owl-buttoncercle-right">
					<!-- Categories start -->
					<div class="sidebar-box">
						<div class="border-b">
							<h5 class="text-uppercase title-b">Другие инструкции</h5>
						</div>
						<ul class="side-wedgetlist mt-20">
							<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>
							<li><nuxt-link to="/zakaz">Как сделать заказ</nuxt-link></li>
							<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>
							<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>
							<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>
							<!--<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>-->
						</ul>
					</div>
					<!-- Categories end -->	
				</div>
				<!-- Best seller end -->
			</div> 
			<!-- Left sidebar end -->
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: 'Доставки и примерка', meta: [ { name: 'description', content: 'Условия доставки и примерки. Описание вариантов получения товара.' } ] };
	},
}
</script>