<template>
<!-- Start of slider area -->

<!-- End of slider area -->
<!-- Start page content -->
<section id="page-content" class="page-wrapper clear">
	<div class="header-main-area">
		<img src="/images/header.jpg" alt="" />
	</div>
	<!-- Banner area start -->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-xs-12">
					<div class="banner-box">
						<div class="image-box img-full relative" v-if="top_banners[0]">
							<img :src="$helper.image(top_banners[0].image)" alt="top_banners[0].alt" />
							<nuxt-link :to="top_banners[0].uri" class="b-hover"></nuxt-link>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<div class="image-box img-full mb-30 relative" v-if="top_banners[1]">
						<img :src="$helper.image(top_banners[1].image)" alt="top_banners[1].alt" />
						<nuxt-link :to="top_banners[1].uri" class="b-hover"></nuxt-link>
					</div>
					<div class="image-box img-full mb-30 relative" v-if="top_banners[2]">
						<img :src="$helper.image(top_banners[2].image)" alt="top_banners[2].alt" />
						<nuxt-link :to="top_banners[2].uri" class="b-hover"></nuxt-link>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner area end -->
	<!-- Product area start -->
	<div class="product-area pt-30">
		<div class="container">
			<!-- Section title -->
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title text-center border-line mb-40">
						<header class="mb-20 rounded-title"><span class="text-uppercase text-black">Последние поступления</span></header>
					</div> 
				</div>
			</div>
			<!-- Section title -->
			<!-- Curosel product start-->
			<div class="row">
				<div class="product-carousel">
					<!-- Single product start-->
					<div v-for="product in numbered.data" class="col-sm-12" style="max-width: 293px;">
						<product-card :product="product"/>
					</div>
					<!-- Single product end-->
				</div>
			</div>
			<!-- Curosel product end-->
		</div>
	</div>
	<!-- Product area end -->

	<div class="product-area pt-30">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title text-center border-line mb-40">
						<header class="mb-20 rounded-title"><span class="text-uppercase text-black">Хиты продаж</span></header>
					</div> 
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div v-for="product in $store.state.list_bottom.numbered.data" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<product-card :product="product"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="blog-update-area ptb-70" v-if="list">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">		
					<ul class="tab-menu-review">
						<li class="active"><a data-toggle="tab" href="#description1">{{ list.articles[0].tab }}</a></li>
						<li><a data-toggle="tab" href="#description2">{{ list.articles[1].tab }}</a></li>
						<li><a data-toggle="tab" href="#description3">{{ list.articles[2].tab }}</a></li>
						<li><a data-toggle="tab" href="#description4">{{ list.articles[3].tab }}</a></li>
						<li><a data-toggle="tab" href="#description5">{{ list.articles[4].tab }}</a></li>
					</ul>
					<div class="tab-content">
						<div id="description1" class="tab-pane fade in active des-tab">
							<h1>{{ list.articles[0].header }}</h1>
							<p>{{ list.articles[0].content }}</p>
						</div>
						<div id="description2" class="tab-pane fade des-tab">
							<h2>{{ list.articles[1].header }}</h2>
							<p>{{ list.articles[1].content }}</p>
						</div>
						<div id="description3" class="tab-pane fade des-tab">
							<h2>{{ list.articles[2].header }}</h2>
							<p>{{ list.articles[2].content }}</p>
						</div>
						<div id="description4" class="tab-pane fade des-tab">
							<h2>{{ list.articles[3].header }}</h2>
							<p>{{ list.articles[3].content }}</p>
						</div>
						<div id="description5" class="tab-pane fade des-tab">
							<h2>{{ list.articles[4].header }}</h2>
							<p>{{ list.articles[4].content }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="banner-area inner-pagination pb-70">
		<div class="container">
			<div class="row">
				<div class="row col-sm-8">
					<div class="col-sm-6">
						<div class="image-box img-full mb-30 relative" v-if="bottom_banners[0]">
							<img :src="$helper.image(bottom_banners[0].image)" :alt="bottom_banners[0].alt" />
							<nuxt-link :to="bottom_banners[0].uri" class="b-hover"></nuxt-link>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="image-box img-full mb-30 relative" v-if="bottom_banners[1]">
							<img :src="$helper.image(bottom_banners[1].image)" :alt="bottom_banners[1].alt" />
							<nuxt-link :to="bottom_banners[1].uri" class="b-hover"></nuxt-link>
						</div>
					</div>
					<div class="col-sm-12 mb-30">
						<div class="image-box img-full relative" v-if="bottom_banners[2]">
							<img :src="$helper.image(bottom_banners[2].image)" :alt="bottom_banners[2].alt" />
							<nuxt-link :to="bottom_banners[2].uri" class="b-hover"></nuxt-link>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="banner-box relative">
						<div class="image-box img-full relative" v-if="bottom_banners[3]">
							<img :src="$helper.image(bottom_banners[3].image)" :alt="bottom_banners[3].alt" />
							<nuxt-link :to="bottom_banners[3].uri" class="b-hover"></nuxt-link>
						</div>
					</div>
				</div>							
			</div>
		</div>
	</div>
</section>
<!-- End page content -->
</template>

<script>
import ProductCard from '@/components/ProductCard.vue'
//import Block from '@/components/Block.vue'

export default {	
	components: {
		ProductCard,
		//Block,
	},
	async asyncData({ store, app }) {
		try {
			let { list, numbered } = (await app.api.get(`list_main`)).data;
			let top_banners = (await app.api.get('banners?position=main_top')).data;
			let bottom_banners = (await app.api.get('banners?position=main_bottom')).data;
			return { list, numbered, top_banners, bottom_banners };
		} catch(err) {
			return { numbered: { data: [] }, list: {} };
		}
	},
	head() {
		return { title: this.list.title, meta: [ { name: 'keywords', content: this.list.meta_keywords }, { name: 'description', content: this.list.meta_description } ] };
	},
	mounted() {
		$(".product-carousel").owlCarousel({
			autoPlay: false, 
			slideSpeed: 2000,
			pagination: true,
			navigation: false,    
			items: 4,
			/* transitionStyle : "fade", */    /* [This code for animation ] */
			navigationText: ["<span></span>","<span></span>"],
			itemsDesktop: [1199, 4],
			itemsDesktopSmall: [980, 3],
			itemsTablet: [768, 2],
			itemsMobile: [479, 2],
		});
	}
}
</script>