<template><div>Выходим...</div></template>
<script>
export default {
    async fetch({ app, store, redirect }) {
        await app.api.get('logout');
        store.commit('SET_USER', null);
        redirect('/');
    }
}
</script>