<template>
<section id="page-content" class="page-wrapper pt-90">
<container class="page-body">	
	<block sm="12">
		<div class="border-b mb-20">
			<h5 class="text-uppercase title-b">Личный кабинет</h5>
		</div>
	</block>
	<block lg="6" xs="12" sm="6">
		<div class="billing-details mt-30">
			<div aria-multiselectable="true" role="tablist" class="panel-group">
				<accordion header="Мои данные" icon="user">
					<p>Здесь вы можете просмотреть и изменить данные своего профиля</p>
					<form class="biling-info" v-on:submit.prevent>
						<div class="col-sm-12">
							<div class="input-box">
								<label style="width: 100%;">Ваша электронная почта: <b class="f-right">{{ user_data.email }}</b></label>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Имя</b></label>
								<input type="text" v-model="user_data.name" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Телефон</b></label>
								<input type="text" v-model="user_data.phone" />
							</div>
						</div>										
						<div class="col-sm-12">
							<div class="input-box mt-10">
								<button class="p-button" @click="save_personal">Сохранить изменения</button>
							</div>
						</div>
					</form>
				</accordion>
				<accordion header="Мой адрес доставки" icon="home">
					<p>Здесь вы можете сохранить предпочитаемый адрес для доставки товара</p>
					<form class="biling-info" v-on:submit.prevent>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Населённый пункт</b></label>
								<input type="text" name="name" v-model="user_data.address.city" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Улица</b></label>
								<input type="text" name="address" v-model="user_data.address.street" />
							</div>
						</div>	
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Дом</b></label>
								<input type="text" name="house" v-model="user_data.address.house" />
							</div>
						</div>									
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Корпус/строение</b></label>
								<input type="text" name="building" v-model="user_data.address.building" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Подъезд</b></label>
								<input type="text" name="porch" v-model="user_data.address.porch" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Квартира</b></label>
								<input type="text" name="flat" v-model="user_data.address.flat" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Код домофона</b></label>
								<input type="text" name="code" v-model="user_data.address.code" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box mt-10">
								<button class="p-button" @click="save_address">Сохранить изменения</button>
							</div>
						</div>
					</form>
				</accordion>
				
				<accordion header="Мои заказы" icon="shopping-cart">
					<h6>История заказов</h6>
					<p v-if="orders.length == 0" class="alert order-alert">У вас всё ещё нет сделанных заказов.</p>
					
					<template v-else v-for="order in orders">
						<table class="order-table --myaccount">
							<tbody>
								<tr v-for="item in order.items">
									<td>{{ item.name }}</td>
									<td>{{ item.article_number }}</td>
									<td>{{ item.size }}</td>
									<td>{{ item.computed_price }}р</td>
								</tr>
								<tr v-if="order.promo">
									<td colspan="4">Промокод: {{ order.promo ? order.promo.name : 'нет' }}</td>
								</tr>
								<tr v-if="order.bonuses">
									<td colspan="4">Оплачено бонусами: {{ order.bonuses }}р</td>
								</tr>
								<tr v-if="order.accrued">
									<td colspan="4">Начислено бонусов: {{ order.accrued }}р</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>{{ order.datetime | datetime }}</td>
									<td class="order-table__status" :style="{ 'background-color': get_status(order.status_id).color }">Статус: {{ get_status(order.status_id).name }}</td>
									<td>Доставка: {{ order.delivery }}р</td>
									<td>Итого: {{ order.total }}р</td>
								</tr>
							</tfoot>
						</table>
					</template>
				</accordion>
			</div>
		</div>
	</block>
	<block lg="6" xs="12" sm="6">
		<div class="billing-details withlink mt-30">
			<div aria-multiselectable="true" role="tablist" class="panel-group">
				<accordion header="Моя копилка" icon="rub">
					<p>Вы можете использовать накопленные деньги на счету при покупке, но не более 50% от стоимости заказа</p>
					<p class="bonuses-block">{{ user_data.bonuses }}р</p>
				</accordion>
				
				<accordion header="Мои подписки (новости, акции, скидки)" icon="envelope">
					<p>Здесь вы можете подписаться на нашу рассылку и получать бонусы, скидки и новости или же отказаться от рассылки</p>
					<form class="biling-info" v-on:submit.prevent>
						<div class="col-sm-12">
							<div class="input-box mt-10">
								<a class="p-button" v-if="!user_data.email_subscribe" @click="email_subscribe">Подписаться на рассылку</a>
								<p v-else>Вы подписаны на E-mail рассылку <a class="f-right" style="text-decoration: underline;" @click="email_unsubscribe">отписаться</a></p>
							</div>
							<div class="input-box">
								<a class="p-button" v-if="!user_data.sms_subscribe" @click="sms_subscribe">Получать Sms уведомления</a>
								<p v-else>Вы подписаны на получение Sms о заказе и доставке <a class="f-right" style="text-decoration: underline;" @click="sms_unsubscribe">отписаться</a></p>
							</div>
						</div>
					</form>
				</accordion>
				
				<accordion header="Сменить пароль" icon="key">
					<form class="biling-info" v-on:submit.prevent>							
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Старый пароль</b></label>
								<input type="password" name="password" placeholder="" v-model="change_password_form.old_password" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Новый пароль</b></label>
								<input type="password" name="new_password" placeholder="" v-model="change_password_form.new_password" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box">
								<label><b>Повторите новый пароль</b></label>
								<input type="password" name="new_password_repeat" placeholder="" v-model="change_password_form.new_password2" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="input-box mt-10">
								<button class="p-button" @click="change_password">Изменить</button>
							</div>
						</div>
					</form>
				</accordion>
			</div>
		</div>
	</block>
	<block lg="12" xs="12" sm="12" style="text-align: right">
		<button @click="back_to_catalog" class="p-button text-white mb-20" style="background-color: rgb(255, 123, 159) !important;">Вернуться в каталог</button>
		<div>
			<nuxt-link to="/logout" class="mb-20 mr-10" style="float: right; font-size: 12px;">Выйти из моего профиля</nuxt-link>
		</div>
	</block>
</container>
</section>
</template>

<script>
import PageTitleArea from '@/components/PageTitleArea.vue'
import Block from '@/components/Block.vue'
import Container from '@/components/Container.vue'
import Accordion from '@/components/Accordion.vue'
import { EventBus } from '@/plugins/event-bus.js';

export default {
	components: {
		PageTitleArea,
		Block,
		Container,
		Accordion
	},
	data() {
		return { change_password_form: { old_password: '', new_password: '' } };
	},
	async asyncData({ redirect, store, app, req }) {
		try {
			let user_data = (await app.api.get('user_data')).data;
			let orders = (await app.api.get('user_orders')).data;
			return { user_data, orders };
		}
		catch(e) {
			store.commit('SET_USER', null);
			if(e.response.status == 401) redirect('/');
		}
	},
	filters: {
		datetime(datetime) {
			return new Date(datetime).toLocaleString();
		}
	},
	methods: {
		get_status(status_id) {
			return this.$store.state.statuses.find(f => f.status_id == status_id);
		},
		async change_password() {
			try{
				if(this.change_password_form.new_password !== this.change_password_form.new_password2) 
					return this.$notify.error('Введённые пароли не совпадают!');
				
				await this.$api.post('change_password', this.change_password_form);
				this.$notify.success("Вы успешно изменили пароль!");
				this.change_password_form.old_password = '';
				this.change_password_form.new_password = '';
				this.change_password_form.new_password2 = '';
				EventBus.$emit('accordion-hide-all');
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async save_personal() {
			try{
				await this.$api.post('set_personal_data', { name: this.user_data.name, phone: this.user_data.phone });
				this.$notify.success("Ваши данные сохранены успешно!");
				EventBus.$emit('accordion-hide-all');
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async save_address() {
			try{
				await this.$api.post('set_address_data', this.user_data.address);
				this.$notify.success("Ваш адрес доставки успешно изменён!");
				EventBus.$emit('accordion-hide-all');
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async email_subscribe() {
			try{
				await this.$api.post('email_subscribe');
				this.$notify.success('Вы подписались на E-mail рассылку!');
				this.user_data.email_subscribe = true;
				
				EventBus.$emit('accordion-hide-all');
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async email_unsubscribe() {
			try{
				await this.$api.post('email_unsubscribe');
				this.$notify.success('Вы успешно отписались от рассылки по E-mail.');
				this.user_data.email_subscribe = false;
				
				EventBus.$emit('accordion-hide-all');
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async sms_subscribe() {
			try{
				await this.$api.post('sms_subscribe');
				this.$notify.success('Вы успешно подписались на Sms рассылку!');
				this.user_data.sms_subscribe = true;
				
				EventBus.$emit('accordion-hide-all');
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async sms_unsubscribe() {
			try{
				await this.$api.post('sms_unsubscribe');
				this.$notify.success('Вы успешно отписались от рассылки по Sms.');
				this.user_data.sms_subscribe = false;
				
				EventBus.$emit('accordion-hide-all');
			} catch(err) {
				this.$notify.error(err);
			}
		},
		back_to_catalog() {
			if(history.length > 2)
				this.$router.go(-1);
			else
				this.$router.push('/');
		}
	},
	head() {
		return { title: 'Личный кабинет' };
	}
}
</script>

<style>
.order-table.--myaccount {
	width: 100%;
    margin: 1em 0;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.order-table.--myaccount .order-table__status {
	color: white;
}

.order-table.--myaccount td {
    border: 1px solid #d2cece;
    text-align: center;
}
.order-table.--myaccount tr td:nth-of-type(1) {
	width: 30%;
}
.order-table.--myaccount tr td:nth-of-type(2), .order-table.--myaccount tr td:nth-of-type(3),.order-table.--myaccount tr td:nth-of-type(4) {
	width: 25%;
}
</style>