<template>
<section id="page-content" class="page-wrapper pt-90">
<container class="page-body pb-70" v-if="$store.state.wishlist.length == 0">	
	<block lg="12" md="12" sm="12" style="text-align: center; padding: 150px 0;">
		<span style="font-size: 24px; margin-bottom: 20px; display: inline-block;">В вашем списке пожеланий пока нет ни одного товара!</span><br/>
		<button @click="to_catalog" class="p-button">Посмотреть каталог</button>
	</block>
</container>
<container class="page-body" v-else>	
	<block lg="12" md="12" sm="12">
		<div class="wishlist-table table-responsive">
			<div class="border-b mb-20">
				<h5 class="text-uppercase title-b">Список отложенных товаров</h5>
			</div>
			<table  class="order-table mb-70">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th class="product-name"><span class="nobr">Название</span></th>
						<th class="product-price"><span class="nobr">Цена</span></th>
						<th class="product-price"><span class="nobr">Скидка</span></th>
					</tr>
				</thead>				
				<tbody>
					<tr v-for="product in $store.state.wishlist">
						<td class="product-remove">
							<!--<div>-->
								<a href="javascript:void()" class="remove" @click="$store.commit('REMOVE_FROM_WISHLIST', product)">×</a>
							<!--</div>-->
						</td>
						<td class="product-thumbnail">
							<!--<div class="pro-img img-full f-left">-->
								<nuxt-link :to='"/p/"+product.product_id'><img :src="$helper.thumbs(product.images[0])" alt="" /></nuxt-link>
							<!--</div>-->
						</td>
						<td> 
							<div class="pro-name"><nuxt-link :to='"/p/"+product.product_id'>{{ product.name }}</nuxt-link></div>
						</td>
						<td class="product-price"><span class="p-price">{{ product.price }}р</span></td>
						
						<td class="product-price" v-if="product.discount"><div class="text-green">-{{ product.discount }}%</div><span class="p-price">{{ product.price }}р</span></td>
						<td class="product-price" v-else>Скидка отсутствует</td>
					</tr>
				</tbody>
			</table>
		</div>
	</block> 
</container>
</section>
</template>

<script>
import PageTitleArea from '@/components/PageTitleArea.vue'
import Block from '@/components/Block.vue'
import Container from '@/components/Container.vue'

export default {
	components: {
		PageTitleArea,
		Block,
		Container
	},
	methods: {
		to_catalog() {
			global.location.href = '/';
		},
		clear() {
			this.$store.commit('CLEAR_WISHLIST');
		}
	},
	head() {
		return { title: 'Отложенные товары', meta: [ { name: 'description', content: 'Список ваших отложенных товаров.' } ] };
	},
	async mounted() {
		await this.$store.dispatch('load_wishlist');
	}
}
</script>