<template>
<div class="page-body pt-90 pb-40 blog-details-page dostavka">
	<div class="container">
		<div class="row">
			<!-- Content right start -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="blog-list">
					<div class="blog-box">
						<div class="border-b mb-20">
							<h5 class="text-uppercase title-b">-15% на Новый год</h5>
						</div>
						<div class="blog-text pt-15 pix">
							<p>До конца 2017 года наш магазин проводит акцию для наших дорогих покупательниц. Вы можете получить скидку в 15% по промокоду <b>NG2018</b> абсолютно на любой заказ!﻿</p>
							<p>Просто введите кодовое слово﻿﻿﻿ <b>NG2018</b> в специальное поле при оформлении заказа и программа автоматически уменьшит сумму покупки на 15%.</p>
							<p>Поздравляем всех женщин с наступающим <u>Новым годом</u>!!!</p>
							<div style="text-align: center;"><img src="/pics/HyvA84-GM.jpg" style="max-width: 500px;"/></div>
						</div>
					</div>
				</div>
			</div>
			<!-- Content right end -->
			<!-- Left sidebar start -->
			<div class="col-lg-3 col-md-3 col-sm-3">
				<!-- Best seller start -->
				<div class="sidebar-box latest-post-sidebar owl-buttoncercle-right">
					<!-- Categories start -->
					<div class="sidebar-box">
						<div class="border-b">
							<h5 class="text-uppercase title-b">Другие инструкции</h5>
						</div>
						<ul class="side-wedgetlist mt-20">
							<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>
							<li><nuxt-link to="/zakaz">Как сделать заказ</nuxt-link></li>
							<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>
							<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>
							<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>
							<!--<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>-->
						</ul>
					</div>
					<!-- Categories end -->	
				</div>
				<!-- Best seller end -->
			</div> 
			<!-- Left sidebar end -->
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: '-15% на Новый год', meta: [ { name: 'description', content: 'Условия доставки и примерки. Описание вариантов получения товара.' } ] };
	},
}
</script>