<template>
<div class="page-body pt-90 pb-40 blog-details-page">
	<div class="container">
		<div class="row">
			<!-- Content right start -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="blog-list">
					<div class="blog-box">
						<div class="border-b mb-20">
							<h5 class="text-uppercase title-b">Выберите подарок.</h5>
						</div>
						<div class="blog-text pt-15 pix">
							<ol>
								<li>Выберите понравившийся Вам товар.<img src="/images/podarki/1.jpg" alt=""/></li>
								<li>Выберите понравившийся Вам товар.<img src="/images/podarki/2.jpg" alt=""/></li>
								<li>Выберите понравившийся Вам товар.<img src="/images/podarki/3.jpg" alt=""/></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- Content right end -->
			<!-- Left sidebar start -->
			<div class="col-lg-3 col-md-3 col-sm-3">
				<!-- Best seller start -->
				<div class="sidebar-box latest-post-sidebar owl-buttoncercle-right">
					<!-- Categories start -->
					<div class="sidebar-box">
						<div class="border-b">
							<h5 class="text-uppercase title-b">Полезная информация</h5>
						</div>
						<ul class="side-wedgetlist mt-20">
							<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>
							<li><nuxt-link to="/zakaz">Как оформить заказ</nuxt-link></li>
							<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>
							<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>
							<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>
							<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>
						</ul>
					</div>
					<!-- Categories end -->	
				</div>
				<!-- Best seller end -->
			</div> 
			<!-- Left sidebar end -->
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: 'Подарки.' };
	}
}
</script>