<template>
<div class="page-body pt-90 pb-40 blog-details-page promokod">
	<div class="container">
		<div class="row">
			<!-- Content right start -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="blog-list">
					<div class="blog-box">
						<div class="border-b mb-20">
							<h5 class="text-uppercase title-b">Как использовать промокод. Пошаговая инструкция.</h5>
						</div>
						<div class="blog-text pt-15 pix">
							<ol class="instructions">
								<li>Промокоды могут использовать только зарегистрированные пользователи. Получать промокоды вы можете из наших рассылок, смс сообщений или находить на главной странице во время проведения различных акций.</li>
								<!-- <li>Узнать кодовое слово можно присоединившись к любой из наших групп в соцсетях. После вступления напишите сообщение со словом "Промокод" и в ответ вы получите кодовое слово и сможете получить скидку <b>7% с любой покупки</b>. <div class="row" style="font-weight: normal"> -->
										
										<!-- <div class="col-sm-3"> -->
											<!-- <div class="single-product box"> -->
												<!-- <a href="https://www.ok.ru/group/53450592944269/" target="_blank" class="odnoklassniki social"> -->
													<!-- <span class="social__name">Одноклассники</span> -->
													<!-- <span class="social__join">Присоединиться</span> -->
												<!-- </a> -->
											<!-- </div>	 -->
										<!-- </div> -->
									
										<!-- <div class="col-sm-3"> -->
											<!-- <div class="single-product box"> -->
												<!-- <a href="https://vk.com/dlya_milih_dam24" target="_blank" class="vkontakte social"> -->
													<!-- <span class="social__name">ВКонтакте</span> -->
													<!-- <span class="social__join">Присоединиться</span> -->
												<!-- </a> -->
											<!-- </div> -->
										<!-- </div> -->
									
										<!-- <div class="col-sm-3"> -->
											<!-- <div class="single-product box"> -->
												<!-- <a href="https://www.facebook.com/imDMD/" target="_blank" class="facebook social"> -->
													<!-- <span class="social__name">Facebook</span> -->
													<!-- <span class="social__join">Присоединиться</span> -->
												<!-- </a> -->
											<!-- </div> -->
										<!-- </div> -->
								
										<!-- <div class="col-sm-3"> -->
											<!-- <div class="single-product box"> -->
												<!-- <a href="https://www.instagram.com/dlya.milyh.dam/" target="_blank" class="instagram social"> -->
													<!-- <span class="social__name">Instagram</span> -->
													<!-- <span class="social__join">Присоединиться</span> -->
												<!-- </a> -->
											<!-- </div> -->
										<!-- </div>		 -->
									<!-- </div>																									 -->
								<!-- </li> -->
								<li>Если вы не зарегистрированы на сайте - <b>зарегистрируйтесь</b> и зайдите в свой профиль.<img src="/images/promokod/register.jpg" alt=""/></li>
								<li>Использовать промокод вы сможете на <b>странице оформления заказа</b>. Кодовое слово надо написать в <b>специальную графу</b> и система автоматически посчитает вам скидку. Каждый промокод можно использовать только <b>один раз</b>.<img src="/images/promokod/promokod.jpg" alt=""/></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- Content right end -->
			<!-- Left sidebar start -->
			<div class="col-lg-3 col-md-3 col-sm-3">
				<!-- Best seller start -->
				<div class="sidebar-box latest-post-sidebar owl-buttoncercle-right">
					<!-- Categories start -->
					<div class="sidebar-box">
						<div class="border-b">
							<h5 class="text-uppercase title-b">Другие инструкции</h5>
						</div>
						<ul class="side-wedgetlist mt-20">
							<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>
							<li><nuxt-link to="/zakaz">Как сделать заказ</nuxt-link></li>
							<!--<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>-->
							<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>
							<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>
							<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>
						</ul>
					</div>
					<!-- Categories end -->	
				</div>
				<!-- Best seller end -->
			</div> 
			<!-- Left sidebar end -->
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: 'Промокоды', meta: [ { name: 'description', content: 'Как использовать промокод. Пошаговая инструкция.' } ] };
	}
}
</script>