<template>
<div class="page-body pt-90 pb-40 blog-details-page razmer">
	<div class="container">
		<div class="row">
			<!-- Content right start -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="blog-list">
					<div class="blog-box">
						<div class="border-b mb-20">
							<h5 class="text-uppercase title-b">Как выбрать размер.</h5>
						</div>
						<ul class="tab-menu-review">
							<li class="active"><a data-toggle="tab" href="#description1">{{ $store.state.types[1].name }}</a></li>
							<li><a data-toggle="tab" href="#description2">{{ $store.state.types[2].name }}</a></li>
						</ul>
						<div class="tab-content">
							<div id="description1" class="tab-pane fade in active des-tab">
								<h2>{{ $store.state.types[1].name }}</h2>
								<div v-html="$store.state.types[1].size_table"></div>
							</div>
							<div id="description2" class="tab-pane fade des-tab">
								<h2>{{ $store.state.types[2].name }}</h2>
								<div v-html="$store.state.types[2].size_table"></div>
							</div>
						</div>
						<div class="row ptb-40">
							<div class="col-md-3">
								<img src="/images/razmer/siluet.jpg" style="width: 100%;"/>
							</div>
							<div class="col-md-9">
								<h5>Несколько полезных советов - как выбрать размер</h5>
								<p>Покупая вещи в интернет-магазине, вы получаете множество плюсов (экономия времени, доставка домой, более низкие цены и многие другие), но есть одна небольшая сложность к которой нужно приспособиться – <b>правильный выбор размера</b>.</p>
								<p>Но все далеко не так сложно, как может показаться. Нужно просто научиться пользоваться <b>таблицей размеров</b>, которая есть на каждом уважающем себя сайте по продаже одежды.</p>
								<p>В отличие от других магазинов, наших каталогах все размеры уже <b>переведены в русский формат размера</b>, поэтому с этим у вас трудностей не будет. Если вы сомневаетесь в каких-то конкретных параметрах (обхват талии, бедер или груди) вы можете уточнить их в таблице размеров. Например, блузка (верх) 52 размера – обхват груди 102-106 или брюки 56 размера – обхват бедер 116-120</p>
								<p>Также вы можете посмотреть параметры в <b>описании карточки</b> и почитать <b>отзывы</b> о товаре или <b>задать вопрос</b>. Все это можно сделать на карточке товара. Удачных вам покупок!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Content right end -->
			<!-- Left sidebar start -->
			<div class="col-lg-3 col-md-3 col-sm-3">
				<!-- Best seller start -->
				<div class="sidebar-box latest-post-sidebar owl-buttoncercle-right">
					<!-- Categories start -->
					<div class="sidebar-box">
						<div class="border-b">
							<h5 class="text-uppercase title-b">Другие инструкции</h5>
						</div>
						<ul class="side-wedgetlist mt-20">
							<!--<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>-->
							<li><nuxt-link to="/zakaz">Как сделать заказ</nuxt-link></li>
							<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>
							<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>
							<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>
							<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>
						</ul>
					</div>
					<!-- Categories end -->	
				</div>
				<!-- Best seller end -->
			</div> 
			<!-- Left sidebar end -->
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: 'Выбор размера', meta: [ { name: 'description', content: 'Как выбрать размер. Несколько полезных советов и рекомендаций.' } ] };
	}
}
</script>