<template>
<div class="page-body pt-70 mb-70">
	<div class="container">
		<div class="row">
			<div class="product-banner">
				<div class="p-banner-text ptb-70" style="background-color: #18bd9c;">
					<header class="text-uppercase text-white plr-15 mb-10" style="font-size: 32px; font-family: museoslab500; line-height: 1.1; text-align: center; text-shadow: 2px 2px 2px rgb(99, 75, 75);">Спасибо за покупку!</header>
					<p class="text-white text-uppercase plr-15" style="font-family: museoslab500; color: white; text-align: center;">Все данные по вашему заказу отправлены на ваш адрес электронной почты. В ближайшее время с вами свяжется менеджер нашей компании для уточнения деталей доставки. Если заказ сделан в нерабочее время оператор свяжется с Вами утром.</p>
				</div>
			</div>
		</div>
		<div class="row mt-40">
			<div class="product-banner">
				<div class="p-banner-text ptb-70" style="background-color: #ff7a9e;">
					<header class="text-uppercase text-white plr-15 mb-10" style="font-size: 25px; font-family: museoslab500; line-height: 1.1; text-align: center; text-shadow: 2px 2px 2px rgb(99, 75, 75);">Вам будут начислены бонусы</header>
					<p class="text-white text-uppercase plr-15" style="font-family: museoslab500; color: white; text-align: center;">После оплаты заказа Вам будут начислены денежные бонусы в течении недели. Их Вы можете использовать при следующей покупке. Подробнее об <a href="/bonusi" style="color: black;">использовании бонусов</a></p>
				</div>			
			</div>
		</div>
		<div class="row mt-40" v-if="!$store.state.user">
			<div class="product-banner">
				<div class="p-banner-text ptb-70" style="background-color: #5bc0de;">
					<header class="text-uppercase text-white plr-15 mb-10" style="font-size: 25px; font-family: museoslab500; line-height: 1.1; text-align: center;">Если Вы заказываете у нас в первый раз - Вам на почту прийдёт письмо с логином и паролем от личного кабинета. В личном кабинете Вы можете проверять количество накопленных денежных бонусов и многое другое.</header>
				</div>			
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: 'Спасибо за покупку' };
	},
}
</script>