<template>
<div class="page-body pt-90 pb-40 blog-details-page vozvrat">
	<div class="container">
		<div class="row">
			<!-- Content right start -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="blog-list">
					<div class="blog-box">
						<div class="border-b mb-20">
							<h5 class="text-uppercase title-b">Как оформить возврат.</h5>
						</div>
						<div class="blog-text pt-15 pix">
							<p>Вернуть товар, купленный в ДМД очень просто. Для этого нужно соблюсти несколько формальностей.</p>
							<p>- Не забудьте <b>сохранить товарный вид</b> и не пользоваться (носить) вещью.</p>
							<p>- Не отрывайте <b>бирки</b>, <b>ярлыки и этикетки</b>.</p>
							<p>- Сохраните <b>упаковку товара</b>.</p>
							<p>- Пришлите письмо на почту <i>info@jenskaya-odejda24.ru</i> с <b>номером заказа</b>, <b>артикулом товара</b>, <b>описанием причины возврата товара</b> и <b>реквизитами</b> для возврата денег.</p>
							<p>- Упакуйте товар вместе с накладной и отправьте <b>по почте</b> по адресу город Москва, город Московский, микрорайон 1 дом 32 кв 73 индекс 108811 на имя менеджера – Голованов Петр Владимирович или в пункт самовывоза СДЭК в городе Московский на тоже имя.</p>
							<p>В течении <b>трех дней после получения товара</b> мы перечислим вам деньги за возвращенный товар.</p>
							<p>Если у вас остались вопросы звоните по телефону поддержки, мы обязательно вам поможем!</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Content right end -->
			<!-- Left sidebar start -->
			<div class="col-lg-3 col-md-3 col-sm-3">
				<!-- Best seller start -->
				<div class="sidebar-box latest-post-sidebar owl-buttoncercle-right">
					<!-- Categories start -->
					<div class="sidebar-box">
						<div class="border-b">
							<h5 class="text-uppercase title-b">Другие инструкции</h5>
						</div>
						<ul class="side-wedgetlist mt-20">
							<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>
							<li><nuxt-link to="/zakaz">Как сделать заказ</nuxt-link></li>
							<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>
							<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>
							<!--<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>-->
							<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>
						</ul>
					</div>
					<!-- Categories end -->	
				</div>
				<!-- Best seller end -->
			</div> 
			<!-- Left sidebar end -->
		</div>
	</div>
</div>
</template>

<script>
export default {
	layout: 'shortcut',
	head() {
		return { title: 'Возврат товара', meta: [ { name: 'description', content: 'Как вернуть купленную вещь. Пошаговая инструкция.' } ] };
	}
}
</script>