<template>
<div class="page-body pt-70">
	<div class="container">
		<div class="row">
			<admin-left-menu :category="category" :subcategories="category.subcategories" />
			<products :products="products" v-model="filter" />
		</div>
	</div>
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'
import Products from '@/components/Products.vue'
import axios from 'axios'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		AdminLeftMenu,
		Products
	},
	async asyncData ({ store, error, params }) {
		let category = store.state.categories.find(f => f.uri == params.category);
		if(!category) return error({ statusCode: 404, message: 'ПА: Категория товара не найдена' });
		
		let products = (await axios.get(`http://localhost:3000/api/category?category_id=${category.category_id}`)).data;
		store.commit('SET_PAGE_TITLE', category.catalog_title);
		return { category, products, filter: null };
	},
	head() {
		return { title: this.category.catalog_title };
	},
	watch: {
		async filter(value) {
			let category = this.category;
			let products = (await axios.get(`http://localhost:3000/api/category_filtered?category_id=${category.category_id}&filter=${JSON.stringify(value)}`)).data;
			this.products = products;
		}
	}
}
</script>