.product-form {
	width: 100%;
}
.product-form select, .product-form input[type=text], .product-form input[type=number], .product-form textarea {
	width: 100%;
	display: block;
}
.product-form label {
	display: block;
	overflow: auto;
}
select {
	padding-left: 5px;
	background: none;
}
select:after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
}
.product-form__sizes-count {
	width: 50px;
}
.product-form__sizes-count input {
	text-align: center;
	padding-left: 0;
}
.product-form__image-add {
	height: 18px;
	line-height: 10px;
	font-size: 10px;
	position: absolute;
	margin-left: 10px;
}
.product-form input[type=file] {
	padding-top: 10px;
}
.size {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	padding: 2px 4px;
	margin: 0 2px;
}
.size__count {
	font-size: 9px;
    font-weight: normal;
    position: absolute;
    right: -8px;
    bottom: -9px;
    z-index: 5;
    background-color: white;
    padding: 0 1px;
    border: 1px solid black;
}
.size__count::-webkit-outer-spin-button,
.size__count::-webkit-inner-spin-button {
	 /*-webkit-appearance: none;*/
}
.pagination-li {
	list-style: none;
}
.pagination-li li {
	display: inline-block;
	margin: 15px 0;
	padding: 11px 6px;
}
.pagination-li li.active {
	font-weight: bold;
	background-color: rgb(74, 199, 172);
}
.pagination-li li.active a {
	color: white;
}


@media (max-width: 991px) {
	.sidebar {
		display: block;
		width: 100%;
		height: 225px;
		z-index: 5;
		position: unset;   
	}
	.sidebar .sidebar-wrapper {
		width: 100%;
	}
	.sidebar ul {
		display: flex;
		justify-content: flex-start; /* заменено с justify-content: space-around; */
		overflow: auto;
	}
}