/*-----------------------------------------------------------------------------------

    Template Name: Bozon HTML Template
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
  1. home 
  	1.1 banner css style
  	1.2 product css style
    1.3 testimonial style 
    1.4 product tab style
    1.5 services style
    1.6 Blog update style
    1.7 quick view style
  2. Home version 2
  3. Home version 3
	4. Home version 4
	5. Home version 5
	6. Home version 6
	7. Home version 7 
	8. shop
	9. single product page
	10. cart page
	11. wishlist page
	12. checkout page
	13. Myaccount page 
	14. contact page
	15. blog page
	16. blog details page
	17. 404 page 
  18. shortcode 
	
	
/*************************************
         Custom-content all   
 **************************************/
/* ----------------------------------------------------
	1.1 banner css style
-------------------------------------------------------*/
@font-face {
    font-family: 'museoslab500';
    src: url('/fonts/museoslab500.otf') format('opentype');
}
select, select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0) url("/images/icons/arrow_down.png") no-repeat scroll 90% center;
  border: 1px solid #e9e9e9;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  line-height: 100%;
  max-width: 100%;
  outline: 0 none;
  padding: 0;
  position: relative;
  text-indent: 0.01px;
  text-overflow: "";
}
.input-box select {
  background: rgba(0, 0, 0, 0) url("/images/icons/arrow_down.png") no-repeat scroll 98% center;
  padding: 0 10px;
}
.text-box {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  bottom: 0;
  font-family: Museo Slab;
  font-size: 17px;
  letter-spacing: 1px;
  padding: 20px;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  width: 60%;
}
.text-box:before {
  border: 1px solid #ffffff;
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.text-box p {
  color: #555;
  font-family: MuseoSlab-500;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.text-box h2 {
  font-family: MuseoSlab-500;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 5px;
  text-transform: uppercase;
  color: #555;
}
.text-box h3 {
  color: #7ec6ac;
  font-family: MuseoSlab-500;
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 50px;
  margin-top: 0;
  text-transform: uppercase;
}
.text-box h3 span.number {
  font-size: 90px;
  line-height: 0;
  position: relative;
  top: 44px;
}
/* ----------------------------------------------------
	1.2 product css style
-------------------------------------------------------*/
.single-product .product-image {
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 5px;
}
.sale-text:before {
  border-bottom-style: solid;
  border-bottom-width: 8.5px;
  bottom: 100%;
}
.sale-text:before,.sale-text:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  width: 0;
}
.sale-text:before {
  border-bottom-color: #7ec6ac;
}
.sale-text:after {
  border-top-style: solid;
  border-top-width: 8.5px;
  top: 100%;
}
.sale-text:before,.sale-text:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  width: 0;
}
.sale-text:after {
  border-top-color: #7ec6ac;
}
.sale-text {
  display: block;
  font-family: PT Sans;
  font-size: 13px;
  height: 22px;
  line-height: 22px;
  margin: 11.55px 0;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 40px;
  z-index: 9;
}
.sale-text {
  background-color: #7ec6ac;
  color: #ffffff;
}
.sale-text span::before,.new-text span::before  {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 15px;
}
.sale-text span::after,.new-text span::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 12px;
  position: absolute;
  width: 15px;
}
.new-text:before {
  border-bottom-style: solid;
  border-bottom-width: 8.5px;
  bottom: 100%;
}
.new-text:before,.new-text:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  width: 0;
}
.new-text:before {
  border-bottom-color: #e77a9c;
}
.new-text:after {
  border-top-style: solid;
  border-top-width: 8.5px;
  top: 100%;
}
.new-text:before,.new-text:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  width: 0;
}
.new-text:after,.new-text span::after {
  border-top-color: #e77a9c;
}
.new-text {
  display: block;
  font-family: PT Sans;
  font-size: 13px;
  height: 22px;
  left: 20px;
  line-height: 22px;
  margin: 11.55px 0;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 40px;
  z-index: 9;
}
.new-text {
  background-color: #e77a9c;
  color: #ffffff;
}
.product-image a img {
  backface-visibility: hidden;
  transition: all 0.7s ease 0s;
}
.product-image a img.secondary-image {
  backface-visibility: hidden;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-180deg);
  transition: all 0.7s ease 0s;
  width: 100%;
  z-index: -1;
}
.add-to-cart{
  margin-top: 20px;
}
.single-product:hover .product-image a .primary-image {
  transform: rotateY(180deg);
}
.single-product:hover .product-image a .secondary-image {
  opacity: 1;
  transform: rotateY(0deg);
  z-index: 1;
}
.action-buttons {
  left: -17px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  transition: all 0.3s ease 0s;  
}
.single-product:hover .action-buttons{opacity:1;}
.pro-rating {
  bottom: 0px;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  transition:all 0.3s ease-in-out 0s;
}
.pro-rating i{color:#999;font-size:12px}
.single-product:hover .pro-rating {
  bottom: 48px;
  opacity: 1;
}
.single-product:hover h6.price{opacity:0;transition: all 0.3s ease 0s;}

.add-to-cart.border-line::before {
  top: 16px;
}
.owl-theme .owl-controls .owl-page span {
  background: #666 none repeat scroll 0 0;
  margin: 5px;
  opacity: 0.5;
}
.owl-theme .owl-controls .owl-page.active span {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #656565;
}
.owl-theme .owl-controls .owl-page {
  margin-top: 10px;
}
/* ----------------------------------------------------
  1.3 testimonial style
-------------------------------------------------------*/
.testimonial-area {
  background: rgba(0, 0, 0, 0) url("/images/bg/test-bg.jpg") no-repeat center center / cover ;
  position: relative;
  width: 100%;
}
.testmonial-carousel .item{text-align:center;color:#fff;}
.test-img {
  margin-bottom: 100px;
}
.test-text {
  padding: 0 120px;
}
.test-text p{font-size:14px;}
.test-heading {
  font-weight: normal;
  left: 0;
  position: absolute;
  text-align: center;
  top: -122px;
  width: 100%;
  z-index: 9;
}
.testimonial-area .owl-theme .owl-controls {
  left: 0;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 100%;
}
.testimonial-area .owl-theme .owl-controls .owl-page span {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #fff;
  opacity:1;
}
.owl-theme .owl-controls .owl-page.active span {
  background:#fff;
}
.test-text > h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.test-text h6 {
  font-size: 14px;
  font-weight: normal;
}
.test-text > h4 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}
/* ----------------------------------------------------
  1.4 product tab style
-------------------------------------------------------*/
.tab-menu li {
  background: #fff none repeat scroll 0 0;
}
.tab-menu li:first-child{padding-left: 15px;}
.tab-menu li:last-child{padding-right: 15px;}
.tab-menu li a {
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  color: #777;
  font-family: museoslab500;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding: 10px 28px;
  text-transform: uppercase;
}
.product-tab-area .border-line::before {
  top: 10px;
}
.tab-menu li.active a,.tab-menu li a:hover{background: #EEEEEE;color:#3b3a3a;border: 1px solid #9b9b9b;}
/* ----------------------------------------------------
  1.5 services style
-------------------------------------------------------*/
.icon::before {
  border-right: 1.4142px solid #e9e9e9;
  border-top: 1.4142px solid #e9e9e9;
  top: -28.2843px;
}
.icon::before,.icon::after {
  background-color: inherit;
  content: "";
  height: 56.57px;
  left: 10px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 58px;
  z-index: 1;
}
.icon::after {
  border-bottom: 1.4142px solid #e9e9e9;
  border-left: 1.4142px solid #e9e9e9;
  bottom: -28.2843px;
}
.icon::before,.icon::after {
  background-color: inherit;
  content: "";
  height: 56.57px;
  left: 10px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 58px;
  z-index: 1;
}
.icon {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  float: left;
  height: 38px;
  margin: 23.09px 0;
  padding: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 80px;
}
.icon span::before {
  border-right: 0 solid #333333;
  border-top: 0 solid #333333;
  top: -24.7487px;
}
.icon span::before,.icon span::after {
  background-color: inherit;
  content: "";
  height: 49.5px;
  left: 10px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 49.5px;
  z-index: 1;
}
.icon span::after {
  border-bottom: 0 solid #333333;
  border-left: 0 solid #333333;
  bottom: -24.7487px;
}
.icon span::before,.icon span::after {
  background-color: inherit;
  content: "";
  height: 49.5px;
  left: 10px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 49.5px;
  z-index: 1;
}
.item-box:hover .icon span, .item-box:hover .icon span {
  background: #7ec6ac none repeat scroll 0 0;
}
.item-box .icon span {
  border-left: 0 solid #e9e9e9;
  border-right: 0 solid #e9e9e9;
  display: block;
  height: 34.41px;
  margin: 2px 4.5px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 69px;
}
.icon span i {
  font-size: 25px;
  position: relative;
  z-index: 9;
  color: #777;
}
.item-box:hover .icon span i{color:#fff;}
/* ----------------------------------------------------
  1.6 Blog update style
-------------------------------------------------------*/
.date-box:before {
  border-right: 1.4142px solid #ffffff;
  border-top: 1.4142px solid #ffffff;
  top: -21.2132px;
}
.date-box:before,.date-box:after {
  background-color: #ffffff;
  content: "";
  height: 42px;
  left: 7.7868px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 42.43px;
  z-index: -1;
}
.date-box::after {
  border-bottom: 1.4142px solid #ffffff;
  border-left: 1.4142px solid #ffffff;
  bottom: -21.2132px;
  top: 9px;
}
.date-box:before,.date-box:after {
  background-color: #ffffff;
  content: "";
  height: 42px;
  left: 7.7868px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 42.43px;
  z-index: -1;
}
.date-box {
  background-color: #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  bottom: -33px;
  float: left;
  height: 29.64px;
  margin: 17.32px -3px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 60px;
  z-index: 0;
}
.date-box span::before {
  border-right: 0 solid #7ec6ac;
  border-top: 0 solid #7ec6ac;
  top: -19px;
}
.date-box span::before,.date-box span::after {
  background-color: inherit;
  content: "";
  height: 37px;
  left: 7.5px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 38px;
  z-index: 1;
}
.date-box span::after {
  border-bottom: 0 solid #7ec6ac;
  border-left: 0 solid #7ec6ac;
  bottom: -19px;
}
.date-box span::before, .date-box span::after {
  background-color: inherit;
  content: "";
  height: 37px;
  left: 7.5px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 38px;
  z-index: 1;
}
.date-box span {
  background-color: #7ec6ac;
  border-left: 0 solid #7ec6ac;
  border-right: 0 solid #7ec6ac;
  display: block;
  height: 25px;
  margin: 2px;
  position: relative;
  width: 54px;
}
.date-box {
  text-align: center;
}
.date-box span label::before {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 4px;
  position: absolute;
  top: 19px;
  width: 25px;
}
.date-box span label {
  color: #ffffff;
  font-family: PT Sans;
  font-size: 13px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 34px;
  z-index: 9;
}
.blog-footer li i {
  color: #8b8b8b;
  padding-right: 5px;
}
.logostick {
  padding: 31px 20px;
  position: absolute;
  top: 0;
  z-index: 8;
}

/*----------------------------------- 
1.7 quick view style
-------------------------------------*/
button.close {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  cursor: pointer;
  font-size: 30px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 5px;
}
.pro-img #sync2 .synced .single-itemp > a::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
.single-itemp {
  margin: 0 10px;
  position: relative;
}
.model-product-box .owl-theme .owl-controls .owl-buttons div, .owl-buttoncercle-right .owl-theme .owl-controls .owl-buttons div {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  color: #757575;
  font-size: 16px;
  height: 25px;
  line-height: 17px;
  opacity: 1;
  padding: 3px 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease 0s;
  width: 25px;
}
.model-product-box .owl-prev {
  left: 0px;
}
.model-product-box .owl-next {
  right: 0px;
}
.cart-plus-minus label {
  font-weight: 400;
  margin-right: 10px;
}
.cart-plus-minus  .cart-plus-minus-box {
  background-color: #fff;
  border: 1px solid #ececec;
  color: #5f5f5f;
  font-size: 13px;
  height: 37px;
  line-height: 1;
  margin: 0 37px;
  min-height: 35px;
  padding: 0 10px;
  text-align: center;
  width: 60px;
}
.cart-plus-minus .cart-plus-minus-box:focus{border:1px solid #ececec;}
.cart-plus-minus{
  float: left;
  position: relative;
}
.product-quantity .pro-add-to-cart{
  float: left;
  margin-left: 15px;
}
.product-quantity .pro-add-to-cart p a{
  padding:9px 22px 7px;
  border-color:#e2e2e2;
  color:#3c3c3c;
}
.pro-add-to-cart p a:hover{
  border-color:#00A9E0;
  color:#fff;
}
.dec.qtybutton, .inc.qtybutton {
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  color: #969696;
  cursor: pointer;
  font-size: 19px;
  height: 37px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 37px;
}
.dec.qtybutton {
  left: 42px;
}
.inc.qtybutton {
  right: 1px;
}
.social-icone li{padding: 0 2px; }
.rating i {
  color: #999;
}
.pro-description > p {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 40px;
  margin-top: 30px;
  padding: 30px 0;
}
.model-product-box {
  overflow: hidden;
}
/*----------------------------------- 
2. Home version 2
-------------------------------------*/
.p-lebel {
  background: rgba(0, 0, 0, 0) url("/images/icons/label-sale.png") no-repeat scroll 0 0;
  display: block;
  font-family: Museo Slab;
  height: 90px;
  line-height: 88px;
  opacity: 0.8;
  position: absolute;
  right: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 90px;
}
/*----------------------------------- 
3. Home version 3 
-------------------------------------*/
.product-content {
  background: rgba(72, 201, 176, 0.85) none repeat scroll 0 0;
  color: #ffffff;
  height: 100%;
  padding: 15px;
  position: absolute;
  top: 100%;
  transition: all 0.4s ease-in-out 0s;
}
.slider-item:hover .product-content{top: 0;}
.slider-item .rating i {
  color: #ddd;
}
.slider-item .price del {
  color: #fff;
}
.slider-item a.p-button {
  border: 1px solid #fff;
}
.slider-item .p-button:hover {
  background-color: #63D1BC;
}
.box .product-image {
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
}
.box .action-buttons {
  left: 0;
  right: 0;
  text-align: center;
  top: 101%;
}
.box .pro-name {
  font-size: 14px;
}
.header-bottom {
  position: relative;
  z-index: -1;
}
.inner-pagination .owl-theme .owl-controls {
  bottom: 6px;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.tab-menu.tab-2 li.active a, .tab-menu.tab-2 li a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #18bd9c;
}
.tab-menu.tab-2 li a {
  border: 0 none;
  border-radius: 20px;
  color: #777;
  display: inline-block;
  font-family: museoslab500;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding: 0 5px;
  text-transform: uppercase;
}
.tab-menu.tab-2 li:first-child {
  padding-left: 0;
}
.tab-2 li{position: relative;}
.tab-2 li::after {
  background: #ddd none repeat scroll 0 0;
  content: "";
  height: 14px;
  left: -4px;
  position: absolute;
  top: 3px;
  width: 2px;
}
.tab-2 li:first-child:after{opacity: 0;}
.owl-buttoncercle-right .owl-theme .owl-controls .owl-buttons div {
  top: -66px;
}
.owl-buttoncercle-right .owl-next {
  right: 10px;
}
.owl-buttoncercle-right .owl-prev {
  right: 45px;
}
.owl-buttoncercle-right .owl-theme .owl-controls .owl-buttons div:hover {
  background: #1abc9c none repeat scroll 0 0;
  border: 1px solid #1abc9c;
  color: #fff;
}
.item-m-r .single-product{margin-right: 15px;}
.servies-bg {
  background-image: url("/images/bg/home3-service-bg.jpg");
  background-size: cover;
}
.icon2 {
  background: #595959 none repeat scroll 0 0;
  color: #fff;
  height: 26px;
  left: -30px;
  position: relative;
  text-align: center;
  top: -1px;
  width: 60px;
}
.icon2::after, .icon2::before {
  background: #595959 none repeat scroll 0 0;
  content: "";
  height: 42px;
  left: 8px;
  position: absolute;
  top: -21px;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 43px;
  z-index: 0;
}
.icon2::before {
  top: 5px;
}
.icon2 > span {
  font-size: 25px;
  left: 0;
  position: relative;
  top: 0;
  z-index: 1;
}
.blog-duble .date-box {
  left: 11px;
  top: 12px;
}
.owl-buttoncercle-right.prebutton .owl-next {
  right: 4px;
}
.owl-buttoncercle-right.prebutton .owl-prev {
  right: 38px;
}
.news-bg {
  background: rgba(0, 0, 0, 0) url("/images/bg/home3-news.jpg") no-repeat scroll center center / cover ;
}
.input-box-news input {
  background: transparent none repeat scroll 0 0;
  color: #ffffff;
  float: right;
  height: 35px;
  left: 89px;
  margin-top: 0;
  position: absolute;
  width: 65%;
  border: 1px solid #e5e6e6;
}
.input-box-news input:focus{border: 1px solid #e5e6e6;}
.actions-news button {
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color #fff;
  border-style: none solid;
  border-width: medium 1px;
  height: 34.64px;
  width: 60px;
  position: relative;
}
.actions-news button::after, .actions-news button::before {
background-color: #fff;
border-radius: 0;
content: "";
height: 42.43px;
left: 7.7868px;
opacity: 1;
position: absolute;
transform: scaleY(0.5774) rotate(-45deg);
width: 42.43px;
}
.actions-news button::before {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-width: 1px 1px medium medium;
  top: -21.2132px;
}
.actions-news button::before, .actions-news button::after {
  background-color: inherit;
  border-radius: 0;
  content: "";
  height: 42.43px;
  left: 8.787px;
  opacity: 1;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  width: 42.43px;
}
.actions-news button:after{
  border-bottom: 1.4142px solid #ffffff;
  border-left: 1.4142px solid #ffffff;
  bottom: -21.2132px;
}
.actions-news button span{color: #fff;position: relative;z-index: 9}
.actions-news button:hover {
  background: #48c9b0 none repeat scroll 0 0;
}
.newsletter{padding: 20px 15px 15px 15px}
.blog-duble .blog-text a.p-button {
  margin-top: 15px;
}
.box a.s-icone {
  margin: 0 2px;
}
/*----------------------------------- 
4. Home version 4
-------------------------------------*/
.sidenav-content.border {
  margin-bottom: 40px;
}
.sidenav-title {
  padding: 10px 20px;
}
.sidenav-title h4 {
  font-size: 16px;
  margin: 0;
}
.sidenav-title h4 span {
  margin-right: 10px;
}
.sidenav-content nav ul{}
.sidenav-content nav ul li {
  background: #f9f9f9 none repeat scroll 0 0;
  position: relative;
  transition: all 0.3s ease 0s;
  border-left: 3px solid transparent;
}
.sidenav-content nav ul li a {
  border-bottom: 1px solid #ececec;
  color: #444;
  display: block;
  font-size: 14px;
  padding: 12px;
  position: relative;
  text-transform: uppercase;
}
.sidenav-content nav ul li a.drop::before {
  color: #666;
  content: "\f105";
  font-family: fontawesome;
  position: absolute;
  right: 11px;
}
.sidenav-content nav ul li:hover {
  background: #fff none repeat scroll 0 0;
  border-left: 3px solid #1abc9c;
}
.sidenav-content nav ul li:hover a,.sidenav-content nav ul li:hover .megamenu span a:hover {
  color: #1abc9c;
}
.sidenav-content .megamenu {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
  left: 106%;
  padding: 19px 20px;
  position: absolute;
  top: 0;
  transform-origin: left center 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 881px;
  z-index: 99;
}
.sidenav-content nav ul li:hover .megamenu,.sidenav-content nav ul li:hover ul.dropdown {
  visibility: visible;
}
.sidenav-content nav ul li:hover .megamenu span a {
  color: inherit;
}
.sidenav-content nav ul li:hover .megamenu span a.mega-title {
  padding-left:0;
}
.sidenav-content .megamenu span a.mega-title {
  font-size: 15px ;
  font-weight: 600;
  padding: 12px 0;
}
.sidenav-content .megamenu span a {
  border-left: 3px solid transparent;
  font-size: 13px;
  font-weight: 500;
  padding: 12px 10px;
  text-transform: uppercase;
}
.sidenav-content .megamenu span a:hover {
  border-left: 3px solid #1abc9c;
  background: #fff;
}
.megamenu span.single-menu {
  background: #f9f9f9 none repeat scroll 0 0;
  margin: 10px;
  width: 30.9%;
}
.megamenu a.menu-title {
  font-size: 14px !important;
}
.megamenu::before,.sidenav-content nav ul li ul.dropdown:before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 9px 8px;
  content: "";
  left: -16px;
  position: absolute;
  top: 23px;
}
.sidenav-content nav ul li ul.dropdown {
  background: #fff none repeat scroll 0 0;
  left: 272px;
  padding: 15px;
  top: 0;
  transform: scale(1);
  visibility: hidden;
}
.sidenav-content nav ul li ul.dropdown li{border-bottom:none;}
.sidenav-content nav ul li ul.dropdown li a{color: inherit;}
.pro-text h6.pro-name{font-size: 14px;}
.pro-text .rating i {
  color: #999;
  font-size: 11px;
}
.sidebar-box .input-box-news input {
  width: 55%;
}
/*----------------------------------- 
5. Home version 5 
-------------------------------------*/
.box2 .action-buttons {
  display: inline-block;
  float: right;
  opacity: 1;
  padding-right: 20px;
  position: static;
  text-align: right;
  transform: translateY(-35px);
}
.box2 a.s-icone {
  margin: 0 2px;
}
.box2:hover h6.price {
  opacity: 1;
  transition: all 0.3s ease 0s;
}
.test-2 {
  text-align: center;
  top: -29px;
}
.p-banner-text p {
  margin: 0;
}
/*----------------------------------- 
6. Home version 6 
-------------------------------------*/
.blue .p-button:hover {
  background-color: #3498DB;
}
.blue .header-bottom {
  z-index: 9;
}
.blue .top-cart {
  display: block;
  padding: 17px 0;
  text-align: center;
}
.blue .owl-buttoncercle-right .owl-theme .owl-controls .owl-buttons div:hover {
  background: #3498DB none repeat scroll 0 0;
}
.blue a.s-icone:hover {
  background-color: #3498DB;
  color: #fff;
}
.blue .banner-box .p-button {
  background: #fff none repeat scroll 0 0;
}
.blue .banner-box .p-button:hover {
  background: #3498db none repeat scroll 0 0;
  color: #fff;
}
.blue .date-box span {
  background-color: #3498db;
}
.blue .icon2 {
  background: #48a2df none repeat scroll 0 0;
}
.blue .icon2::after,.blue .icon2::before {
  background: #48a2df none repeat scroll 0 0;
}
.blue .text-red .icon2 {
  background: #fe4646  none repeat scroll 0 0;
}
.blue .text-red .icon2::after, .blue .text-red .icon2::before {
  background: #fe4646  none repeat scroll 0 0;
}
.blue .text-yellow .icon2 {
  background: #eec400   none repeat scroll 0 0;
}
.blue .text-yellow .icon2::after, .blue .text-yellow .icon2::before {
  background: #eec400   none repeat scroll 0 0;
}
.single-item .item-box {
  overflow: hidden;
}
.blue .tab-menu.tab-2 li.active > a{position: relative;}
.blue .tab-menu.tab-2 li.active > a::after {
  background: #444 none repeat scroll 0 0;
  bottom: -11px;
  color: #ccc;
  content: "";
  height: 1px;
  left: 4px;
  position: absolute;
  width: 87%;
}
.home-6-f {
  border-top: 3px solid #3498db;
  background: #3C3C3C;
}
.footer-bootom_area.home-6 {
  background: #2b2b2b none repeat scroll 0 0;
}
.blue .sub-input {
  background: transparent none repeat scroll 0 0;
  border-radius: 20px;
  color: #fff;
  height: 34px;
  padding: 0 15px;
}
.blue .tab-menu.tab-2 li.active a, .blue .tab-menu.tab-2 li a:hover {
  color: #3498db;
}
/*----------------------------------- 
7. Home version 7 
-------------------------------------*/
.brandlist li + li {
  margin-top: 30px;
}
.blog-text p{margin-bottom: 0;}
/*----------------------------------- 
8. shop
-------------------------------------*/
.page-title-area{
  background: rgba(0, 0, 0, 0) url("/images/bg/header-page-bg.png") no-repeat scroll center center / cover ; 
  position:relative;
}
.title-inner {
  padding: 100px 0;
  position: relative;
  text-align: center;
  z-index: 2;
}
.title-inner  h1 {
  color: #fff;
  font-size: 52px;
  margin-bottom: 0;
}
ul.paging-title {
  list-style-type: none;
  margin: 11px 0 0;
  padding: 0;
}
ul.paging-title li {
  color: #dedede;
  display: inline-block;
  font-size: 15px;
}
ul.paging-title li + li::before {
  content: "|";
  display: inline-block;
  font-family: times,serif;
  font-size: 15px;
  padding: 0 10px;
}
.paging-title a {
  color: inherit;
}
.paging-title li a:hover{color:#fff;}
.paging-title li span {
  color: #fff;
}
.side-wedgetlist li a::before {
  content: "\f0da";
  font-family: "FontAwesome";
  left: 0;
  opacity: 0;
  padding-right: 5px;
  position: absolute;
  transition: all 300ms ease 0s;
  color: #18BD9C;
}
.side-wedgetlist li a {
  color: #575757;
  position: relative;
}
.side-wedgetlist span {
  float: right;
}
.side-wedgetlist > li {
  padding: 10px 0;
  border-bottom:1px solid #e9e9e9;
}
.side-wedgetlist li a:hover:before{opacity: 1;}
.side-wedgetlist li:hover a{color: #18BD9C;}
.side-wedgetlist li a:hover{padding-left: 10px;color: #18BD9C;}
.ui-slider-range.ui-widget-header.ui-corner-all {
  background: #5f5f5f none repeat scroll 0 0;
  border-radius: 6px;
  height: 7px;
  top: 1px;
}
.ui-widget-content {
  border: medium none;
  color: #222;
  margin-left: 10px;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #444;
  border-radius: 50%;
}
.price_slider_amount > input#btn {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #ececec;
  color: #555;
  font-family: "Bree Serif",serif;
  font-size: 14px;
  margin-left: 25px;
  padding: 5px 20px;
  text-transform: uppercase;
  transition:0.3s;
}
.price_slider_amount > input#btn:hover{
  background:#ff5555;
  color:#fff;
  border:2px solid transparent; 
}
.slider-values button {
  margin-left: 20px;
}
.ui-slider {
  margin: 0 6px;
}
.slider-values > input#price-to {
  margin-left: 8px;
}
.slider-values > input#price-from {
  margin-right: 8px;
}
.reted-product .rating i,.model-product-box .rating i,.com-content .rating i ,.rating a  i{
  color: #6b869d;
}
.reted-product .g-product-box {
  margin-bottom: 15px;
}
.slider-values input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ececec;
  display: inline-block;
  font-size: 13px;
  height: 34px;
  line-height: 30px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  width: 70px;
}
.price_slider_amount input {
  border-radius: 20px;
  height: 34px;
  margin-top: 20px;
  padding-left: 10px;
  text-align: center;
  width: 214px;
}
.price_slider_amount > button {
  background: #868686 none repeat scroll 0 0;
  border: medium none;
  border-radius: 20px;
  color: #fff;
  height: 34px;
  margin-left: 10px;
  width: 34px;
  transition: all 0.3s ease-in-out 0s;
}
.price_slider_amount > button:hover{background: #7EC6AC;}

.side-wedgetlist li span a::before {
display: none;

}
.side-wedgetlist li span a {
  color: #ff0000;
  font-weight: bold;
}
.tool-content {
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
}
.tool-content-bottom{
border-top: 1px solid #ececec;
  padding-top: 20px;  
}
.tool-box span {
  margin-right: 10px;
}
.tool-box a+a{
  margin-left: 5px;
}
.tool-box a {
  color: inherit;
  font-size: 14px;
  padding: 2px 5px;
}
.tool-box select {
  height: 30px;
  width: 80px;
}
.pagination-li,.tool-box ul,.tool-box ul li {
  display: inline-block;
}
.pagination-li li {
  display: inline-block;
  vertical-align: middle;
}
.pagination-li li + li {
  margin-left: 10px;
}
ul.pagination-li li a {
  border-radius: 100%;
  display: block;
  height: 21px;
  text-align: center;
  width: 21px;
  line-height: 17px;
}
ul.pagination-li li.active a,ul.pagination-li li a:hover{background: #5f5f5f none repeat scroll 0 0;
 color: #fff;}
.product-list-all .single-product {
  margin-top: 40px;
}
.tool-box li.active a {
  background: #ccc none repeat scroll 0 0;
}
.single-item{overflow:hidden;}
/*----------------------------------- 
9. single product page
-------------------------------------*/
ul.tab-menu-review li{display:inline-block}
ul.tab-menu-review li a {
  color: #666;
  display: block;
  font-size: 18px;
  font-weight: normal;
  padding: 8px 15px;
  text-decoration: none;
}
.single-product .pro-description > p {
  margin-bottom: 0;
  margin-top: 20px;
  padding: 30px 0;
}
ul.tab-menu-review li.active a {
  background-color: #18BD9C;
  color: #fff;
}
ul.tab-menu-review li a:hover {color:#6b6b6b;}
ul.tab-menu-review li.active a:hover {color:#fff;}
.des-tab {
  border: 1px solid #ececec;
  border-radius: 0;
  padding: 40px 25px;
}
.des-review {
  margin-top: 40px;
}
.des-review .tab-content{margin:0;}
.des-tab p:last-child{margin:0;}
.review-box h2, .review_form h2, .related-product-show .heading-left h2{
  color: inherit;
  font-size: 18px;
  margin-bottom: 20px;
}
.com-img img {
  background: #ebe9eb none repeat scroll 0 0;
  border: 1px solid #e4e1e3;
  float: left;
  padding: 3px;
  width: 32px;
  border-radius: 100%;
  margin-right: 15px;
  width: 60px;
}
.com-content h3{
  color: #585858;
  font-size: 16px;
  font-weight: 500;
}
.com-content h3 span{
  color: #4d4d4d;
  font-size: 12px;
  font-weight:400;
}
.com-content {
  background-color: #f8f8f8;
  overflow: hidden;
  padding: 20px;
}
.review-box li {
  margin-bottom: 20px;
}
.input-box {
  margin-bottom: 10px;
}
.input-box label {
  color: #5f5f5f;
  display: inline-block;
  font-weight: normal;
}
.input-box input[type="text"], .input-box input[type="search"], .input-box input[type="email"], .input-box input[type="url"], .input-box input[type="password"], .input-box textarea {
  width: 100%;
}
.review_form .rating a {
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 10px;
}
.sidebar-box.owl-buttoncercle-right .owl-prev {
  right: 30px;
}
.sidebar-box.owl-buttoncercle-right .owl-next {
  right: 0;
}
.pro-description ul.social-icone li {
  display: inline-block;
}
/*----------------------------------- 
10. cart page 
-------------------------------------*/
table.shop_table,.cart-total table{border:1px solid #e1e1e1;width:100%;}
table.shop_table thead th {
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  color: #515151;
  font-size: 17px;
  font-weight: normal;
  padding: 12px;
  text-align: center;
}
table.shop_table tbody td.product-name {
  padding: 25px 35px;
}
.product-name .pro-img {
  margin: 0 20px 0 0;
  width: 100px;
}
.c-p-name {
  padding: 57px 0;
}
.c-p-name  a{font-size:15px;text-decoration:none;}
table.shop_table tbody td {
  border-right: 1px solid #e1e1e1;
}
.cart-plus-minus.cart {
  float: none;
  margin: 0 auto;
  width: 137px;
}
.cart-plus-minus.cart .dec.qtybutton {
  left: 3px;
}
.cart-plus-minus.cart .inc.qtybutton {
  right: 2px;
}
.product-quantity,.product-price,.product-subtotal {
  text-align: center;
}
 a.remove {
  background-color: #dfdfdf;
  border-radius: 100%;
  color: #717171;
  display: block;
  font-size: 15px;
  height: 18px;
  line-height: 16px;
  margin: 12px auto;
  text-align: center;
  width: 18px;
}
a.remove:hover{background:#18BD9C;color:#fff;}
span.p-price {
  color: #666;
  font-size: 16px;
}
span.t-price{color:#5c5c5c;font-size:16px;}
table.shop_table tbody  tr{border-bottom:1px solid #e1e1e1;}
.button-td{padding:5px 10px;}
tr.cart-subtotal th {
  color: #646464;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0;
}
tr.cart-subtotal td {
  color: #585757;
  font-size: 18px;
  padding: 15px 0;
}
.cart-total tr th {
  color: #646464;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}
.cart-total tr.order-total th,.cart-total tr.order-total td {
  border-top: 1px solid #e1e1e1;
  color: #606060;
  font-size: 24px;
  padding: 30px 0;
  text-transform: uppercase;
}
.order-total span.t-price,tr.order-total  th{
  color: #606060;
  font-size: 24px;
  font-weight: 400;
  text-transform:uppercase;
}
.cart-total button.btnb {
  background-color: #6b869d;
  color: #fff;
  margin-top: 10px;
}
tr.shipping th {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0;
}
.button-box button.p-button{margin-left:5px;}
/*----------------------------------- 
11. wishlist page
-------------------------------------*/
.shop_table.wishlist_table tbody {
  text-align: center;
}
.product-thumbnail {
  padding: 10px;
}
td.product-thumbnail .pro-img {
  float: none;
margin: 0 auto;
width: 80px;
}
.wishlist-table h3 {
  color: #515151;
  font-size: 30px;
  margin-bottom: 20px;
}
.product-thumbnail img {
  width: 80px;
}
a.remove_from_wishlist {
  display: inline-block;
  position: static;
}
.add-to-cart-wrapper a.btnb {
  background: #935386 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 20px;
  transition: all 0.2s linear 0s;
}
.product-stock-status {
  color: #297e29;
}
.shop_table.wishlist_table .product-name a {
  color: #6b869d;
}
.wish-share {
  margin-bottom: 35px;
  overflow: hidden;
  padding-left: 15px;
  padding-top: 15px;
}
.wish-share ul li {
  float: left;
}
.wish-share ul li a {
  color: #fff;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 23px;
}
.wish-share ul li a i{line-height:25px;}
.wish-share ul li:nth-child(1) a{background:#39599F}
.wish-share ul li:nth-child(2) a{background:#45B0E3}
.wish-share ul li:nth-child(3) a{background:#AC2627}
.wish-share ul li:nth-child(4) a{background:#E76D55}
.wish-share ul li:nth-child(5) a{background:#FFB100}
.wish-share ul li:hover a{background:#8F8F8F}
.sideber-right .search-box-header {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.sideber-right .search-box-header button {
  top: 5px;
}
.sideber-right .search-box-header input {
  border: 1px solid #ececec;
  border-radius: 0;
  height: 35px;
  width:100%;
  background:none;
}
.widget-list li {
	font-size: 13px;
margin-bottom: 10px;
padding-top: 10px;
}
.widget-list li + li {
  border-top: 1px solid #ececec;
  margin-top: 10px;
}
/*----------------------------------- 
12. checkout page 
-------------------------------------*/
.checkout-area {
  padding: 40px 0;
}
.form-title {
  background-color: #f7f6f7;
  border-top: 3px solid #18BD9C;
  color: #515151;
  margin: 0 0 2em;
  padding: 1em 2em 1em 1.5em;
}
.form-title > img {
  margin-right: 6px;
}
.form-title a,.showlogin,.show-coupon{
  color: #18BD9C;
}
.showlogin,.show-coupon {
  cursor: pointer;
  display: inline-block;
}
form.login,form.checkout_coupon {
  border: 1px solid #ececec;
  margin: 2em 0;
  overflow: hidden;
  padding: 20px;
  text-align: left;
  display:none;
}
.checkout_coupon .input-box{margin-bottom:0;}
form.login .input-box label form,.biling-info .input-box label,.widget-list li a {
  color: inherit;
}
span.start-red,span.red {
  color: red;
  font-weight: 700;
}
.login p {
  padding-left: 15px;
}
.input-box-button label {
  font-weight: normal;
  margin: 0;
}
.input-box-button a {
  color: #6b869d;
  display: block;
  margin-top: 5px;
}
.input-box-button a:hover,.form-title a:hover,.showlogin:hover,.shop_table.wishlist_table .product-name a:hover,.bolg-content p a.read-more:hover,.comment-meta a:hover,.news-details a:hover,.text-inner a:hover{text-decoration:underline;}
form.biling-info {
  margin: 0 -15px;
}
abbr.required{border:none;color:red;}
.input-box input.showaccount,.social-protfolio li{display:inline-block}
form.biling-info .input-box textarea {padding:10px;height:100px;}
table.shop_table.checkbox-tbl thead th {
  border-right:none;
}
.payment-box {
  border: 1px solid #e1e1e1;
  padding: 26px;
}
table.shop_table.checkbox-tbl thead th.product-name {
  padding: 0;
  text-align: left;
}
table.shop_table.checkbox-tbl thead th.product-total,table.shop_table.checkbox-tbl tbody tr.cart_item td.product-total{text-align:right}
table.shop_table.checkbox-tbl tbody tr.cart_item td {
  padding: 12px 0;
  text-align: left;
}
table.shop_table.checkbox-tbl tbody td,table.shop_table.checkbox-tbl tfoot td {
  border-right:none;
  text-align:right;
}
table.shop_table.checkbox-tbl tfoot tr.order-total{border-top:1px solid #e1e1e1;}
table.shop_table.checkbox-tbl tfoot tr.order-total th{padding:20px 0}
table.shop_table.checkbox-tbl{border:none;}
.payment-method {
  background: #ebe9eb none repeat scroll 0 0;
  overflow: hidden;
}
.payment-method ul{
  border-bottom: 1px solid #d3ced2;
  list-style: outside none none;
  margin: 0;
  padding: 1em;
  text-align: left;
}
.pay-box::after {
  border-color: transparent transparent #dfdcde;
  border-image: none;
  border-style: solid;
  border-width: 8px;
  content: "";
  display: block;
  left: 0;
  margin: -1em 0 0 2em;
  position: absolute;
  top: -3px;
}
.pay-box{
  background-color: #dfdcde;
  border-radius: 2px;
  color: #515151;
  font-size: 0.92em;
  line-height: 1.5;
  margin: 1em 0;
  padding: 1em 2%;
  position: relative;
  width: 96%;
}
.payment_method_paypal-li img {
  width: 112px;
}
.payment_method_bacs,.payment_method_paypal,.account-box-hide,.ship-box-hide{display:none;}
.payment-method ul li input {
  margin: 0 1em 0 0;
}
.billing-details input,.billing-details select,.form-box input,.form-box select{height:36px;}
.billing-details input[type="radio"],.billing-details input[type="checkbox"],.form-box  input[type="radio"],.form-box  input[type="checkbox"] {
  height: auto;
  width: auto;
}
/*----------------------------------- 
13. Myaccount page 
-------------------------------------*/
.billing-details .panel {
  border: 1px solid #ececec;
  border-radius: 0;
  box-shadow: inherit;
  margin-bottom: 15px;
  margin-top: 30px;
}
.panel-heading {
  padding: 0;
}
.panel-title {
  position: relative;
}
.counter {
  border-right: 1px solid #ececec;
  color: #18bd9c;
  display: block;
  font-weight: 600;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}
.counter i{line-height:40px;}
.panel-title > a {
  color: #555;
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 10px 35px 10px 53px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel-title a .opener::after {
  border-left: 1px solid #ececec;
  content: "\f146";
  font-family: fontawesome;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;
}
a.collapsed .opener::after {
  border-left: 1px solid #ececec;
  content: "\f0fe";
  font-family: fontawesome;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;
}
.panel-body {
  color: #555;
  line-height: 24px;
  padding: 30px 40px;
}
.faq-area {
  border-bottom: 1px solid #ececec;
  padding-bottom: 50px;
}
.alert.order-alert {
  background: #fe9126 none repeat scroll 0 0;
  color: #fff;
  font-size: 18px;
}
.my-account p.my-title {
  font-weight: 600;
  margin-top: 20px;
}
.my-account .biling-info .input-box input[type="checkbox"] {
  display: inline-block;
  float: left;
  margin-top: 2px;
  width: 16px;
}
/*----------------------------------- 
14. contact page
-------------------------------------*/
.map_wrapper {
  margin:0px 15px;
}
#googleMap{width:100%;height:339px;border:none;}
.input-field .input-box{margin-bottom:15px;}
.input-field .input-box textarea {
  height: 192px;
  margin-bottom:10px;} 
p.form-messege{margin-top:15px;font-size:20px}
p.success {
  color: green;
}
p.error {
  color: red;
}
  
 /*----------------------------------- 
15. blog page
-------------------------------------*/
 .blog-list .date-box {
  left: 20px;
  top: 20px;
}
.blog-list .blog-box+.blog-box{margin-top:30px;} 
.date-box span label {
  top: -8px;
}
/*----------------------------------- 
16. blog details page
-------------------------------------*/
.prev-next-box {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  overflow: hidden;
  padding: 30px;
  position: relative;
}
.blog-details-page .blog-text p {
  margin-bottom: 20px;
}
.blog-details-page .blog-text p:last-child{margin-bottom: 0;}
.prev-box h3, .next-box h3 {
  color: #515151;
  font-size: 15px;
  margin: 0;
}
.next-box a p, .prev-box a p {
  color: #444;
  display: block;
  font-size: 0.75em;
  font-weight: normal;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.next-box a, .prev-box a {
  color: #515151;
  font-size: 15px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-transform: none;
}
.next-box span,.prev-box span{
	left:auto;
	right:0;
}
.prev-box span {
  left: -99%;
  position: absolute;
}
.comment-wrapper img{float:left;margin-right:15px;}
.comment-text {
  background-color: #f8f8f8;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.comment-text .author {
  margin-bottom: 15px;
}
.comment-text .author-name {
  display: inline-block;
  margin-right: 25px;
}
.comment-text .author .comment-meta {
  color: #4d4d4d;
  display: inline-block;
  font-size: 12px;
  font-style: italic;
}
.comment-meta span {
  margin-right: 10px;
}
.comment-ul {
  margin-top: 40px;
}
.comment-ul li {
  margin-top: 30px;
}
.comment-ul.child {
  margin: 0 0 0 70px;
}
.leave-comment {
  width: 70%;
}
 /*----------------------------------- 
17. 404 page 
-------------------------------------*/  
.page-not-found {
  margin: 150px 0;
  text-align: center;
}
.page-not-found .entry-title {
  font-size: 120px;
  font-weight: bold;
  line-height: 1.2;
}
 /*----------------------------------- 
18. shortcode 
-------------------------------------*/ 
.breadcrumb-list ul.paging-title{margin-top: 0px;}
