/*--------------------------------------------------------------

Template: Theme Name
Author: 
Version:	1
Design and Developed by: 

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.radius{border-radius:20px;}
.rbtn {
	height: 34px;
	width: auto;
}
input[type="radio"], input[type="checkbox"] {
	height: auto;
	width: auto;
}
.d-inline{display:inline-block}
.linebt{position:relative;display:inline-block;}
.linebt::after {
	background: #fff none repeat scroll 0 0;
	bottom: 8px;
	content: "";
	height: 1px;
	left: -34px;
	position: absolute;
	width: 25px;
	z-index: 99;
}
.linebt::before {
	background: #fff none repeat scroll 0 0;
	bottom: 8px;
	content: "";
	height: 1px;
	position: absolute;
	right: -34px;
	width: 25px;
	z-index: 99;
}
.border {
	border: 1px solid #e9e9e9;
}
.border-b{border-bottom: 1px solid #f2f2f2;}
.border-t{border-top: 1px solid #f2f2f2;}
.border-l{border-left: 1px solid #f2f2f2;}
.border-r{border-right: 1px solid #f2f2f2;}
.border-none {
	border: medium none !important;
}
.p-r{position:relative;}
.cursor{cursor:pointer;}
.mb-p-0 p{margin:0;}
.hover:hover,.hover-i:hover i{color:#7DC6AB;}
.hover-a a:hover{color:#7DC6AB;}
.hover-none:hover{color:inherit;}
.blue .dropdown > li:hover > a, .blue a:hover {
	color: #48a2df;
}
.hover-a-none a:hover{color:inherit;}
.hover-bg:hover{background:#7DC6AB;}
.width-80{width:80px}
.width-100{width:100px}
.width-150{width:150px}
.img-full img{width:100%}
.total{font-size:15px;}
a.cbtn{
	border: 1px solid #eaeaea;
	border-radius: 20px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.15) inset;
	display: inline-block;
	font-size: 97%;
	line-height: 20px;
	margin: 0 0 0 8px;
	padding: 6px 14px;
	text-align: center;
	text-decoration: none;
	transition: all 0.25s ease 0s;
}
a.cbtn:hover {
	background:#7ec6ac;
	color:#fff;
}
.relative,.b-hover{position:relative}
.image-box{overflow:hidden;}
.b-hover:before {
	background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
	bottom: 10px;
	content: "";
	left: 10px;
	opacity: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all 300ms ease 0s;
}
.b-hover:hover::before {
	animation: 600ms ease-in-out 0s normal none 1 running rollIn;
	opacity: 1;
}
.h-title{font-size: 15px;text-transform: uppercase;color: #464545}
.italic{font-style: italic;}
.sub-input {
	background: transparent none repeat scroll 0 0;
	border-radius: 20px;
	height: 34px;
	padding: 0 15px;
}
.sub-input:focus{border: 1px solid #ddd;}
.sub-btn {
	border: inherit;
	border-radius: 0 20px 20px 0;
	height: 34px;
	padding: 5px 15px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	transition: all 0.25s ease 0s;
}
.sub-btn:hover{background: #9EE6CC !important}
.text-line2{position: relative;display: inline-block;color: #fff;}
.text-line2::after {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 1px;
	margin-right: -114px;
	position: absolute;
	right: 50%;
	top: 9px;
	width: 60px;
}
.text-line2::before {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -114px;
	position: absolute;
	top: 9px;
	width: 60px;
}
.text-line3::before {
	background: #555 none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -76px;
	position: absolute;
	top: 8px;
	width: 40px;
}
.text-line3::after {
	background: #555 none repeat scroll 0 0;
	content: "";
	height: 1px;
	margin-right: -75px;
	position: absolute;
	right: 50%;
	top: 8px;
	width: 40px;
}
.text-line3 {
	color: #666;
	display: inline-block;
	font-family: "PT Sans",sans-serif;
	font-size: 15px;
	position: relative;
	text-transform: uppercase;
}
.owl-theme .owl-controls {
	margin-top: 0px;
}
.li-after li{position: relative;}
.li-after li::after {
	background: #ccc none repeat scroll 0 0;
	content: "";
	height: 11px;
	position: absolute;
	right: -1px;
	top: 5px;
	width: 2px;
}
.li-after li:last-child:after{opacity: 0;}
.verti-center {
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.go-btn {
	color: #fe4646;
	display: inline-block;
	font-size: 17px;
	text-transform: uppercase;
}
.clear-filter {
	display: inline-block;
	background-color: #e9e9e9;
	width: 28px;
	height: 100%;
	text-align: center;
	position: absolute;
	border: none;
}
.clear-filter:hover {
	background-color: #7ec6ac;
	color: white;
}
.price_slider_amount {
	display: inline-block;
}
.price_slider_amount input {
	margin-top: 0;
	width: 130px;
	height: 30px;
	border-radius: 0;
	padding: 0;
}
.tool-box select {
	width: 130px;
}
.ui-slider {
	margin-top: -3px;
	background: transparent;
}
ul.my-setting ul {
	right: -15px;
}

.cart-list .img-full img {
	height: 90px;
	width: auto;
}
.cart-list li {
	clear: both;
}
.item_cart_size {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 16px;
    display: inline-block;
    height: 25px;
    line-height: 24px;
    text-align: center;
    transition: all 0.3s ease 0s;
	width: 78px;
	margin-left: 5px;
}
.cal-shipping .input-box {
	display: block;
	margin-bottom: 0;
	overflow: auto;
}
.bonuses-block {
	background: #18bd9c none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.text-green { color: #2aca2a; }
.transparent-header {
	position: fixed;
}

.choose_size {
	/*width: 100%;*/
}
.choose_size__list {
	position: absolute;
	border: 1px solid #eee;
	z-index: 15;
	width: 175px;
	background-color: white;
}
.choose_size__title {
	border: 1px solid #aaa;
    padding: 4px 11px 5px 10px;
    cursor: pointer;
	color: #4c4343;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	height: 30px;
	font-size: 15px;
}
.choose_size__size {
	padding: 0 20px;
	line-height: 30px;
	font-size: 18px;
}
.choose_size__size:hover {
	background-color: #dbe5ff;
	cursor: pointer;
}
.choose_size__useful {
	font-size: 13px;
	padding: 0 20px;
	line-height: 30px;
}

@keyframes pulsate {
	20% { background-color: white; font-weight: normal }
	40% { background-color: #18bd9c; color: white; font-weight: bold; }
	60% { background-color: white; font-weight: normal }
	80% { background-color: #18bd9c; color: white; font-weight: bold; }
	100% { background-color: white; font-weight: normal; }
}
.--light {
	animation: pulsate 3s ease-out;
}

.choosed_size {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.b-hover {
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    /*z-index: 400;*/
    left: 0;
    top: 0;
}
.go-btn {
	z-index: 500;
}
.go-btn:hover {
	color: green;
	font-weight: bold;
}
.alert-success {
	background-color: #26962f;
	color: white;
	font-size: 18px;
}
.alert-danger {
	background-color: #fd5c5c;
	color: white;
	font-size: 22px;
}

.zoomProduct {
	position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    z-index: 1000;
    background-color: rgba(52, 187, 113, 0.75);
    color: white;
	font-weight: bold;
	display: none;
}

.product-image:hover .zoomProduct {
	display: block;
}

.pro-description {
	overflow: auto;
	height: 550px;
}

.returnToShop {
	/*float: right;*/
}

select, input, textarea {
	padding-left: 10px;
}
.header-top {
	color: #fff;
    font-size: 52px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'museoslab500';
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 17px;
}
.des-review {
	margin-bottom: 40px;
}
.product-form__sizes-fields-name {
	font-weight: bold;
}
.product-form__fields {
	margin-top: 30px;
}
.pro-description > p {
	margin-bottom: 30px;
}
.size-table {
	width: 100%;
	margin: 1em 0;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
@media (max-width: 850px) {
	.size-table {
		display: block;
	}
}
.size-table td {
	border: 1px solid #d2cece;
    padding: 7px 1px;
    text-align: center;
}
td.size-table__left-align {
    text-align: left;
	padding-left: 10px;
}
.size-table__bold {
	font-weight: bold;
}
.size-table__bold td {
	background-color: #18bd9c;
}
a {
	cursor: pointer;
}
.pro-description p a {
	color: #18bd9c;
}
.pro-description p a:hover {
	text-decoration: underline;
}
.cart-list .pro-img {
    border: none;
}
.instructions {
	padding: 0;
}
.instructions li {
	list-style: unset;
	font-size: 17px;
}
.instructions li > img {
	width: 100%;
	margin-top: 25px;
	border: 1px solid black;
}
.mean-container .mean-bar::after {
	content: 'МЕНЮ';
}
.title-inner {
    padding: 45px 0;
}
.header-top {
	line-height: 40px;
}
.ya-share2__container, ya-share2 {
	display: inline-block;
}
.row-mod  {
	margin-left: 0;
	margin-right: 0;
}

.returnToShop {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.product-list {
	display: flex; flex-direction: row;
}

.header-main-area {
	width: 100%;
	margin-top: 90px;
	margin-bottom: 50px;
}

.header-main-area > img {
	width: 100%;
}

@media (max-width: 1000px) {	
	.pro-description {
		height: auto;
		margin-bottom: 30px;
	}
	.page-body.list {
		padding-top: 30px;
	}
	.addToCart {
		display: flex;
		justify-content: space-between;
	}
	
}

@media (max-width: 750px) {
	.product-list {
		flex-direction: column;
	}
}

@media (max-width: 985px) {	
	.page-wrapper {
		margin-top: 45px;
	}
}

@media (max-width: 850px) {
	.choose_size {
		width: 120px;
	}
	.choose_size__title {
		font-size: 12px;
	}
	.add-to-links > a {
		width: 137px;
		padding: 5px 0;
		font-size: 10px;
		margin-top: 0 !important;
	}
	.returnToShop > div:nth-of-type(1) {
		float: left;
	}
	.returnToShop > div:nth-of-type(2) {
		width: 157px;
		float: left;
		padding: 0;
	}
	.returnToShop > div:nth-of-type(2) button {
		padding: 0 13px;
	}
}

@media (max-width: 767px) {
	.tool-box {
		display: flex;
		justify-content: space-between;
	}
	.sidebar-box {
		margin-bottom: 30px;
	}
	.header-top-bar > .container {
		width: 100%;
	}
	.header-main-area {
		margin-top: 50px;
		margin-bottom: 30px;
	}
}

@media (max-width: 480px) {
	.returnToShop .btn {
		font-size: 12px;
		padding: 0px 6px;
	}
	.s-icone {
		height: 25px;
		line-height: 25px;
		width: 25px;
	}
	.bs-minicart-modal-lg .button-box {
		font-size: 10px;
	}
}

.tool-box > span {
	display: block;
}

.sidebar-box {
	display: grid;
    grid-gap: 30px;
}

.rounded-title {
	font-family: 'museoslab500';
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	padding: 0 15px;
}

.rounded-title span {
	border: 1px solid #3b3a3a;
	border-radius: 33px;
	display: block;
	padding: 12px 20px;
	font-family: MuseoSlab-500;
	color: #3b3a3a;
	font-size: 15px;
}

.bordered-title {
	font-family: 'museoslab500';
    color: #40403f;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
	display: inline-block;
    position: relative;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 10px;
}

.bordered-title::after {
    background: #444 none repeat scroll 0 0;
    bottom: -11px;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
	box-sizing: border-box;
}

.pro-name {
	color: #444;
    font-size: 16px;
    font-family: 'museoslab500';
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
	margin-bottom: 10px;
	display: block;
}

.price {
	font-size: 16px;
}

/* .single-product:hover .price { */
    /* opacity: 0; */
    /* transition: all 0.3s ease 0s; */
/* } */

.services-bg {
	background-image: url('/images/flowers2.jpg');
	background-size: cover;
	min-height: 288px;
}

.social {
	width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	background-repeat: no-repeat;
	margin: 5px;
}

.social > span {
	color: white;
    background-color: #0ca98a;
    padding: 15px 0;
	text-align: center;
	font-size: 24px;
}

.social > span.social__join {
	display: none;
	background-color: #e95d84;
}

.social:hover > span.social__join {
	display: block;
}

.social:hover > span.social__name {
	display: none;
}

.odnoklassniki {
	background-image: url('/images/social/odnoklassniki.jpg');
}

.odnoklassniki:hover {
	background-image: url('/images/social/odnoklassniki_hover.jpg');
}

.odnoklassniki .social__name {
	background-color: #fbbb82;
}

.vkontakte {
	background-image: url('/images/social/vkontakte.jpg');
}

.vkontakte:hover {
	background-image: url('/images/social/vkontakte_hover.jpg');
}

.vkontakte .social__name {
	background-color: #507299;
}

.facebook {
	background-image: url('/images/social/facebook.jpg');
}

.facebook:hover {
	background-image: url('/images/social/facebook_hover.jpg');
}

.facebook .social__name {
	background-color: #4267b2;
}

.instagram {
	background-image: url('/images/social/instagram.jpg');
}

.instagram:hover {
	background-image: url('/images/social/instagram_hover.jpg');
}

.instagram .social__name {
	background-color: #e2405e;
}

_:-ms-input-placeholder, :root .banner-box {
	margin-bottom: 30px;
}

_:-moz-tree-row(hover), .banner-box {
	margin-bottom: 30px;
}

@media (min-width: 1900px) {
	.container {
		width: 1330px;
	}
}

.single-product .product-image {
    border: none
}

.product-list-all .row > div {
	padding-left: 0;
	padding-right: 0;
	max-width: 297px;
}

.mega-menu-area {
	width: 50%;
}

.catalog-column-3 {
	font-style: italic;
}

.tab-content p a:hover, .pro-description p a:hover, .services-area p a:hover {
    text-decoration: underline;
}

.tab-content p a, .pro-description p a, .services-area p a {
    color: #18bd9c;
}

.action-buttons {
	/* left: 8px; */
	left: 11px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 5px;
	height: calc(100% - 40px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.action-buttons__size {
	border: 1px solid black;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #f2efea;
    font-weight: bold;
    font-size: 16px;
    color: black;
	margin: 2px 0;
	display: block;
}

.flowers-phone {
	font-size: 22px;
	font-weight: bold;
	/*color: #e2405e;*/
}

.pink-bg {
	background-color: rgb(255, 123, 159) !important;
}

.page-body {
	margin-top: 30px;
}

table.order-table {
	background-color: #fafafa;
    border: 2px solid #129180;
	width: 100%;
}

table.order-table th {
	border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    color: #515151;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

table.order-table tbody {
	text-align: center;
}

table.order-table tbody td {
	border-right: 1px solid #e1e1e1;	
	padding: 0;
}

table.order-table tbody tr {
	border-bottom: 1px solid #e1e1e1;
}

table.order-table tbody tr:hover {
	background-color: #ecebeb;
}

table.order-table .product-size span {
	border: 1px solid black;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #f2efea;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 2px 0;
    display: inline-block;
}

table.order-table .product-name {
	color: #444;
    font-size: 16px;
    font-family: 'museoslab500';
    font-style: normal;
    font-weight: 400;
}

table.order-table .product-thumbnail {
	padding: 5px 0;
	width: 60px;
}

table.order-table .product-thumbnail img {
	height: 50px;
	width: auto;
}

table.order-table .product-stock-status {
	background-color: #18bd9c;
    color: white;
}

table.order-table .total-price-header-cell {
	background-color: #18bd9c;
    color: white;
}

a.remove {
	color: black;
}

.form-control {
	border: 1px solid #8a8181;
}

.order-sub-header {
	font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.order-info-block {
	margin-bottom: 15px;
	overflow: hidden;
}

.order-delivery-method {
	text-transform: uppercase;
	background-color: gray;
	color: white;
	font-size: 12px;
}

.order-delivery-method i {
	font-size: 16px;
}

.order-delivery-method.selected {
	background-color: #18bd9c;
}

.order-delivery-method:not(.selected):hover {
	background-color: gray;
}

.order-delivery-method.selected i {
	font-size: 17px;
}

.order-delivery-method i:before {
	position: relative;
    top: 2px;
    left: -5px;
}

.single-menu a:hover {
    color: #e72f5f;
}

.order-details {
	background-color: #fafafa;
    border: 1px solid lightgray;
    padding: 11px 15px 12px 15px;
	overflow: auto;
}

.order-table__summary, .order-table__delivery {
	color: #515151;
    font-size: 24px;
    font-weight: normal;
}

@media (max-width: 991px) {
	.header-middle-area {
		max-height: 100%;
		overflow-y: auto;
	}
}

.mobile-menu {
	height: 100%;
}

.mobile-menu .mean-bar {
	height: 100%;
}

.flowers-banner {
	/* background-image: url(/images/questions.jpg); */
	display: flex;
    height: 118px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ff7ca4;
    border: 2px solid #e2405e;
}

.welcome {
	font-size: 17px;
	font-weight: bold;
	margin-right: 10px;
	color: #dbdbdb;
}

.tool-box > span {
    font-weight: bold;
}

.instructions li {
	margin-bottom: 55px;
}

.promokod .social {
	width: 200px;
    height: 230px;
}

.dostavka p, .razmer p, .vozvrat p {
	font-size: 17px;
}

.order-table .product-remove {
    width: 53px;
}

.cart-list li +li {
	padding-top: 0;
    margin-top: 3px;
}

.cart-list li {
    border: 1px solid #bfbbbb;
}

.cart-list li .img-full img {
	height: 79px;
}

.cart-list .cbtn {
	background-color: rgb(255, 123, 159) !important;
	color: white;
}

.comment-alert {
	color: rgb(255, 123, 159);
	font-weight: bold;
}

.blog-box hr {
	margin: 30px 0;
}

.pink-button {
	text-align: center;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    border: 1px solid #ddd;
	
	padding: 10px 50px;
	color:white;
	font-size: 22px;
	background-color: rgb(255, 123, 159);
	border-radius: 0;
}

.green-button {
	text-align: center;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    border: 1px solid #ddd;
	
	padding: 15px 60px; 
	color:white;
	font-size: 24px;
	background-color: rgb(24, 189, 156);
	border-radius: 0;
}

.pink-button:hover, .green-button:hover {
	border-color: #ddd;
    box-shadow: 0 0 0 2px #fff inset;
}

.order__header {
	margin-top: 60px;
	font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.order__block {
	position: relative;
	overflow: auto;
	padding-top: 25px;
}

.order__select {
	background-color:white;
	font-size: 30px;
	border: 2px solid gray;
	border-radius: 5px;
	display: block;
	height: 60px;
	background: rgba(0, 0, 0, 0) url("/images/icons/arrow_down_3.png") no-repeat scroll 98% center;
}

.order__select option {
    font-size: 20px;
}

.order__select-arrow {
	position: absolute;
    right: 70px;
    top: 45px;
    display: inline-block;
    color: #948f8f;
    font-size: 18px;
    pointer-events: none;
}

.order__form {
	overflow: auto;
}

.order__form label {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial;
	color: black;
	margin: 12px 0;
}

.order__form label input {
	font-weight: normal;
	font-size: 14px;
	margin-top: 3px;
}

.delivery-box {
	background-color: #f5f3f3;
	cursor: pointer;
	border: 2px solid #f5f3f3;
}

.delivery-box__header {
	font-size: 20px;
    text-transform: uppercase;
	color: #18bd9c;
	letter-spacing: 2px;
	font-size: 20px;
	text-align:  center;
	
	/* margin-top: 0px; */
    /* font-style: normal; */
    /* font-weight: 400; */
	/* line-height: 1.1; */
}

.delivery-box__list {
	font-size: 18px;
}

.delivery-box__list li {
	margin: 5px 0;
}

.delivery-box__list b {
	float: right;
}


.delivery-box__hint {
	font-size: 14px;
	text-align: justify;
	font-style: italic;
}

.delivery-box__select {
	visibility: hidden;
	font-size: 15px;
	color: #e72f5f;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	padding-bottom: 9px;
}

.delivery-box:hover {
	border-color: #e72f5f;
}

.delivery-box:hover .delivery-box__select {
	visibility: visible;
}

.delivery-box--selected {
	background-color: #f9d5dc;
}

.delivery-box--selected .delivery-box__header {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 2px 1px 5px rgb(134, 119, 119);
}

.delivery-box--selected .icon2 {
	color: white;	
}

.delivery-box--selected .icon2, .delivery-box--selected .icon2:after, .delivery-box--selected .icon2:before {
	background-color: #e72f5f;
}

.product-total .p-price {
	font-size: 20px;
}

.order-total span.t-price, tr.order-total th {
	font-size: 30px;
	letter-spacing: 2px;
}

.special-box {
	background-color: #dfdcde;
    border-radius: 2px;
    color: #515151;
    font-size: 0.92em;
    line-height: 1.5;
    margin: 1em 0;
    position: relative;
	width: 100%;
	padding: 5px 15px;
	height: 80px;
}

.special-box > form {
	text-align: center;
	display: block;
}

.special-box form > div {
	font-size: 18px;
}

.special-box form > button {
	font-size: 14px;
}

.special-box::after {
	display: none;
}

.special-box button {
	background-color: rgb(255, 123, 159) !important;
    color: white;
    border-radius: 0;
}

.special-box input:focus {
	background-color: white;
}

.payment-box {
	border: 1px solid #00a587;
}

.order-header {
	background-color: #18bd9c;
}

@media (max-width: 1600px) {
	.order__block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.order__block .delivery-box {
		margin-bottom: 40px;
	}
	.wishlist-table.table-responsive {
		margin-bottom: 80px;
	}
}

@media (max-width: 770px) {
	.pink-button, .green-button {
		float: none;
		margin: 5px;
	}
	.button-bar {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 40px;
	}
	.special-box {
		height: 120px;
	}
	.order-total span.t-price {
		font-size: 24px;
	}
	.order-table__summary, .order-table__delivery {
		font-size: 18px;
	}
	.order__select-arrow {
		display: none;
	}
	.order__select {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.delivery-box__list b {
		float: none;
		display: block;
		text-align: center;
	}
}

.article_number {
	color: gray;
	font-size: 12px;
}