/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .sidenav-content .megamenu {
  width: 735px;
}
.sidenav-content .megamenu span.single-menu {
  width: 30.4%;
}
.sidenav-content nav ul li ul.dropdown {
  left: 220px;
}
.home-5 .product-text{padding-bottom: 16px;}
.price_slider_amount input {
  width: 163px;
}
.main-menu > li > a {
  padding: 30px 10px;
}
.sticky .main-menu > li > a {
  padding: 20px 10px;
}
.blue .sticky .main-menu > li > a {
  padding: 14px 10px;
}
.single-product .pro-description > p {
  margin-top: 0;
  padding: 10px 0;
}
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.sub-btn {
  padding: 5px 10px;
}
.title-p {
  padding: 0;
}
.test-text{padding: 0;}
.home-3 {
  padding: 0;
}
.sticky .logo {
  display: none !important;
}
.verti-center h1{font-size: 20px;}
.searh-box-pop{
  padding-bottom: 24px;
  padding-top: 10px;
}
.home-3 .mean-container .mean-bar {
  z-index: -1;
}
.input-box-news input {
  width: 52%;
}
.newsletter h4 {
  font-size: 15px;
}
.header-bottom-icone > li {
  padding: 0 5px;
}
.sidebar-box .newsletter {
  margin-bottom: 70px;
}
.home-5 .product-text{padding-bottom: 10px;}
.box2 .action-buttons {
  padding-right: 10px;
}
.side-all-content {
  margin-top: 70px;
}
.all-brand .brandlist {
  width: 50%;
}
.blue .banner-box .verti-center h3 {
  font-size: 17px;
  margin-bottom: 5px;
}
.blue .banner-box .verti-center h5 {
  font-size: 12px;
}
.banner-box.mb-40{margin-bottom: 30px;}
.price_slider_amount input {
  width: 108px;
}
.sidebar-box a.cbtn {
  margin: 0;
  padding: 6px 11px;

}
.modal-content .pro-details a.p-button{margin-top: 15px;}
.single-right-product{margin-top: 70px;}
.logo.pt-30 {
  padding-bottom: 30px;
}







}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.rmb-30{margin-bottom: 30px;}
.rmt-70{margin-top: 70px;}
.rmb-0{margin-bottom:0px !important;}
.rmt-0{margin-top:0px !important;}
 .title-p {
  padding: 0;
}
.sticky .logo {
  display: none !important;
}
.header-middle-area .container .row [class*="col-"] {
  text-align: center;
}
.search-hide{
  margin-bottom: 30px;
}
.logo {
  display: block !important;
}
.home-4 .cart-list,.home-3 .cart-list {
  right: -100px;
}
.top-form {
  top: 91px;
}
.home-3 .mean-container .mean-bar {
  z-index: -1;
}
.header-middle-area.home-3.border-b {
  border: medium none;
}
.duble-item {
  overflow: hidden;
  padding-bottom: 30px;
}
.newsletter {
  margin-top: 30px;
}
.input-box-news input {
  width: 60%;
}
.p-banner-text h2 {
  font-size: 24px;
}
.banner-carousel {
  margin-bottom: 30px;
}
.services-area .item-box {
  margin-bottom: 50px;
}
.duble-item  .blog-img {
  width: 100%;
}
.duble-item  .blog-text {
  margin-top: 15px;
  padding-left: 0;
  width: 100%;
}
.test-text{padding: 0;}
.text-box h3 {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
}
.text-box {
  width: 96%;
}
.text-box h2 {
  font-size: 15px;
}
.text-box p {
  font-size: 15px;
}
.text-box h3 span.number {
  font-size: 30px;
  top: 12px;
}
.product-tab-area .border-line::before{height:0;}
.banner-box {
  margin-bottom: 30px;
}
.tab-menu li a {
  display: block;
  margin-bottom: 10px;
  padding: 10px 19px;
}
.tab-menu li:last-child a {
  margin-bottom: 0;
}
.item-box {
  margin-bottom: 20px;
}
.col-sm-4:last-child .item-box {
  margin-bottom: 0px;
}
.logostick {
  display: none;
}
.footer-box {
  margin-bottom: 20px;
}
.col-lg-3.col-md-4.col-sm-4:last-child .footer-box {
  margin-bottom: 0px;
}
.payment-link {
  text-align: center;
}
.copy-text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.center-logo {
  padding-bottom: 30px;
}
.slide-text h4 {
  font-size: 15px;
  letter-spacing: 3px;
  margin-bottom: 0;
}
.slide-text h2 {
  font-size: 21px;
}
.sidebar-box .newsletter {
  margin-bottom: 40px;
}
.product-banner .p-banner-text h2 {
  font-size: 16px;
}
.home-4 .duble-item {
  padding-bottom: 0;
}
.duble-item .blog-text p{
  margin-bottom: 0;
}
.top-right-text {
  float: none;
  text-align: center;
}
.home-5 .cart-list {
  right: 0;
}
.box2 .product-image{width: 100%}
.box2 .product-text {
  padding-bottom: 10px;
  width: 100%;
}
.home-5 .banner-box {
  margin-bottom: 0px;
}
.verti-center h1{font-size: 25px;}
.logo-2 {text-align: center;}
.top-cart {
  padding: 20px 0 0;
  text-align: center;
}
.topbar-phone {
  display: inline-block;
  float: none;
  text-align: center;
  width: auto;
  margin-right: 10px;
}
.searh-box-pop.cart-box {
  display: inline-block;
  float: none;
}
.blue .cart-box {
  padding-bottom: 40px;
}
.icon-search, .box-6 {
  top: 2px;
}
.blue .top-cart {
  padding: 0;
}
.blue .slide-images img {
  top: -16px;
  width: 42%;
}
.blue .slide-text h1 {
  font-size: 17px;
  margin-bottom: 5px;
}
.blue .slide-text h5 {
  font-size: 11px;;
}
.blue .slide-text h2 {
  font-size: 14px;
}

.blue .slide-text-2 h1 {
  font-size: 14px;
  margin-bottom: 5px;
}
.blue .slide-text-2 h5 {
  font-size: 10px;
  margin-bottom: 19px;
}
.blue .slide-text-2 h2 {
  font-size: 14px;
}
.blue .slide-text a {
  padding: 8px 15px;
}
.blue .nivo-controlNav {
  display: none;
}
.blue .product-tab-area.ptb-70 {
  padding-top: 0;
}
.all-brand .brandlist {
  width: 50%;
}
.blue .cart-list {
  right: -33px;
}
.banner-box .p-button {
  background: #fff none repeat scroll 0 0;
  padding: 2px 10px;
}
.all-brand .brandlist {
  width: 100%;
}
.pagination-li li + li {
  margin-left: 6px;
}
.side-all-content {
  margin-top: 70px;
}
.blue .banner-box .verti-center h3{font-size: 16px;}
.blue .banner-box .verti-center h5{font-size: 13px;}
.product-banner .row .col-sm-6:last-child .banner-box{margin-bottom: 0;}
.pro-details h3{font-size: 16px;}
.model-product-box .pro-details a.p-button{margin-top: 15px;}
.model-product-box .pro-img {
  width: 100%;
}
.model-product-box .pro-details {
  margin-top: 30px;
  padding-left: 0;
  width: 100%;
}
.title-inner h1 {
  font-size: 40px;
}
.price-avaible h5 span{font-size: 15px;}
table.shop_table tbody td.product-name {
  padding: 15px 10px;
}
.product-name .pro-img {
  float: none;
  margin: 0 0 10px;
  width: 143px;
}
.c-p-name {
  overflow: hidden;
  padding: 6px 0;
  width: 100%;
}
.button-box {
  margin-bottom: 10px;
}
.cart-total{margin-top: 70px;}
.table-responsive{border: none;}
.register-text{margin-top: 70px;}
.cart-box.box-6 {
  top: 14px;
}
.latest-post-sidebar{margin-top: 70px;}
.input-box button.p-button {
  margin-top: 15px;
}
.leave-comment {
  width: 100%;
}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 .top-right-text {
  float: none;
  text-align: center;
}
.blue .slide-text h2 {
  font-size: 35px;
}
.blue .slide-text h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.blue .slide-text h5 {
  font-size: 18px;
}
.blue .slide-text h2 {
  font-size: 35px;
}
.blue .slide-images img {
  top: -51px;
}
.model-product-box .pro-details a.p-button{margin-top: 0px;}

}
 
