/* -----------------------------------
Template:  Theme Name

NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
.footer-contact-us li + li {
  margin-top: 15px;
}
.footer-contact-us li i {
  border: 1px solid #eaeaea;
  border-radius: 100%;
  color: #7ec6ac;
  float: left;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  margin-right: 10px;
  text-align: center;
  width: 34px;
}

.footer-menu li:hover a{padding-left: 15px;}
.footer-menu li:before {
  content: "\f0da";
  font: 14px/1 FontAwesome;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 8px;
}
.footer-contact-us span {
  display: block;
}
.footer-menu li:first-child:before{
    top: 4px;
}
.footer-menu li:hover:before{opacity: 1;}

.footer-menu li,.footer-contact-us > li  {transition: padding 0.3s ease 0s;font-size: 14px;color: #666;position: relative;}
.footer-menu li +li{
  padding-top: 5px;
}
.footer-box h4 {
  margin-bottom: 20px;
}
.footer-bootom_area {
  padding:15px 0;
}
.copy-text {
  color: #666;
  font-size: 15px;
  line-height: 34px;
}
.copy-text a {
  color: inherit;
}
.copy-text a:hover {
  color: #7EC6AC;
}
.payment-link{text-align:right}
.payment-link a {
  display: inline-block;
  padding: 4px 7px 0;
  vertical-align: bottom;
}
.payment-link a img{opacity:0.5}
.payment-link a img:hover{opacity:1}
#scrollUp {
  border: 2px solid #7EC6AC;
  border-radius: 50%;
  bottom: 20px;
  color: #fff;
  height: 48px;
  padding: 3px;
  right: 20px;
  text-align: center;
  transition: all 0.2s ease-out 0s;
  width: 48px;
  text-decoration:none;
}
#scrollUp i {
  background-color: #7EC6AC;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 22px;
  height: 100%;
  line-height: 34px;
  position: relative;
  width: 100%;
}
.blue .footer-box .h-title {
  color: #fff;
}
.blue .footer-contact-us li i {
  color: #48a2df;
}
.blue .footer-menu a,.blue .footer-contact-us li {
  color: #ddd;
}
.blue .footer-menu a:hover{color: #48a2df}
.blue .copy-text {
  color: #ddd;
}