/* -----------------------------------
Template:  Theme Name

NOTE: This is Header style file. All Header related style included in this file.

--------------------------------------*/
.single-promo{

}
.single-promo i{
  color: #00a9da;
  display: block;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.single-promo h3 {
  padding-bottom: 15px;
  position: relative;
}
.single-promo h3::before {
  background: #00a9da none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  width: 70px;
}

.single-promo.text-center h3::before {
  left: 0;
  right: 0;
  margin: auto;
}

.single-promo.text-right h3::before {
  left: auto;
  right: 0;
}

.promo-style-2{

}


/*Call to action*/
.action-box-button a.button span {
  font-size: 13px;
  padding: 11px 12px;
}



/* breadcrumb style*/
.breadcrumb-list > li {
  display: inline-block;
  float: none;
  margin-left: 22px;
  position: relative;
}
.breadcrumb-list > li::after {
  color: #ffffff;
  content: "/";
  left: -14px;
  position: absolute;
  top: 2px;
}
.breadcrumb-list > li:first-child {
  margin-left: 0;
}
.breadcrumb-list > li:first-child::after {
  content: "";
}
.breadcrumb-list > li > a {
  color: #ffffff;
}

/*************************************
         Custom-content all   
 **************************************/
 .top-left-text p {
  font-size: 18px;
}
.search-box-header input {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #ececec;
  border-radius: 20px;
  color: #6f6f6f;
  font-size: 12.5px;
  height: 27px;
  line-height: 27px;
  min-width: 195px;
  padding: 0 15px;
}
.search-box-header button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #888;
  padding: 2px 0 0;
  position: absolute;
  right: 12px;
  top: 0;
}
.search-box-header button i {
  line-height: 23px;
}
ul.my-setting {
  list-style: outside none none;
  margin: 0;
  padding: 12px 0;
  position: relative;
  text-align: left;
}
ul.my-setting ul {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 2px 1px #dadada;
  list-style: outside none none;
  margin: 0;
  min-width: 175px;
  padding: 18px;
  position: absolute;
  right: 0;
  top: 44px;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  z-index: 9999999;
}
.my-setting span, .cart-icone i {
  color: #686868;
  line-height: 15px;
}
.my-setting:hover ul{
  	transform: scale(1);
	visibility: visible;
}
ul.my-setting a{color:#747474;font-size:90%;line-height:28px;}

.cart-icone {
  display: inline-block;
  position: relative;
  top: -1px;
}
.cart-icone span,span.count-product {
  background: #7DC6AB none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  height: 20px;
  left: 11px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -5px;
  width: 20px;
}
.cart-list {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 2px 1px #dadada;
  left: auto;
  padding: 15px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 44px;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.3s ease-out 0s;
  visibility: hidden;
  width: 300px;
  z-index: 9999999;
}
.cart-box {
  padding: 12px 0;
}
.cart-box:hover .cart-list{visibility:visible;transform: scale(1);}
.cart-list .pro-img {
  border: 1px solid #ddd;
  float: left;
  margin-right: 10px;
  width: 80px;
}
.remove-cart i {
  background: #ddd none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  height: 16px;
  line-height: 10px;
  padding: 3px;
  width: 16px;
}
.remove-cart i.fa-file {
  font-size: 10px;
  padding: 4px;
}
.cart-list li +li{
  padding-top: 15px;
}
.cart-list li a,.cart-list li p{color:#414141}
/* .cart-list ul{border-bottom:1px solid #ddd;} */


/*menu style */
.header-area{
	z-index: 10;
	position: relative;
}
.main-menu > li > a {
  display: block;
  letter-spacing: 0.2px;
  padding: 30px 20px;
  text-transform: uppercase;
  color: #4e4d4d;
  font-family: MuseoSlab-500;
  font-size: 14px;
}
.main-menu > li > a span{
  position:relative;	
}
.main-menu > li > a span:after{
  background: #b1b1b1 none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 1px;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  width: 0;
  left:0;
}
.main-menu > li:hover a span:after{width:100%}
.main-menu > li:first-child a span:after{width:100%}

.main-menu li {
    display: inline-block;
    position: relative;
}
.main-menu > li:hover > a{
  color: #7DC6AB;
}
.main-menu > li:first-child a span{
	color: #7DC6AB;
} 

.dropdown > li:hover > a{
	color: #7DC6AB;
}
.single-mega-item > li:hover > a{
	color: #7DC6AB;
} 
/*Dropdown Style*/
.dropdown {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 200px;
  z-index: 2;
}
.dropdown li{
	display: block;
	border-bottom: 1px solid #ddd;
}
.dropdown li a {
  display: block;
  padding: 9px 0;
}
.main-menu li:hover .dropdown{
	transform: scale(1);
	visibility: visible;
}
/*Mega menu style*/
/*#primary-menu {
  position: relative;
}*/
.mega-menu-area {
    background: #ffffff none repeat scroll 0 0;
    left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
	transform: scaleY(0);
	transform-origin: 0 0 0;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	z-index: 2;
}
.main-menu li.mega-parent {
    position: static;
}

.main-menu li:hover .mega-menu-area{
	transform: scale(1);
	visibility: visible;
}
.single-menu a{display:block;}
.single-menu a.menu-title {
  color: #231f20;
  font-family: MuseoSlab-500;
  font-size: 15px;
  letter-spacing: 0.2px;
}
.single-menu a +a {
  padding-top: 10px;
}
.header-middle-area .container .row [class*="col-"] {
	position: static;
 }
 .header-middle-area .full-width-mega-dropdown{
 	position: relative;
 }
 /*Header Transprent */
.transparent-header {
  background: #fff none repeat scroll 0 0;
  margin: auto;
  position: absolute;
  width: 100%;
}
.transparent-header .main-menu > li > a {
  font-family: MuseoSlab-500;
  font-size: 14px;
}
.transparent-header.sticky {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
}
 /*Sticky Menu*/
 .sticky {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4)
}
 .sticky .main-menu > li > a{
 	padding: 20px 18px;
 }
.logo {
	transition: all 0.3s ease 0s;
}
.logo img{
	transition: all 0.3s ease 0s;
	width: 194px;
}
.sticky .logo img {
	transition: all 0.3s ease 0s;
  width: 150px;
}
 .sticky .logo{
 	padding: 8px 0;
 }
/* home 2*/
.h2-logo{
  opacity:0 ;
  visibility: hidden;
}
 .sticky .h2-logo{opacity:1;visibility: visible;}
.sticky ul.home-2 {
  text-align: right;
  padding-right: 150px;
}

/* home 3 style*/
 .icon-search::before, .box-6::before {
  border-right: 1.4142px solid #dbdbdb;
  border-top: 1.4142px solid #dbdbdb;
  top: -14.1421px;
}
.icon-search::before,.icon-search::after,.box-6::before,.box-6:after {
  background-color: inherit;
  content: "";
  height: 28px;
  left: 5px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  transition: all 0.25s ease 0s;
  width: 28px;
  z-index: -1;
}
.icon-search::after {
  border-bottom: 1.4142px solid #dbdbdb;
  border-left: 1.4142px solid #dbdbdb;
  bottom: -14.1421px;
}
.box-6:after {
  border-bottom: 1.4142px solid #dbdbdb;
  border-left: 1.4142px solid #dbdbdb;
  bottom: -14.1421px;
}
.icon-search::before,.icon-search::after,.box-6:before,.box-6:after {
  background-color: #fff;
  content: "";
  height: 28px;
  left: 5px;
  position: absolute;
  transform: scaleY(0.5774) rotate(-45deg);
  transition: all 0.25s ease 0s;
  width: 28px;
  z-index: -1;
}
.icon-search, .box-6 {
  background-color: #ffffff;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  height: 20px;
  line-height: 22px;
  margin: 11.55px 0;
  position: relative;
  text-align: center;
  top: 7px;
  transition: all 0.25s ease 0s;
  width: 40px;
  z-index: 0;
}
.cart-box.box-6 {
  margin-left: 10px;
  padding: 10px;
  top: 18px;
}
.cart-box.box-6 .cart-icone span {
  left: 14px;
  top: -16px;
}
.cart-box.box-6 .cart-icone {
  display: inline-block;
  position: relative;
  top: -10px;
}
.icon-search:hover:before {
  border-right: 1.4142px solid #1abc9c;
  border-top: 1.4142px solid #1abc9c;
  top: -14px;
}
.icon-search:hover:before,.icon-search:hover::after {
  background: #1abc9c none repeat scroll 0 0;
}
.icon-search:hover::after {
  border-bottom: 1.4142px solid #1abc9c;
  border-left: 1.4142px solid #1abc9c;
  bottom: -14.1421px;
}
.icon-search:hover {
  background-color: #1abc9c;
}
.icon-search span i {
  color: #666;
  line-height: 15px;
}
.icon-search:hover span i{color: #fff;}
.top-form {
  display: none;
  left: 0;
  position: absolute;
  top: 14px;
  width: 100%;
  z-index: 9;
}
.top-form .sub-input {
  background: #f9f9f9 none repeat scroll 0 0;
  height: 45px;
}
.top-form .sub-btn {
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  line-height: 32px;
}
.top-form button{opacity: 0;}
.main-menu.home3-menu> li > a span::after {
  background: #1abc9c none repeat scroll 0 0;
  bottom: 66px;
  height: 3px;
}
.home-3 {
  padding: 20px 0;
}
.sticky .search-hide{display: none;transition: all 0.25s ease 0s;}
.sticky.home-3{padding: 0;}
.icon-top-social a {
  color: #777;
  font-size: 16px;
  margin: 0 5px;
}
.header-bottom-icone > li {
  color: #666;
  padding: 0 10px;
}
.header-bottom-icone > li  i{
  margin-right: 5px;
}
ul.my-setting.bottom-lang ul {
  right: 0;
  min-width: 113px;
  padding: 4px 16px;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.15);
}
.bottom-lang{position: relative;}
.bottom-lang::after {
  background: #ddd none repeat scroll 0 0;
  content: "";
  height: 14px;
  left: -10px;
  position: absolute;
  top: 16px;
  width: 2px;
}
.lang-left.bottom-lang::after {
  left: -12px;
}

/* home 4 style*/
.home-4 .main-menu > li > a {
  padding: 30px 10px;
}
.home-4.sticky .main-menu > li > a {
  padding: 20px 10px;
}
/* home 6 style*/
.black-bg .header-bottom-icone li a,.black-bg .my-setting span,.black-bg  .cart-icone i,.black-bg ul.my-setting a,.black-bg .icon-top-social > a  {
  color: #dfdfdf;
}
.black-bg .header-bottom-icone li a:hover,.black-bg  .cart-icone:hover i,.black-bg ul.my-setting a:hover,.black-bg .icon-top-social a:hover  {
  color: #3498DB;
}
.search-categry form {
  margin-bottom: 0;
}
.black-bg .header-bottom-icone li a:hover{color: #3498DB}
.categroy-box {
  display: inline-block;
  position: relative;
}
.search-categry label {
  background: #48a2df none repeat scroll 0 0;
  border-radius: 20px 0 0 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  height: 35px;
  margin-bottom: 0;
  padding: 8px 15px;

}
@-moz-document url-prefix() { 
.search-categry label {
  padding: 7px 15px;
}
}
.search-categry ul {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
  margin: 10px;
  opacity: 0;
  padding: 0;
  position: absolute;
  transition: all 300ms ease 0s;
  visibility: hidden;
  width: 200px;
  z-index: 9999;
  text-align: left;
}
.search-categry ul li a {
  color: #747474;
  display: block;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-top: 5px;
}
.categroy-box:hover ul{opacity: 1;visibility: visible;}
.search-categry ul li a:hover {
  background-color: #b3b3b3;
  color: #fff;
}
.search-categry.search-box-header input {
  border: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
  height: 35px;
  line-height: 19px;
  margin-left: -6px;
  width: 235px;
}
.blue .search-categry.search-box-header button {
  right: 19px;
  top: 5px;
}
.blue .cart-list {
  right: 0;
  top: 62px;
}
.topbar-phone {
  float: left;
  font-size: 16px;
  padding: 30px 0;
  text-align: right;
  width: 80%;
}
.topbar-phone span{color: #48A2DF;}
.blue .cart-icone span, span.count-product {
  background: #48a2df none repeat scroll 0 0;
  height: 20px;
  left: 31px;
  top: -5px;
}
.blue .icon-search:hover::before,.blue .icon-search:hover::after,.blue .icon-search:hover {
  background: #48a2df none repeat scroll 0 0;
}
.blue .search-categry.search-box-header {
  padding: 42px 0;
}
.top-cart {
  padding: 20px 0;
}
.blue a.cbtn:hover {
  background: #48a2df none repeat scroll 0 0;
  color: #fff;
}
.blue .main-menu > li > a {
  color: #fff;
  font-size: 14px;
  padding: 15px 11px;
}
.blue .main-menu.home3-menu > li:first-child a span::after {
  background: #fff none repeat scroll 0 0;
  bottom: 28px;
  left: 50%;
  margin-left: -6px;
  width:12px;
  height: 12px;
  transform: rotate(45deg);
}
.blue .main-menu > li:first-child a span {
  color: #fff;
}
.blue .main-menu.home3-menu > li:hover a span::after {
  background: #fff none repeat scroll 0 0;
  bottom: 28px;
  height: 12px;
  transform: rotate(45deg);
  width: 12px;
}
.blue .main-menu.home3-menu > li > a span::after {
  background: #fff none repeat scroll 0 0;
  bottom: 43px;
  left: 50%;
  margin-left: -6px;
}
.blue .sidenav-title {
  background: #3d8abe none repeat scroll 0 0;
  display: inline-block;
  padding: 16px 15px;
}
ul.leftmainmenu{
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: block;
  left: 0;
  margin: 20px 0 0;
  padding: 0;
  position: absolute;
  top: 52px;
  transition: all 300ms ease 0s;
  visibility: hidden;
  width: 270px;
  z-index: 1001;
  opacity: 0;
  top: 100px;
}
.blue .sidenav-title:hover ul.leftmainmenu {
  opacity: 1;
  top: 30px;
  visibility: visible;
}
ul.leftmainmenu li a {
  border-bottom: 1px solid #f2f2f2;
  color: #7a7a7a;
  display: block;
  line-height: 100%;
  padding: 18px;
  text-transform: uppercase;
  font-family: 'museoslab500';
  border-left: 2px solid Transprent;
}
ul.leftmainmenu li a i{margin-right: 10px;}
ul.leftmainmenu li a:hover{color: #48A2DF;border-left: 2px solid #48A2DF;}
.blue .dropdown > li:hover > a,.blue a:hover {
  color: #48A2DF;
}
.top-lebel:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #f6555d;
  content: "";
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 100%;
  width: 1px;
}
.top-lebel {
  background-color: #f6555d;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin-right: -14px;
  padding: 1px 5px;
  position: absolute;
  right: 50%;
  top: -3px;
  z-index: 1;
}
