/* -----------------------------------
Template:  Theme Name

NOTE: This is Slider style file. All Slider related style included in this file.

--------------------------------------*/
.slider-area {
  position: relative;
  width: 100%;
  float: left;
}
.nivo-controlNav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.nivo-controlNav a {
  background: #fff none repeat scroll 0 0;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 5px;
  width: 12px;
  text-indent: -9999px;
  white-space: nowrap; 
  border: 1px solid transparent;
  
}
.nivo-controlNav a.active {
  border: 1px solid #636363;
  height: 14px;
  width: 14px;
}
.slider-direction {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  display: none;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.slide-content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slide-text-left{left: 15%}
.slide-text h2 {
  font-size: 48px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.slide-text h4 {
  font-size: 24px;
  letter-spacing: 10px;
  line-height:30px;
}
.slide-text h2 a{color: inherit;}
.slide-text-right{
  right: 15%;
}
.text-6{float: right;width: 50%;}
.slide-contentfull {
  width: 100%;
}
.slide-images img {
  left: auto;
  right: 50%;
  top: -85px;
}
.blue .slide-text h2 {
  font-family: pt sans;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0;
}
.blue .slide-text h1{font-size: 55px;}
.blue .slide-text a {
  border: medium none;
  color: #fff;
  font-family: museoslab500;
  padding: 8px 30px;
  background: #48A2DF;
}
.blue .slide-text a:hover{background: #fff;color: #444;}