<template>
<div class="main-panel">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Баннеры</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>			
						<a @click="add" style="cursor: pointer;">
							<i class="ti-plus"></i>
							Добавить баннер
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 col-md-6">
					<div class="card">
						<div class="header">
							<h4 class="title">Промокоды</h4>
						</div>
						<div class="content table-responsive table-full-width">
							<table class="table table-hover">
								<thead>
								   <tr>
									   <th>#</th>
									   <th>Название</th>
									   <th>Ссылка</th>
									   <th>Позиция</th>
									   <th>Порядок</th>
								   </tr>
								</thead>
								<tbody>
									<tr v-for="banner in banners" @click="load(banner)">
										<td>{{ banner.banner_id }}</td>
										<td>{{ banner.name }}</td>
										<td>{{ banner.uri }}</td>
										<td>{{ banner.position }}</td>
										<td>{{ banner.order }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-lg-5 col-md-6">
					<div class="card card-user" v-if="banner">
						<div class="content">						
							<form v-on:submit.prevent>
								<h4 class="title">{{ banner.banner_id ? 'Редактировать промокод #' + banner.banner_id : 'Новый промокод' }} - {{ banner.name || '<Без названия>' }}</h4>
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">
											<label>Название</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Название" v-model="banner.name">
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<label>Местоположение</label>
											<select name="position" class="form-control border-input" v-model="banner.position">
												<option :value="null">{ Не выбрано }</option>
												<option :value="position.position" v-for="position in positions">{{ position.position }}</option>
											</select>
										</div>
									</div>	
									<div class="col-md-2">
										<div class="form-group">
											<label>Порядок</label>
											<input type="number" name="order" class="form-control border-input" placeholder="Порядок" v-model="banner.order">
										</div>
									</div>										
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Ссылка</label>
											<input type="text" name="uri" class="form-control border-input" placeholder="Ссылка" v-model="banner.uri">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Альтернативное описание картинки</label>
											<input type="text" name="alt" class="form-control border-input" placeholder="Альтернативное описание картинки" v-model="banner.alt">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Картинка</label>
											<VueImgInputer type="file" v-model="banner.image_file" theme="light" size="small" placeholder="Изображение не выбрано" bottom-text="Нажмите для перевыбора" :imgSrc="$helper.image(banner.image)" style="width: 100%; height: 250px;"></VueImgInputer>
										</div>
									</div>
								</div>
							</form>
						</div>
						
						<div class="text-center">
							<div class="row">
								<div class="col-md-4" style="padding-left: 5px;">
									<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="save">Сохранить</button>
								</div>
								<div class="col-md-4">
									<button type="submit" class="btn btn-fill btn-wd" style="border-radius: 0;" @click="close">Сбросить</button>
								</div>
								<div class="col-md-4" style="padding-right: 4px;">
									<button type="submit" class="btn btn-danger btn-fill btn-wd" style="border-radius: 0;" @click="remove">Удалить</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'
import Container from '@/components/Container.vue'
import Block from '@/components/Block.vue'
import VueImgInputer from 'vue-img-inputer'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		AdminLeftMenu,
		Container,
		Block,
		VueImgInputer
	},
	async asyncData ({ app, store }) {
		let banners = (await app.api.get('admin/banners')).data;
		let positions = (await app.api.get('admin/positions')).data;
		return { banners, banner: null, positions };
	},
	head() {
		return { title: 'Баннеры' };
	},
	mounted() {
		this.loadData();
	},
	methods: {
		async loadData() {
			this.banner = null;
			this.banners = (await this.$api.get('admin/banners')).data;
			this.banners.forEach((_, index) => { if(this.banners[index].last_date) this.banners[index].last_date = this.banners[index].last_date.substring(0,10); })
		},
		async save() {
			let get_type = function(obj) {
				if(obj != null)
					return Object.prototype.toString.call(obj).slice(8, -1);
				else
					return 'NULL';
			}
			try {
				var form_data = new FormData();
				for (var key in this.banner) {
					form_data.append(key, get_type(this.banner[key]) != 'File' ? JSON.stringify(this.banner[key]) : this.banner[key]);
				}
				
				(await this.$api.post('admin/banner/save', form_data)).data;

				this.$notify.success('Баннер сохранён!');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		load(value) {
			this.banner = value;
		},
		add() {
			this.banner = { alt: '', image: null, name: '', order: null, position: null };
		},
		async remove() {
			try {
				(await this.$api.post(`admin/banner/remove?banner_id=${this.banner.banner_id}`)).data;

				this.$notify.success('Баннер удалён успешно! Его больше нет.');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		close() {
			this.loadData();
		}
	}
}
</script>

<style>
.img-inputer__preview-img {
    max-width: 100% !important;
    max-height: 100% !important;
	width: auto !important;
}
.img-inputer__preview-box {
	display: flex;
    justify-content: center;
	align-items: center;
}
</style>