<template>
<div class="main-panel">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Категории</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>			
						<nuxt-link to="/admin/category">
							<i class="ti-plus"></i>
							<p>Добавить категорию</p>
						</nuxt-link>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h4 class="title">Категории</h4>
						</div>
						<div class="content table-responsive table-full-width">
							<table class="table table-hover">
								<thead>
								   <tr>
									   <th>#</th>
									   <th>Название</th>
									   <th>Подкатегории</th>
									   <th></th>
								   </tr>
								</thead>
								<tbody>
										<tr v-for="category in $store.state.categories">
											<td>{{ category.category_id }}</td>
											<td>{{ category.name }}</td>
											<td></td>
											<td></td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'
import Container from '@/components/Container.vue'
import Block from '@/components/Block.vue'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		AdminLeftMenu,
		Container,
		Block
	},
	head() {
		return { title: 'Категории' };
	}
}
</script>