<template>
<div class="main-panel">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Списки</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><Pager :numbered="numbered" v-model="filter.page" /></li>
					<li style="padding: 25px;">Название <input type="text" v-model="filter.list_name"/><i class="fa fa-rebel"></i></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>			
						<a @click="add_list" style="cursor: pointer;"><i class="ti-plus"></i>Добавить список</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="card">
						<!--<div class="header">
							<h4 class="title">Списки</h4>
						</div>-->
						<div class="content table-responsive table-full-width">
							<table class="table table-hover">
								<thead>
								   <tr>
									   <th>#</th>
									   <th>Название</th>
									   <th>Количество товаров</th>
								   </tr>
								</thead>
								<tbody>
									<tr v-for="list in numbered.data" @click="load(list)">
										<td>{{ list.list_id }}</td>
										<td>{{ list.name }}</td>
										<td>{{ list.count }}</td>									
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-lg-5 col-md-5" v-if="list">
					<div class="card card-user">
						<div class="content">						
							<form v-on:submit.prevent>
								<h4 class="title">{{ list.list_id ? 'Редактировать список #' + list.list_id : 'Новый список' }} - {{ list.name || '<Без названия>' }}</h4>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Название в меню</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Название" v-model="list.name">
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Название каталога</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Название каталога" v-model="list.catalog_title">
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label>Родит. список</label>
											<select name="type" class="form-control border-input" v-model="list.parent_id">
												<option :value="null">{ Нет }</option>
												<option :value="list.list_id" v-for="list in $store.getters.root_list.filter(f => f.list_id != this.list.list_id)">{{ list.name }}</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">
											<label>Meta Title</label>
											<input type="text" name="title" class="form-control border-input" placeholder="Заголовок" v-model="list.title"/>
										</div>
									</div>
									<div class="col-md-7">
										<div class="form-group">
											<label>Meta Keywords</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Meta Keywords" v-model="list.meta_keywords"/>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Meta Description</label>
											<textarea rows="3" name="description" class="form-control border-input" placeholder="Meta Description" v-model="list.meta_description"></textarea>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Ссылка</label>
											<input type="text" name="uri" class="form-control border-input" placeholder="Ссылка" v-model="list.uri">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Размерный тип</label>
											<select name="type" class="form-control border-input" v-model="list.type_id">
												<option :value="null">{ Универсальный }</option>
												<option :value="type.type_id" v-for="type in types">{{ type.name }}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Макс. количество</label>
											<input type="number" name="title" class="form-control border-input" placeholder="Макс. количество" v-model="list.max_size">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Колонка в каталоге</label>
											<input type="number" name="column" class="form-control border-input" placeholder="Колонка в каталоге" v-model="list.column">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Цвет элемента меню</label>
											<input type="text" name="color" class="form-control border-input" placeholder="Цвет элемента меню" v-model="list.color">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Порядок отображ.</label>
											<input type="number" name="order" class="form-control border-input" placeholder="Порядок отображения" v-model="list.order">
										</div>
									</div>		
								</div>
								
								<div class="row" v-if="list.parent_id == null">
									<div class="col-md-4">
										<div class="form-group">
											<label>В меню каталога</label>
											<input type="checkbox" name="in_catalog" class="form-control border-input" v-model="list.in_catalog" style="width: 20px;">
										</div>
									</div>	
									<div class="col-md-4">
										<div class="form-group">
											<label>В верхнее меню</label>
											<input type="checkbox" name="in_menu" class="form-control border-input" v-model="list.in_menu" style="width: 20px;">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Список на главной</label>
											<input type="checkbox" name="in_main" class="form-control border-input" v-model="list.in_main" style="width: 20px;">
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Верхний фон</label>
											<VueImgInputer type="file" v-model="list.header_bg_file" theme="light" size="small" placeholder="Изображение не выбрано" bottom-text="Нажмите для перевыбора" :imgSrc="$helper.image(list.header_bg)" style="width: 100%; max-height: 69px;"></VueImgInputer>
										</div>
									</div>
								</div>
								
								<div class="row" v-for="(article, index) in list.articles">
									<div class="col-md-12">
										<div class="form-group">
											<label>Статья #{{ index + 1}}</label><br/>
											<input type="text" v-model="list.articles[index].tab" placeholder="Текст во вкладке" /><br/>
											<input type="text" v-model="list.articles[index].header" placeholder="Текст заголовка" /><br/>
											<textarea v-model="list.articles[index].content"></textarea>
										</div>
									</div>
								</div>
							</form>
						</div>
						
						<div class="text-center">
							<div class="row">
								<div class="col-md-4" style="padding-left: 5px;">
									<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="add" v-if="!list.list_id">Добавить</button>
									<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="save" v-else>Сохранить</button>
								</div>
								<div class="col-md-4">
									<button type="button" class="btn btn-fill btn-wd" style="border-radius: 0;" @click="close">Закрыть</button>
								</div>
								<div class="col-md-4" style="padding-right: 4px;">
									<button type="button" class="btn btn-danger btn-fill btn-wd" style="border-radius: 0;" @click="remove">Удалить</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'
import Container from '@/components/Container.vue'
import Block from '@/components/Block.vue'
import VueImgInputer from 'vue-img-inputer'
import Pager from '@/components/Pager.vue'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		AdminLeftMenu,
		Container,
		Block,
		VueImgInputer,
		Pager,
	},
	data() {
		return { 
			page: this.$route.query.page,
			lists: [],
			types: [],
			list: null,
			filter: { list_name: null, page: 1 },
			numbered: { data: null }, 
		};
	},
	head() {
		return { title: 'Списки' };
	},
	mounted() {
		this.loadData();
	},
	watch: {
		['list.parent_id'](value) {
			if(value) {
				this.list.in_menu = false;
				this.list.in_catalog = false;
				this.list.in_main = false;
			}
		},
		['filter.list_name']() {
			this.loadData();
		},
		['filter.page']() {
			this.loadData();
		},
	},
	methods: {
		async loadData() {
			this.list = null;
			
			let types = (await this.$api.get('admin/types')).data;
			this.types = types;
			
			let query = `admin/lists?page=${this.filter.page}`;	
			if(this.filter.list_name)
				query += `&list_name=${this.filter.list_name}`;
			
			let numbered = (await this.$api.get(query)).data;
			this.numbered = numbered;
		},
		load(value) {
			this.list = value;
		},
		add_list() {
			this.list = { color: null, name: null, title: null, type_id: null, in_menu: false, in_catalog: false, max_size: null, in_main: false, header_bg_file: null, header_bg: null, column: null, meta_keywords: '', meta_description: '', parent_id: null, articles: [{header:"", content:"", tab:""},{header:"", content:"", tab:""},{header:"", content:"", tab:""},{header:"", content:"", tab:""},{header:"", content:"", tab:""}], catalog_title: '', order: null, uri: null };
		},
		async remove() {
			try {
				(await this.$api.post(`admin/list/remove?list_id=${this.list.list_id}`)).data;

				this.$notify.success('Список удалён успешно! Его больше нет.');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async add() {
			let get_type = function(obj) {
				if(obj != null)
					return Object.prototype.toString.call(obj).slice(8, -1);
				else
					return 'NULL';
			}
			try {
				var form_data = new FormData();
				for (var key in this.list) {
					form_data.append(key, get_type(this.list[key]) != 'File' ? JSON.stringify(this.list[key]) : this.list[key]);
				}
				
				(await this.$api.post('admin/list/save', form_data)).data;

				this.$notify.success('Список добавлен!');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async save() {
			let get_type = function(obj) {
				if(obj != null)
					return Object.prototype.toString.call(obj).slice(8, -1);
				else
					return 'NULL';
			}
			try {
				var form_data = new FormData();
				for (var key in this.list) {
					form_data.append(key, get_type(this.list[key]) != 'File' ? JSON.stringify(this.list[key]) : this.list[key]);
				}
				
				(await this.$api.post('admin/list/save', form_data)).data;

				this.$notify.success('Список сохранён!');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		close() {
			this.loadData();
		}
	}
}
</script>