<template>
<div class="main-panel">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Заказы</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><Pager :numbered="orders" v-model="page" /></li>
					<li style="padding: 25px;">Номер заказа <input type="text" v-model="filter.order_id"/><i class="fa fa-500px"></i></li>
				</ul>
				<!-- <ul class="nav navbar-nav navbar-right"> -->
					<!-- <li>			 -->
						<!-- <nuxt-link to="/admin/list"> -->
							<!-- <i class="ti-plus"></i> -->
							<!-- <p>Что-нибудь сделать с заказами</p> -->
						<!-- </nuxt-link> -->
					<!-- </li> -->
				<!-- </ul> -->
			</div>
		</div>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 col-md-6">
					<div class="card">
						<div class="content table-responsive table-full-width">
							<table class="table table-hover">
								<thead>
								   <tr>
									   <th>#</th>
									   <th>Дата</th>
									   <th>Имя</th>
									   <th>Сумма</th>
									   <th style="text-align: center;">Статус</th>
								   </tr>
								</thead>
								<tbody>
									<tr v-for="order in orders.data" @click="load(order)">
										<td>{{ order.order_id }}</td>
										<td>{{ order.datetime | datetime }}</td>
										<td>{{ order.personal.name }}</td>
										<td>{{ order.total }}р</td>
										<td style="color: white; text-align: center;" :style="{ 'background-color': get_status(order.status_id).color }">{{ get_status(order.status_id).name }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-lg-5 col-md-4" v-if="order">
					<div class="card card-user">
						<div class="content">
							<div class="author">
								<h4 class="title">Заказ №{{ order.order_id }} <span :style="{ 'background-color': get_status(order.status_id).color }" style="color: white; font-size: 14px; padding: 3px 5px;">{{ get_status(order.status_id).name }}</span><br />
									<a href="#"><small>{{ order.personal.name }} {{ order.personal.phone  }}</small></a>
								</h4>
								<a type="button" class="btn btn-fill btn-wd" style="border-radius: 0; margin-right: 10px;" :href="'/admin/print/' + order.order_id" target="_blank"><i class="fa fa-print" aria-hidden="true"></i>Накладная</a>
								<a type="button" class="btn btn-info btn-fill btn-wd" style="border-radius: 0; margin-right: 10px;" :href="'/admin/stickers/' + order.order_id" target="_blank"><i class="fa fa-sticky-note" aria-hidden="true"></i>Наклейки</a>
							</div>
							<p class="description text-center">
								{{ compute_address(order.address) }}
							</p>
							<p class="description text-center">
								{{ order.comment }}
							</p>
						</div>
						
						<div class="text-center">
							<div class="row">
								<div class="col-md-6">
									<button v-if="order.status_id == 1 || order.status_id == 5" type="button" class="btn btn-info btn-fill btn-wd" style="border-radius: 0;" @click="change_status_to(2)">Принять заказ</button>
									<button v-if="order.status_id == 2" type="button" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="change_status_to(4)">Заказ выполнен</button>
								</div>
								<div class="col-md-6">
									<button v-if="order.status_id != 3 && order.status_id != 4" type="button" class="btn btn-danger btn-fill btn-wd" style="border-radius: 0;" @click="change_status_to(3)">Отменить заказ</button>
									<!--<button v-else type="button" class="btn btn-danger btn-fill btn-wd" style="border-radius: 0;" @click="change_status_to(5)">Вернуть заказ</button>-->
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="header">
							<h4 class="title">Заказ</h4>
						</div>
						<div class="content">
							<table class="order-table">
								<tbody>
									<tr v-for="item in order.items">
										<td><a :href="'/p/'+item.product_id" target="_blank">{{ item.name }}</a></td>
										<td>{{ item.article_number }}</td>
										<td><span class="order-table__size">{{ item.size }}</span></td>
										<td>{{ item.computed_price }}р</td>
										<td><a v-if="order.status_id != 3 && order.status_id != 4" href="#" @click="order_remove_item(item.id)"><i class="fa fa-close"></i></a></td>
									</tr>
									<tr v-if="order.promo">
										<td colspan="5">Промокод: {{ order.promo ? order.promo.name : 'нет' }}</td>
									</tr>
									<tr v-if="order.bonuses">
										<td colspan="5">Оплачено бонусами: {{ order.bonuses }}р</td>
									</tr>
									<tr v-if="order.accrued">
										<td colspan="5">Начислено бонусов: {{ order.accrued }}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td class="order-table__datetime">{{ order.datetime | datetime }}</td>
										<td class="order-table__status" :style="{ 'background-color': get_status(order.status_id).color }">Статус: {{ get_status(order.status_id).name }}</td>
										<td>Доставка: {{ order.delivery }}р</td>
										<td colspan="2">Итого: <b>{{ order.total }}р</b></td>
									</tr>
								</tfoot>
							</table>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Артикул товара</label>
										<input type="text" name="name" class="form-control border-input" placeholder="Артикул товара" v-model="new_item.article_number">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Размер</label>
										<input type="number" name="name" class="form-control border-input" placeholder="Размер" v-model="new_item.size">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="form-group">
											<label>Стоимость</label>
											<input type="number" name="name" class="form-control border-input" placeholder="Стоимость" v-model="new_item.computed_price">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group flex-bottom-right">
										<button class="btn" @click="order_add_item">Добавить в заказ</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<!-- <div class="header"> -->
							<!-- <h4 class="title">Способ доставки</h4> -->
						<!-- </div> -->
						<div class="content">
							<div class="row">
								<div class="col-md-12">									
									<div class="form-group">
										<div class="form-group">
											<label>Способ доставки</label>
											<p><b>{{ delivery_type() }}</b></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" style="margin-bottom: 15px;">Внимание! При изменении способа доставки - изменится и её стоимость!</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="form-group">
											<label>Новый способ</label>
											<select class="form-control border-input" v-model="new_delivery_method">
												<option v-if="order.delivery_method != 'courier'" value="courier">Курьерская доставка</option>
												<option v-if="order.delivery_method != 'pvz'" value="pvz">Самовывоз</option>
												<option v-if="order.delivery_method != 'post'" value="post">Почта</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group flex-bottom-right">
										<button class="btn" @click="change_delivery_method">Изменить способ</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="header">
							<h4 class="title">Информация</h4>
						</div>
						<div class="content">
							<form v-on:submit.prevent>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<div class="form-group">
												<label>Email</label>
												<p>{{ order.personal.email }}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Имя</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Название" v-model="order.personal.name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Телефон</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Артикул" v-model="order.personal.phone">
										</div>
									</div>
								</div>
								<template v-if="order.delivery_method == 'pvz'">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Пункт выдачи заказов</label>
												<input type="text" name="house" class="form-control border-input" v-model="order.address.title">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Адрес</label>
												<input type="text" name="building" class="form-control border-input" v-model="order.address.address">
											</div>
										</div>
									</div>
								</template>
								<template v-else>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Город</label>
												<input type="text" name="city" class="form-control border-input" placeholder="Город" v-model="order.address.city">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Улица</label>
												<input type="text" name="street" class="form-control border-input" placeholder="Улица" v-model="order.address.street">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Дом</label>
												<input type="text" name="house" class="form-control border-input" placeholder="Дом" v-model="order.address.house">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Строение/корпус</label>
												<input type="text" name="building" class="form-control border-input" placeholder="Строение/корпус" v-model="order.address.building">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label>Квартира/офис</label>
												<input type="text" name="flat" class="form-control border-input" placeholder="Квартира/офис" v-model="order.address.flat">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Подъезд</label>
												<input type="text" name="porch" class="form-control border-input" placeholder="Подъезд" v-model="order.address.porch">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label v-if="order.delivery_method == 'courier'">Код двери</label>
												<label v-else>Индекс</label>
												<input type="text" name="code" class="form-control border-input" :placeholder="order.delivery_method == 'courier' ? 'Код двери' : 'Индекс'" v-model="order.address.code">
											</div>
										</div>
									</div>
								</template>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Время доставки</label>
											<input type="text" name="del_time" class="form-control border-input" placeholder="Время доставки" v-model="order.mark">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Стоимость доставки</label>
											<input type="text" name="delivery_cost" class="form-control border-input" placeholder="Стоимость доставки" v-model.number="order.delivery">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Комментарий</label>
											<textarea rows="5" name="comment" class="form-control border-input" style="color: red;" placeholder="Комментарий" v-model="order.comment"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" style="text-align: center;">
										<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="save">Изменить</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'
import Container from '@/components/Container.vue'
import Block from '@/components/Block.vue'
import Pager from '@/components/Pager.vue'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		AdminLeftMenu,
		Container,
		Block,
		Pager
	},
	data() {
		return { 
			orders: { data: [] }, 
			filter: { order_id: null },
			order: null, 
			page: 1,
			new_item: {
				computed_price: null,
				size: null,
				article_number: null,
			},
			new_delivery_method: null,
		};
	},
	watch: {
		page(value) {
			this.loadData();
		},
		['filter.order_id']() {
			this.loadData();
		},
	},
	filters: {
		datetime(datetime) {
			return new Date(datetime).toLocaleString();
		}
	},
	methods: {
		get_status(status_id) {
			return this.$store.state.statuses.find(f => f.status_id == status_id);
		},
		load(value) {
			this.order = value;
		},
		compute_address(address) {
			switch(this.order.delivery_method) {
				case 'courier':
					return `Доставка курьером: ${address.city}, улица ${address.street}, ${address.house} ${address.building}, подъезд ${address.porch}, код ${address.code}, квартира/офис ${address.flat}`
				case 'pvz':
					return `Самовывоз: ${address.title}, ${address.address}`;
				case 'post':
					return `Почта: ${address.code} ${address.city}, улица ${address.street}, ${address.house} ${address.building}, подъезд ${address.porch}, квартира/офис ${address.flat}`;
			}
		},
		delivery_type() {
			switch(this.order.delivery_method) {
				case 'courier':
					return 'Доставка курьером';
				case 'pvz':
					return 'Самовывоз';
				case 'post':
					return 'Почта';
			}
		},
		async save() {
			try {
				let u_order = { order_id: this.order.order_id, personal: this.order.personal, address: this.order.address, comment: this.order.comment, mark: this.order.mark, delivery: this.order.delivery };
				await this.$api.post('admin/order/save', u_order).data;
				this.$notify.success('Заказ изменён!');
				this.order.total = this.order.summary + this.order.delivery;
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async change_status_to(new_status) {
			try {
				await this.$api.post('admin/order/change_status', { order_id: this.order.order_id, status_id: new_status });
				this.$notify.success('Статус изменён!');
				this.order.status_id = new_status;
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async loadData() {
			this.order = null;
			
			let query = `admin/orders?page=${this.page}&r=${Math.random()}`;
			if(this.filter.order_id)
				query += `&order_id=${this.filter.order_id}`;
				
			let orders = (await this.$api.get(query)).data;
			
			this.$set(this.orders, 'data', orders.data);
			this.$set(this.orders, 'currentPage', orders.currentPage);
			this.$set(this.orders, 'lastPage', orders.lastPage);
			this.$set(this.orders, 'perPage', orders.perPage);
			this.$set(this.orders, 'total', orders.total);
		},
		async order_remove_item(id) {
			try {
				let { items, summary, delivery, total, status_id } = (await this.$api.post(`admin/order/remove_item?item_id=${id}&order_id=${this.order.order_id}`)).data;
				this.$notify.success('Товар успешно удалён из заказа!');
				
				this.order.items = items;
				
				this.order.summary = summary;
				//this.order.delivery = delivery;
				this.order.total = total;
				
				this.order.status_id = status_id;
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async order_add_item() {
			try {
				let { new_item, summary, total } = (await this.$api.post(`admin/order/add_item?order_id=${this.order.order_id}`, this.new_item)).data;
				this.$notify.success('Товар успешно добавлен в заказ!');
				
				this.order.items.push(new_item);
				
				this.order.summary = summary;
				//this.order.delivery = delivery;
				this.order.total = total;
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async change_delivery_method() {
			if(!this.new_delivery_method) return;
			try {
				let { summary, total, delivery } = (await this.$api.get(`admin/order/change_delivery_method?order_id=${this.order.order_id}&new_delivery_method=${this.new_delivery_method}`)).data;
				this.$notify.success('Способ доставки изменён!');
				
				this.order.delivery = delivery;
				this.order.total = total;
				
				this.order.delivery_method = this.new_delivery_method;
				this.new_delivery_method = null;
			} catch(err) {
				this.$notify.error(err);
			}
		},
	},
	mounted() {
		this.loadData();
	},
	head() {
		return { title: 'Заказы' };
	}
}
</script>

<style>
.order-table {
	width: 100%;
    margin: 1em 0;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
	border: 1px solid #d2cece;
}

.order-table__status {
	color: white;
}

.order-table td {
    border-top: 1px solid #d2cece;
    text-align: center;
	height: 35px;
}
.order-table tr td:nth-of-type(1) {
	width: 30%;
}
.order-table tr td:nth-of-type(2),.order-table tr td:nth-of-type(3),.order-table tr td:nth-of-type(4) {
	width: 25%;
}
.card-user .content {
	min-height: auto
}
.card-user .author {
	margin-top: 0;
}

.flex-bottom-right {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 66.11px;
}

.order-table__size {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px 4px;
	display: inline-block;
	display: inline-block;
    font-weight: bold;
}

.order-table__datetime {
	font-size: 12px;
}

.order-table tfoot tr > td {
	height: 30px;
}
</style>