<template>
<div class="main-panel">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Склад</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><Pager :numbered="numbered" v-model="filter.page" /></li>
					<li style="padding: 25px;">Артикул <input type="text" v-model="filter.article_number"/><i class="fa fa-rebel"></i></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a @click="add_product" style="cursor: pointer;"><i class="ti-plus"></i> Добавить товар</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="card">
						<div class="content table-responsive table-full-width">
							<table class="table table-hover">
								<thead>
								   <tr>
									   <th>#</th>
									   <th>Фото</th>
									   <th>Артикул</th>
									   <th>Название</th>
									   <th>Цена</th>
									   <th>Наличие</th>
								   </tr>
								</thead>
								<tbody>
									<tr v-for="product in numbered.data" @click="load(product)">
										<td>{{ product.product_id }}</td>
										<td><img style="height: 50px;" :src="$helper.thumbs(product.images[0])"/></td>
										<td>{{ product.article_number }}</td>
										<td>{{ product.name }}</td>
										<td>{{ product.price }}р.<del v-if="product.price < product.base_price">{{ product.base_price }}р.</del></td>
										<td><div v-for="(count, size) in product.sizes" class="size" v-if="count > 0">{{ size }}<span class="size__count">{{ count }} шт.</span></div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-lg-5 col-md-5" v-if="product">
					<div class="card card-user" v-if="product.product_id">
						<div class="content" style="min-height: auto;">
							<h5 class="header">#{{ product.product_id }} {{ product.article_number }} - {{ product.name }}</h5>
						</div>
						<hr>
						<div class="text-center">
							<div class="row">
								<div class="col-md-3 col-md-offset-1">
									<h5>{{ product.price }} ₽<del v-if="product.price < product.base_price"><small>{{ product.base_price }} ₽</small></del></h5>
								</div>
								<div class="col-md-4">
									<button type="button" class="btn btn-fill btn-wd" style="border-radius: 0;" @click="income_show">Приход</button>
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-fill btn-wd" style="border-radius: 0; background-color: #95af63;" @click="expense_show">Расход</button>
								</div>
							</div>
						</div>
					</div>
					
					<div class="card">
						<div class="header">
							<h4 class="title">{{ !product.product_id ? 'Добавление товара' : 'Редактирование товара' }}</h4>
						</div>
						<div class="content">
							<form v-on:submit.prevent>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Название</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Название" v-model="product.name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Артикул</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Артикул" v-model="product.article_number">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<div class="form-group">
												<label>Размерный тип</label>
												<select name="type" class="form-control border-input" v-model="product.type_id" :disabled="product.product_id">
													<option :value="type.type_id" v-for="type in $store.state.types">{{ type.name }}</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Опубликовано</label>
											<select name="type" class="form-control border-input" v-model="product.public">
												<option :value="true">Да</option>
												<option :value="false">Нет</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Описание</label>
											<textarea name="description" rows="5" class="form-control border-input" placeholder="Описание товара" v-model="product.description"></textarea>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Цвета</label>
											<div class="form-control border-input"  style="height: auto; overflow: auto; min-height: 40px;">
												<table style="width: 150px; float: left;" >
													<tbody>
														<tr v-for="color in $store.state.colors">
															<td>{{ color.name }}</td>
															<td><input type="checkbox" :value="color.color_id" v-model="product.colors" style="margin-right: 20px;"/></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label>Маркер</label>
											<input name="tag" class="form-control border-input" type="text" v-model="product.tag" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label style="font-size: 9px;">Акция по количеству</label>
											<select name="count_free" class="form-control border-input" v-model="product.count_free">
												<option :value="null">{ Не выбрана }</option>
												<option :value="2">Второй в подарок</option>
												<option :value="3">Третий в подарок</option>
												<option :value="4">Четвёртый в подарок</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Цена</label>
											<input name="base_price" class="form-control border-input" type="number" value="1000" v-model="product.base_price" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Скидка (%)</label>
											<input name="discount" class="form-control border-input" type="number" min="0" max="90" v-model="product.discount" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Итоговая цена</label>
											<input name="price" class="form-control border-input" type="text" v-model="product.price" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Закупочная цена</label>
											<input name="purchase_price" class="form-control border-input" type="number" value="1000" v-model="product.purchase_price" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Павильон</label>
											<input name="pavilion" class="form-control border-input" type="text" value="1000" v-model="product.pavilion" />
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Поля</label>
											<div class="row">
												<div v-for="(field, index) in product.fields" class="col-md-3">
													<div class="form-group">
														<span class="product-form__sizes-fields-name"><input :name="'fieldName'+field.id" placeholder="Поле" class="form-control border-input" v-model="product.fields[index].name" /><input :name="'fieldValue'+field.id" placeholder="Значение" class="form-control border-input" v-model="product.fields[index].value" /></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Списки</label>
											<div class="form-control border-input"  style="height: auto; overflow: auto; min-height: 40px;">
												<table style="width: 150px; float: left;" v-for="(list, index) in $store.getters.root_list_wm">
													<tbody>
														<tr>
															<th>{{ list.name }}</th>
															<th><input type="checkbox" :value="list.list_id" v-model="product.lists" style="margin-right: 20px;"/></th>
														</tr>
														<tr v-for="sublist in $store.state.lists.filter(f => f.parent_id == list.list_id)">
															<td>{{ sublist.name }}</td>
															<td><input type="checkbox" :value="sublist.list_id" v-model="product.lists" style="margin-right: 20px;"/></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<ul class="list-unstyled team-members">
											<li>
												<div class="row">
													<div class="col-lg-4" v-for="(value, key) in product.images" style="display: flex; flex-direction: column; align-items: center;">
														<VueImgInputer type="file" v-model="product.images_file[key]" theme="light" size="small" placeholder="Изображение не выбрано" bottom-text="Нажмите для перевыбора" :imgSrc="$helper.image(product.images[key])" style="width: 88px; height: 114px;"></VueImgInputer>
														<!--<span v-if="!product.images[key]" class="text-success"><small>Добавить</small></span>
														<a v-else href="#" class="text-danger"><small>Удалить</small><i class="fa fa-remove"></i></a>-->
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-4" style="padding-left: 5px;">
										<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="save" v-if="!product.product_id">Добавить</button>
										<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="save" v-else>Сохранить</button>
									</div>
		
									<div class="col-md-4" style="padding-right: 4px;">
										<button type="button" class="btn btn-danger btn-fill btn-wd" style="border-radius: 0;" @click="remove">Удалить</button>
									</div>
								</div>
								
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bs-income-modal-lg" tabindex="-1" role="dialog" v-if="product && product.product_id && income_sizes">
		<div class="modal-dialog modal-lg" role="document" style="z-index: 1600;">
			<div class="modal-content fix">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="model-product-box fix p-all-15">
					<div class="pro-details col-5 pl-15">
						<div class="row">
							<div class="col-md-12">
								<div class="header">
									<h4 style="margin-top: 0;" class="title">Оформить приход товара</h4>
								</div>
								<div class="content">
									<form v-on:submit.prevent>
										<div class="form-group">
											<label>Размеры</label>
											<div class="form-control border-input"  style="height: auto; overflow: auto; min-height: 40px;">
												<ul style="padding-left: 0;">
													<li v-for="size in $store.state.types.find(f => f.type_id == product.type_id).sizes" class="size" style="display: inline-block; margin-right: 24px;">{{ size.size }}<input type="number" class="size__count" v-model.number="income_sizes[size.size]" min="0" max="500" style="width: 44px; text-align: center; font-size: 12px; bottom: -14px; right: -15px;" />
													</li>
												</ul>							
											</div>
										</div>
										<div class="row">
											<div class="col-md-4" style="padding-left: 5px;">
												<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="make_income">Осуществить</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	
	<div class="modal fade bs-expense-modal-lg" tabindex="-1" role="dialog" v-if="product && product.product_id && expense_sizes">
		<div class="modal-dialog modal-lg" role="document" style="z-index: 1600;">
			<div class="modal-content fix">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="model-product-box fix p-all-15">
					<div class="pro-details col-5 pl-15">
						<div class="row">
							<div class="col-md-12">
								<div class="header">
									<h4 style="margin-top: 0;" class="title">Оформить расход товара</h4>
								</div>
								<div class="content">
									<form v-on:submit.prevent>
										<div class="form-group">
											<label>Размеры</label>
											<div class="form-control border-input"  style="height: auto; overflow: auto; min-height: 40px;">
												<ul style="padding-left: 0;">
													<li v-for="size in $store.state.types.find(f => f.type_id == product.type_id).sizes" class="size" style="display: inline-block; margin-right: 24px;">{{ size.size }}<input type="number" class="size__count" v-model.number="expense_sizes[size.size]" min="0" max="500" style="width: 44px; text-align: center; font-size: 12px; bottom: -14px; right: -15px;" />
													</li>
												</ul>							
											</div>
										</div>
										<div class="row">
											<div class="col-md-4" style="padding-left: 5px;">
												<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="make_expense">Скорректировать</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
</template>

<script>
import FilterDropdown from '@/components/FilterDropdown.vue'
import PriceRange from '@/components/PriceRange.vue'

import VueImgInputer from 'vue-img-inputer'
import ProductCard from '@/components/ProductCard.vue'
import Pager from '@/components/Pager.vue'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		FilterDropdown,
		PriceRange,
		ProductCard,
		Pager,
		VueImgInputer,
	},
	data() {
		return {
			page: this.$route.query.page,
			filter: { color: 0, price: [0, 30000], size: 0, page: 1, category: null, subcategory: null, list: null, article_number: null },
			sections: [],
			product: null,
			numbered: { data: null },
			income_sizes: [],
			expense_sizes: [],
		};
	},
	watch: {
		['filter.color']() {
			this.loadData();
		},
		['filter.size']() {
			this.loadData();
		},
		['filter.price']() {
			this.loadData();
		},
		['filter.page']() {
			this.loadData();
		},
		['filter.article_number'](value) {
			this.loadData();
		},
		['product.base_price'](value) {
			if(this.product)
				this.product.price = Math.floor(value * (1 - this.product.discount / 100));
		},
		['product.discount'](value) {
			if(this.product)
				this.product.price = Math.floor(this.product.base_price * (1 - value / 100));
		}
	},
	filters: {
		type(value) {
			return value;
		}
	},
	mounted() {
		this.loadData();
	},
	methods: {
		income_show() {
			this.income_sizes = this.$store.state.types.find(f => f.type_id == this.product.type_id).sizes.map(f => ({ [f.size]: null })).reduce((a,b)=>Object.assign(a,b),{});
			$(".bs-income-modal-lg").modal();
		},
		expense_show() {
			this.expense_sizes = this.$store.state.types.find(f => f.type_id == this.product.type_id).sizes.map(f => ({ [f.size]: null })).reduce((a,b)=>Object.assign(a,b),{});
			$(".bs-expense-modal-lg").modal();
		},
		async select_category(list) {
			this.filter.list = list.list_id;
			this.sections = list.sections;
			await this.loadData();
		},
		async select_subcategory(subcategory) {
			this.filter.subcategory = subcategory.subcategory_id;
			await this.loadData();
		},
		async loadData() {
			this.product = null;
			let query = `products_all?list=${this.filter.list}`;
			if(this.filter.page)
				query += `&page=${this.filter.page}`;
			if(this.filter.article_number)
				query += `&article_number=${this.filter.article_number}`;
			if(this.filter.color)
				query += `&color=${this.filter.color}`;
			if(this.filter.size)
				query += `&size=${this.filter.size}`;
			if(this.filter.price)
				query += `&price=${this.filter.price[0]},${this.filter.price[1]}`;
			if(this.filter.section)
				query += `&section=` + this.section.id;
			let numbered = (await this.$api.get(query)).data;
			this.numbered = numbered;
		},
		add_product() {
			this.product = {
				name: '',
				description: '',
				colors: [],
				sizes: [],
				category: null,
				category_id: 0,
				fields: [{name:'Материал/состав', value:''},{name:'Страна производитель', value:''},{name:'Размер товара на фото', value:''},{name:'Рост модели', value:''},{name:'Параметры модели', value:''},{name:'', value:''},{name:'', value:''},{name:'', value:''}],
				images: [],
				images_file: [null, null, null, null, null, null],
				discount: null,
				price: null,
				base_price: null,
				sections: [],
				tag: '',
				lists: [],
				type_id: null,
				count_free: null,
				article_number: null,
				public: true,
				purchase_price: null,
				pavilion: null,
			};
			this.$nextTick(() => {
				this.product.images.push(...Array.from({ length: 6 }, (v, i) => null));
			});
		},
		load(value) {
			// debugger;
			this.product = value;
			this.product.images_file = [null, null, null, null, null, null];
			this.product.images.push(...Array.from({ length: 6 - this.product.images.length }, (v, i) => null));
		},
		add() {
		},
		async save() {
			let get_type = function(obj) {
				if(obj != null)
					return Object.prototype.toString.call(obj).slice(8, -1);
				else
					return 'NULL';
			}
			try {
				let product = {};
				product.product_id = this.product.product_id || null;
				product.name = this.product.name,
				product.description = this.product.description;
				product.colors = this.product.colors;
				product.base_price = this.product.base_price;
				if(this.product.tag)
					product.tag = this.product.tag;
				product.discount = this.product.discount;
				product.price = this.product.price;
				product.sizes = Object.entries(this.product.sizes).filter(m => m[1]).reduce((o,c)=>Object.assign(o,{[c[0]]:c[1]-0}), {});
				product.fields = this.product.fields;
				product.count_free = this.product.count_free;
				product.type_id = this.product.type_id;
				product.article_number = this.product.article_number;
				product.lists = this.product.lists;
				
				product.purchase_price = this.product.purchase_price || null;
				product.pavilion = this.product.pavilion || null;
				
				product.public = this.product.public;
				
				product.images = this.product.images.slice(0);
				if(product.images.length != 6)
					for(var i = 0; i < 6 - product.images.length; i++)
						product.images.push(null);
					
				var form_data = new FormData();
				for (var key in product) {
					form_data.append(key, get_type(product[key]) != 'File' ? JSON.stringify(product[key]) : product[key]);
				}
				
				this.product.images_file.forEach(f => form_data.append('images_file[]', f))
					
				await this.$api.post('admin/product/save', form_data);	

				await this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async remove() {
			try {
				(await this.$api.post(`admin/product/remove?product_id=${this.product.product_id}`)).data;

				this.$notify.success('Товар удалён успешно! Его больше нет.');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		close() {
		},
		async make_income() {
			try {
				await this.$api.post(`admin/product/income?product_id=${this.product.product_id}`, this.income_sizes);	
				
				this.$notify.success('Приход товара оформлен!');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async make_expense() {
			try {
				await this.$api.post(`admin/product/expense?product_id=${this.product.product_id}`, this.expense_sizes);	
				
				this.$notify.success('Расход товара оформлен!');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async open_by_article_number() {
		
		}
	}
}
</script>

<style>
.modal-backdrop {
	z-index: -1;
}
button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    font-size: 30px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 5px;
    -webkit-appearance: none;
}
.p-all-15 {
    padding: 15px;
}
</style>