<template>
<div class="main-panel">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Промокоды</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>			
						<a @click="add" style="cursor: pointer;">
							<i class="ti-plus"></i>
							Добавить промокод
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 col-md-6">
					<div class="card">
						<div class="header">
							<h4 class="title">Промокоды</h4>
						</div>
						<div class="content table-responsive table-full-width">
							<table class="table table-hover">
								<thead>
								   <tr>
									   <th>#</th>
									   <th>Название</th>
									   <th>Скидка</th>
									   <th>Дата</th>
									   <th>Один на пользователя</th>
									   <th>Включён</th>
								   </tr>
								</thead>
								<tbody>
									<tr v-for="promo in promos" @click="load(promo)">
										<td>{{ promo.promo_id }}</td>
										<td>{{ promo.name }}</td>
										<td>{{ promo.discount }}</td>
										<td>{{ promo.last_date }}</td>
										<td>{{ promo.single_use ? 'Да' : 'Нет' }}</td>
										<td>{{ promo.enabled ? 'Да' : 'Нет' }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-lg-5 col-md-6">
					<div class="card card-user" v-if="promo">
						<div class="content">						
							<form v-on:submit.prevent>
								<h4 class="title">{{ promo.promo_id ? 'Редактировать промокод #' + promo.promo_id : 'Новый промокод' }} - {{ promo.name || '<Без названия>' }}</h4>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Название</label>
											<input type="text" name="name" class="form-control border-input" placeholder="Название" v-model="promo.name">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Скидка</label>
											<input type="number" name="discount" class="form-control border-input" placeholder="Скидка" v-model="promo.discount">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Последняя дата</label>
											<input type="date" name="last_date" class="form-control border-input" placeholder="Последняя дата" v-model="promo.last_date">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label>Одно использование на человека</label>
											<input type="checkbox" name="single_use" class="form-control border-input" v-model="promo.single_use" style="width: 20px;">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Включён</label>
											<input type="checkbox" name="enabled" class="form-control border-input" v-model="promo.enabled" style="width: 20px;">
										</div>
									</div>	
								</div>
							</form>
						</div>
						
						<div class="text-center">
							<div class="row">
								<div class="col-md-4" style="padding-left: 5px;">
									<button type="submit" class="btn btn-success btn-fill btn-wd" style="border-radius: 0;" @click="save">Сохранить</button>
								</div>
								<div class="col-md-4">
									<button type="submit" class="btn btn-fill btn-wd" style="border-radius: 0;" @click="close">Сбросить</button>
								</div>
								<div class="col-md-4" style="padding-right: 4px;">
									<button type="submit" class="btn btn-danger btn-fill btn-wd" style="border-radius: 0;" @click="remove">Удалить</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'
import Container from '@/components/Container.vue'
import Block from '@/components/Block.vue'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		AdminLeftMenu,
		Container,
		Block
	},
	async asyncData ({ app, store }) {
		let promos = (await app.api.get('admin/promos')).data;
		return { promos, promo: null };
	},
	head() {
		return { title: 'Промокоды' };
	},
	mounted() {
		this.loadData();
	},
	methods: {
		async loadData() {
			this.promo = null;
			this.promos = (await this.$api.get('admin/promos')).data;
			this.promos.forEach((_, index) => { if(this.promos[index].last_date) this.promos[index].last_date = this.promos[index].last_date.substring(0,10); })
		},
		async save() {
			try {
				(await this.$api.post('admin/promo/save', this.promo)).data;

				this.$notify.success('Промокод сохранён!');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		load(value) {
			this.promo = value;
		},
		add() {
			this.promo = { discount: 0, name: null, last_date: null, enabled: true, single_use: true };
		},
		async remove() {
			try {
				(await this.$api.post(`admin/promo/remove?promo_id=${this.promo.promo_id}`)).data;

				this.$notify.success('Промокод удалён успешно! Его больше нет.');
				this.loadData();
			} catch(err) {
				this.$notify.error(err);
			}
		},
		close() {
			this.loadData();
		}
	}
}
</script>