<template>
<div class="main-panel">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h4 class="title">Клиенты</h4>
						</div>
						<div class="content table-responsive table-full-width">
							<table class="table table-hover">
								<thead>
								   <tr>
									   <th>#</th>
									   <th>Имя</th>
									   <th>Количество заказов</th>
									   <th></th>
								   </tr>
								</thead>
								<tbody>
									<tr v-for="user in users">
										<td>{{ user.user_id }}</td>
										<td>{{ user.name }}</td>
										<td>{{ user.orders }}</td>
										<td><button>Перейти</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'
import Container from '@/components/Container.vue'
import Block from '@/components/Block.vue'

export default {
	layout: 'admin',
	middleware: 'admin',
	components: {
		AdminLeftMenu,
		Container,
		Block
	},
	async asyncData ({ app, store }) {
		let users = (await app.api.get('admin/users')).data;
		return { users };
	},
	head() {
		return { title: 'Клиенты' };
	}
}
</script>