<template>
<div class="panel">
	<div id="headingThree" role="tab" class="panel-heading">
		<h4 class="panel-title">
			<a @click="toggle" :class="{ 'collapsed': !visible }">
				{{ header }}
				<span class="counter"><i class="fa" :class="'fa-'+icon"></i></span>
				<span class="opener"></span>
			</a>
		</h4>
	</div>
	<transition name="fade">
	<div v-show="visible" class="panel-collapse">
		<div class="panel-body">
			<slot></slot>
		</div>
	</div>	
	</transition>	
</div>
</template>

<script>
import { EventBus } from '@/plugins/event-bus.js';
export default {
	props: ['header', 'icon'],
	data() {
		return { visible: false };
	},
	methods: {
		toggle() {
			if(!this.visible) EventBus.$emit('accordion-hide-all');
			this.visible = !this.visible;
		}
	},
	mounted() {
		EventBus.$on('accordion-hide-all', () => this.visible = false)
	}
}
</script>

<style scoped>

</style>