<template>
<div class="sidebar" data-background-color="white" data-active-color="danger">
<!--
	Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
	Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="/" class="simple-text">
				<img src="/images/logo.png" alt="main logo">
			</a>
		</div>

		<ul class="nav">
			<li><nuxt-link to="/admin/orders"><i class="ti-view-list-alt"></i><p>Заказы</p></nuxt-link><span></span></li>
			<!--<li><nuxt-link to="/admin/users"><i class="ti-user"></i><p>Клиенты</p></nuxt-link><span></span></li>-->
			<li><nuxt-link to="/admin/banners"><i class="ti-image"></i><p>Баннеры</p></nuxt-link><span></span></li>
			<li><nuxt-link to="/admin/promos"><i class="ti-star"></i><p>Промокоды</p></nuxt-link><span></span></li>
			<li><nuxt-link to="/admin/products"><i class="ti-shopping-cart"></i><p>Склад</p></nuxt-link><span></span></li>
			
			<li><nuxt-link to="/admin/lists"><i class="ti-layout-grid2"></i><p>Списки</p></nuxt-link><span></span></li>
		</ul>
	</div>
</div>	
</template>