<template>
<div class="modal fade in bs-auth-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="width: 350px;">
		<div class="modal-content" :style="{ 'background-color': bg }">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="z-index: 100;">
				<span aria-hidden="true" style="font-size: 40px;">&times;</span>
			</button>
			<div class="model-product-box p-all-15">
				<block lg="12" md="12" sm="12" v-if="selected_form == 'login'">
					<div class="login-page">
						<div class="border-b mb-20">
							<header class="bordered-title">Вход в личный кабинет</header>
						</div>						
						<!--<label class="mb-20">Введите данные для входа</label>-->
						<form action="#" v-on:submit.prevent>
							<div class="form-box">	
								<div class="input-box">
									<label><b>Ваша электронная почта</b> <span class="start-red">*</span></label>
									<input type="text" name="email" v-model="login_form.email" />
								</div>											
								<div class="input-box">
									<label><b>Ваш пароль</b> <span class="start-red">*</span></label>
									<input type="password" name="password" v-model="login_form.password" />
								</div>				
								<div class="input-box fix">
									<button type="submit" class="p-button default-bg text-white text-uppercase" @click="login">Войти</button>
									<p class="f-right inherit"><a class="inherit" href="#" @click="selected_form = 'rescue'">Забыли пароль?</a></p>
								</div>	
							</div>
							<div style="text-align: center">Ещё не зарегистрировались? <a class="btn pink-bg text-white" href="javascript:void()" @click="selected_form = 'register'">Зарегистрироваться</a></div>
						</form>
					</div>
				</block>
				<block lg="12" md="12" sm="12" v-if="selected_form == 'register'">
					<div class="login-page register-text">
						<div class="border-b mb-20">
							<header class="bordered-title">Новый пользователь</header>
						</div>						
						<label class="mb-20">Введите необходимые данные</label>
						<form action="#" v-on:submit.prevent>
							<div class="form-box">	
								<div class="input-box">
									<label><b>Электронная почта</b> <span class="start-red">*</span></label>
									<input type="text" name="email" v-model="register_form.email"/>
								</div>									
								<div class="input-box">
									<label><b>Пароль</b> <span class="start-red">*</span></label>
									<input type="password" name="password" v-model="register_form.password"/>
								</div>	
								<div class="input-box">
									<label><b>Повторите пароль</b> <span class="start-red">*</span></label>
									<input type="password" name="password2" v-model="register_form.password2"/>
								</div>			
								<div class="input-box" style="text-align: center;">
									<label style="font-size: 12px; margin-left: -15px;">Подписаться на скидки, акции, новинки</label>
									<input type="checkbox" style="margin-left: 7px; position: absolute;" checked v-model="register_form.email_subscribe"/>
								</div>			
								<div class="input-box" style="text-align: center;">
									<label class="ml-10" style="font-size: 11px;">Нажимая кнопку регистрация вы соглашаетесь на <a href="http://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank" style="text-decoration: underline;">обработку персональных данных</a></label>
								</div>
								<div class="input-box">
									<button type="submit" class="p-button default-bg text-white text-uppercase f-right" @click="register">Регистрация</button>
								</div>
							</div>
						</form>
					</div>
				</block>
				<block lg="12" md="12" sm="12" v-if="selected_form == 'rescue'">
					<div class="login-page">
						<div class="border-b mb-20">
							<header class="bordered-title">Восстановление пароля</header>
						</div>						
						<label class="mb-20">Введите данные</label>
						<form action="#" v-on:submit.prevent>
							<div class="form-box">	
								<div class="input-box">
									<label><b>Ваша электронная почта</b> <span class="start-red">*</span></label>
									<input type="text" name="email" v-model="rescue_form.email" />
								</div>											
								<div class="input-box">
									<label><b>Ваш новый пароль</b> <span class="start-red">*</span></label>
									<input type="password" name="password" v-model="rescue_form.password" />
								</div>	
								<div class="input-box">
									<label><b>Повторите пароль</b> <span class="start-red">*</span></label>
									<input type="password" name="password2" v-model="rescue_form.password2" />
								</div>								
								<div class="input-box fix">
									<p class="text-red f-left">* Обязательные поля</p>
									<p class="f-right inherit"><a class="inherit" href="#">Забыли пароль?</a></p>
								</div>
								<div class="input-box">
									<button type="submit" class="p-button f-right" @click="rescue">Восстановить</button>
								</div>
							</div>
							<div style="padding-top: 5px;">Уже вспомнили? <a href="javascript:void()" @click="selected_form = 'login'">Войти</a></div>
						</form>
					</div>
				</block>
				<block lg="12" md="12" sm="12" v-if="selected_form == 'confirm_register'" style="font-size: 14px; color: white;">Для завершения регистрации зайдите в свою почту и перейдите по ссылке подтверждения.</block>
				<block lg="12" md="12" sm="12" v-if="selected_form == 'confirm_rescue'" style="font-size: 14px; color: white;">Для завершения восстановление зайдите в свою почту и перейдите по ссылке.</block>
			</div>
		</div>
	 </div>
</div>
</template>

<script>
import Block from '@/components/Block.vue'
export default {
	components: {
		Block
	},
	data() {
		return {
			selected_form: 'login',
			login_form: { email: '', password: '' },
			register_form: { email: '', password: '', password2: '', email_subscribe: true },
			rescue_form: { email: '', password: '', password2: '' }
		};
	},
	computed: {
		bg() {
			return (this.selected_form == 'confirm_register' ||  this.selected_form == 'confirm_rescue') ? '#18bd9c' : 'white';
		}
	},
	methods: {
		async register() {
			if(this.register_form.password !== this.register_form.password2) 
				return this.$notify.error('Введённые пароли не совпадают!');
				
			try {
				await this.$api.post('register', { 
					email: this.register_form.email,
					password: this.register_form.password,
					email_subscribe: this.register_form.email_subscribe
				});
				
				$(".bs-auth-modal-lg").modal({ backdrop: 'static', keyboard: false });
				this.selected_form = 'confirm_register';
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async rescue() {
			if(this.rescue_form.password != this.rescue_form.password2) 
				return this.$notify.error('Введённые пароли не совпадают!');
				
			try {
				await this.$api.post('rescue', { 
					email: this.rescue_form.email,
					password: this.rescue_form.password
				});
				
				$(".bs-auth-modal-lg").modal({ backdrop: 'static', keyboard: false });
				this.selected_form = 'confirm_rescue';
			} catch(err) {
				this.$notify.error(err);
			}
		},
		async login() {			
			try {
				let user = (await this.$api.post('login', {
					email: this.login_form.email,
					password: this.login_form.password
				})).data;
				
				this.$store.commit('SET_USER', user);
				this.$router.push('/myaccount');
				$(".modal").modal("hide");
				//this.$notify.success("Добро пожаловать, теперь вы можете использовать бонусы, промокоды и оставлять отзывы!");
				this.$notify.success("Добро пожаловать! Вы успешно зашли.");
			} catch(err) {
				this.$notify.error(err);
			}
		}
	},
	mounted() {
		$(".bs-auth-modal-lg").on("hidden.bs.modal", () => {
			this.selected_form = 'login';
		});
	}
}
</script>