<template>
<div v-bind:class="classObject">
<slot></slot>
</div>
</template>

<script>
export default {
	props: ['lg', 'md', 'sm', 'xs'],
    computed: {
        classObject() {
            return {
                [`col-lg-${this.lg}`]: this.lg,
                [`col-md-${this.md}`]: this.md,
                [`col-sm-${this.sm}`]: this.sm,
                [`col-xs-${this.xs}`]: this.xs,
            }
        }
    }
}
</script>