<template>
<div class="col-lg-3 col-md-3 col-sm-3">
	<div class="tool-box txt-r"> 
		<span>{{ title }}:</span> 
		<div style="position: relative;">
			<select class="orderby" name="orderby" v-model="inner_value">
				<option value="0">Любой</option>
				<option v-for="item in items" :value="item.value">{{ item.name }}</option>
			</select>
			<button v-if="inner_value != 0" @click="clear" class="clear-filter">x</button>
		</div>
	</div>
</div>
</template>

<script>
export default {
	props: ['title', 'items', 'value', 'choose_first'],
	data() {
		return { inner_value: this.value };
	},
	watch: {
		inner_value(value) {
			if(value != 0)
				this.$emit('input', Number(value));
			else
				this.$emit('input', null);
		}
	},
	methods: {
		clear() {
			this.inner_value = 0;
		}
	},
	created() {
		if(this.choose_first)
			this.inner_value = this.items[0].value;
	}
}
</script>