<template>
<footer>
	<!-- footer top area start-->
	<div class="footer-top-area border-b ptb-70 gray-bg">
		<div class="container">
			<div class="row">
				<!-- single footer start -->
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="footer-box">
						<h4 class="h-title"><nuxt-link to="/contacts" style="text-decoration: underline;">Контакты</nuxt-link></h4>
						<ul class="footer-contact-us">
							<li> 
								<i class="fa fa-map-marker"></i> 
								<span>Интерент магазин ДМД</span>
								<span>Москва, Дорожная улица, 60б</span>
							</li>
							<li> 
								<i class="fa fa-envelope"></i> 
								<span>info@jenskaya-odejda24.ru</span> 
								<span>&nbsp;</span>
							</li>
							<li> 
								<i class="fa fa-phone"></i> 
								<span>+7 (499) 393-36-44</span> 
							</li>
						</ul>
					</div>
				</div>
				<!-- single footer end -->
				<!-- single footer start -->
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<div class="footer-box">
						<h4 class="h-title">ЖЕНСКАЯ ОДЕЖДА</h4>
						<ul class="footer-menu">
							<li v-for="list in $store.getters.catalog_list.filter(f => f.column == 1)"><nuxt-link :to="'/'+list.uri" :key="list.list_id">{{ list.name }}</nuxt-link></li>
						</ul>
					</div>
				</div>
				<!-- single footer end -->
				<!-- single footer start -->
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<div class="footer-box">
						<h4 class="h-title">&nbsp;</h4>
						<ul class="footer-menu">
							<li v-for="list in $store.getters.catalog_list.filter(f => f.column == 2)"><nuxt-link :to="'/'+list.uri" :key="list.list_id">{{ list.name }}</nuxt-link></li>
						</ul>
					</div>
				</div>
				<!-- single footer end -->
				<!-- single footer start -->
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<div class="footer-box">
						<h4 class="h-title">&nbsp;</h4>
						<ul class="footer-menu">
							<li v-for="list in $store.getters.catalog_list.filter(f => f.column == 3)"><nuxt-link :to="'/'+list.uri" :key="list.list_id">{{ list.name }}</nuxt-link></li>
						</ul>
					</div>
				</div>
				<!-- single footer end -->
				<!-- single footer start -->
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="footer-box">
						<h4 class="h-title">Вопросы</h4>
						<ul class="footer-menu">
							<li><nuxt-link to="/razmer">Как выбрать размер</nuxt-link></li>
							<li><nuxt-link to="/zakaz">Как оформить заказ</nuxt-link></li>
							<li><nuxt-link to="/promokod">Как использовать промокод</nuxt-link></li>
							<li><nuxt-link to="/bonusi">Как использовать бонусные баллы</nuxt-link></li>
							<li><nuxt-link to="/vozvrat">Как оформить возврат</nuxt-link></li>
							<li><nuxt-link to="/dostavka">Условия доставки и примерки</nuxt-link></li>
						</ul>
					</div>
				</div>
				<!-- single footer end -->
			</div>
		</div>
	</div>
	<!-- footer top area end-->
	<!-- footer bottom area start-->
	<div class="footer-bootom_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="copy-text">
						Интернет-магазин Для Милых Дам &copy; Все права защищены, 2017
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="payment-link">
						<!--<a href="#"><img src="/images/payment/1.jpg" alt="" /></a>
						<a href="#"><img src="/images/payment/2.jpg" alt="" /></a>
						<a href="#"><img src="/images/payment/3.jpg" alt="" /></a>
						<a href="#"><img src="/images/payment/4.jpg" alt="" /></a>
						<a href="#"><img src="/images/payment/5.png" alt="" /></a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer bottom area end-->
</footer>
</template>
