<template>
<div class="header-top-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 hidden-xs">
				<div class="top-left-text ptb-10 mb-p-0">
					<p><b class="text-theme">+7 (499) 393-36-44</b></p>
					<!--<p>{{ $store.state.pageTitle }}</p>-->
				</div>
			</div>
			<div class="col-sm-10 col-xs-12">
				<div class="top-right-text f-right">
					<div class="search-box-header d-inline p-r">
						<a class="p-button text-white text-uppercase mr-10" style="background-color: red;" v-if="$store.state.user && $store.state.user.is_admin" href="/admin">Админка</a>
						<!-- <span class="welcome" v-if="$store.state.user">Добро пожаловать, {{ $store.state.user.email }}!</span> -->
						<a class="p-button default-bg text-white text-uppercase mr-10" v-if="$store.state.user" href="/myaccount">Личный кабинет - {{ $store.state.user.email }}</a>
						<a v-else class="p-button default-bg text-white text-uppercase mr-10" href="#" data-toggle="modal" data-target=".bs-auth-modal-lg">Вход и регистрация</a>
						<a href="/mywishlist" class="mr-10 cart-icone"><i class="fa fa-heart hover"></i></a>
					</div>
					<div class="cart-box d-inline cursor" v-if="$store.state.cart">
						<div class="cart-icone hover-i" style="font-size: 20px;">
							<i class="fa fa-shopping-cart" style="color: #02a92f;"></i>
							<span style="left: 21px;">{{ $store.state.cart.items.length }}</span>
						</div>
						<div v-if="$store.state.cart.items.length > 0" class="cart-list">
							<ul class="pb-20">
								<li v-for="item in $store.state.cart.items">
									<div class="pro-img img-full">
										<a :href="'/p/'+item.product.product_id"><img :src="$helper.thumbs(item.product.images[0])" alt="" /></a>
									</div>
									<div class="pro-details hover-a">
										<a :href="'/p/'+item.product.product_id">{{ item.product.name }}</a>
										<p>{{ item.product.price }}р <del v-if="item.product.price < item.product.base_price">{{ item.product.base_price }}р</del><span v-if="item.size != 0" class="item_cart_size">Размер {{ item.size }}</span></p>
										<a class="remove-cart ml-10" href="javascript:void(0)" @click="remove_from_cart(item)"> <i class="fa fa-close"></i> Удалить товар</a>
									</div>
								</li>
							</ul>
							<!-- <p class="total ptb-5">Всего вместе с доставкой: <span class="pl-20">{{ $store.state.cart.total }} р.</span></p> -->
							<p class="buttons f-right mb-0">
								<button @click="to_cart" class="p-button cbtn">Перейти в корзину</button>
							</p>
						</div>
						<div v-else class="cart-list">
							В корзине пока ничего нет!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
	export default {
		mounted() {
			//this.$store.dispatch('load_cart', this);
		},
		methods: {
			to_cart() {
				global.location.href = '/cart';
			},
			remove_from_cart(item) {
				this.$store.commit('REMOVE_FROM_CART', { item, vue: this });
			},
		},
	}
</script>