<template>
<div class="modal fade bs-html-modal-lg" tabindex="-1" role="dialog" v-if="$store.state.htmlModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content fix">
			<button type="button" class="close" @click="close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="model-product-box fix p-all-15" style="padding-right: 45px;">
				<div v-html="$store.state.htmlModal"></div>
				<button class="btn f-right text-white mt-10" style="background-color: #7ec6ac;" @click="close">Закрыть</button>
			</div>
		</div>
	</div>
</div> 
</template>

<script>
export default {
	methods: {
		close() {
			this.$store.commit('SET_HTML_MODAL', null);
			$('.bs-html-modal-lg').modal('hide');
		}
	}
}
</script>