<template>
<div class="image-carousel lg-12">
    <div class="prev" @click="prev" v-if="images.length > 3"><span class="fa fa-angle-left"></span></div><div class="next" @click="next" v-if="images.length > 3"><span class="fa fa-angle-right"></span></div>
    <div class="carousel"><img v-for="image in slice" :key="image" @click="select(image)" :src="$helper.thumbs(image)"/></div>
</div>
</template>

<script>
export default {
	props: ['size', 'images'],
	data() {
		return { current_position: 0, slice: this.images.slice(0, this.size) };
	},
	watch: {
		current_position(value) {
            this.slice = this.images.slice(value, value + this.size);
            if(this.slice.length < this.size)
                this.slice.push(...this.images.slice(0, this.size - this.slice.length)); 
		},
		images() {
			this.slice = this.images.slice(0, this.size);
		}
    },
	methods: {
        next() {
            if(this.current_position == this.images.length - 1) 
                this.current_position = 0;
            else
                this.current_position++;
        },
        prev() {
            if(this.current_position == 0) 
                this.current_position = this.images.length - 1;
            else
                this.current_position--;
        },
		select(image) {
			this.$emit("imgclick", this.images.findIndex(f => f == image));
		}
	}
}
</script>

<style scoped>
.image-carousel {
    position: relative;
}
.prev, .next {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    color: #757575;
    font-size: 16px;
    height: 25px;
    line-height: 17px;
    opacity: 1;
    padding: 3px 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease 0s;
    width: 25px;
    cursor: pointer;
    margin: 5px;
    z-index: 100;
}
.prev {
    left: 0px;
}
.next {
    right: 0px;
}
.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carousel img {
    width: auto;
    height: 114px;
    margin: 0 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
</style>