<template>
<div style="width: 290px; padding-bottom: 25px;">
	<div style="position: sticky; top: 70px;">
		<div class="side-menu" v-if="sublists && sublists.length > 0">
			<div class="sidenav-title black-bg">
				<h4 class="text-white text-uppercase"><span><i class="fa fa-bars"></i></span>Категории</h4>
			</div>
			<div class="sidenav-content border">
				<nav>
					<ul>
						<li v-for="sublist in sublists"><a :href="'/' + sublist.uri">{{ sublist.name }}</a></li>
					</ul>
				</nav>
			</div>
		</div>
		
		<div v-if="banners" class="sidebar-box hidden-sm hidden-xs">
			<!--<div class="border-b">
				<h5 class="text-uppercase title-b">{{ banner.name }}</h5>
			</div>-->
			<div class="banner-box" v-for="banner in banners">
				<div class="image-box img-full relative">
					<img :src="$helper.image(banner.image)" :alt="banner.alt"/>
					<a :href="banner.uri" class="b-hover"></a>
				</div>
			</div>
		</div>
		<!-- Sale collection end -->
	</div>
</div> 
</template>

<script>
export default {
	props: ['list', 'bposition', 'banners'],
	data() {
		return { sublists: null }
	},
	async mounted() {
		//debugger;
		/*if(this.bposition)
			this.banners = (await this.$api.get(`banners?position=${this.bposition}`)).data;*/
		if(this.list.parent_id == null)
			this.sublists = this.$store.state.lists.filter(f => f.parent_id == this.list.list_id);
		else
			this.sublists = this.$store.state.lists.filter(f => f.parent_id == this.list.parent_id);
	},
}
</script>