<template>
<div id="sticky-header" class="header-middle-area transparent-header">
	<div class="container">
		<div class="full-width-mega-dropdown hidden-sm hidden-xs">
			<div class="row">
				<div class="col-md-3">
					<div class="logo ptb-10">
						<a href="/"><img src="/images/logo.png" alt="main logo"></a>
					</div>
				</div>
				<div class="col-md-9">
					<nav id="primary-menu">
						<ul class="main-menu">
							<li><a href="/"><span>Главная</span></a></li>
							<li class="mega-parent"><a href="javascript:void(0)"><span style="color: #eb3061;">Каталог</span></a>
								<div class="mega-menu-area p-all-30">
									<div class="row">
										<div class="col-sm-12">
											<div class="mega-boxt">
												<span class="single-menu col-33">
													<a class="menu-title uppercase mb-15 hover-none">ЖЕНСКАЯ ОДЕЖДА</a>
													<a v-for="list in $store.getters.catalog_list.filter(f => f.column == 1)" :href="'/' + list.uri" :key="list.list_id">{{ list.name }}</a>
												</span>
												<span class="single-menu col-33">
													<a class="menu-title uppercase mb-15 hover-none">&nbsp;</a>
													<a v-for="list in $store.getters.catalog_list.filter(f => f.column == 2)" :href="'/' + list.uri" :key="list.list_id">{{ list.name }}</a>
												</span>
												<span class="single-menu col-33 catalog-column-3">
													<a class="menu-title uppercase mb-15 hover-none">&nbsp;</a>
													<a v-for="list in $store.getters.catalog_list.filter(f => f.column == 3)" :href="'/' + list.uri" :key="list.list_id">{{ list.name }}</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li v-for="list in $store.getters.menu_list" ><a href="javascript:void(0)"><span :style="{ color: list.color }">{{ list.name }}</span></a>
								<ul class="dropdown plr-15">
									<li v-if="!list.hide_show_all"><a :href="'/' + list.uri">Показать всё</a></li>
									<li v-for="sublist in $store.state.lists.filter(f => f.parent_id == list.list_id)">
										<a :href="'/' + sublist.uri">{{ sublist.name }}</a>
									</li>
								</ul>
							</li>
							<!-- <li><a href="javascript:void(0)"><span>Акции</span></a> -->
								<!-- <ul class="dropdown plr-15"> -->
									<!-- <li><a href="/noviygod">-15% на Новый год</a></li> -->
									<!-- <li><a href="/promokod">-7% по промокоду</a></li> -->
									<!-- <li><a href="/bonusi">Бонусные баллы</a></li> -->
								<!-- </ul> -->
							<!-- </li> -->
							<li><a href="javascript:void(0)"><span style="color: green;">Помощь</span></a>
								<ul class="dropdown plr-15">
									<li><a href="/razmer">Как выбрать размер</a></li>
									<li><a href="/zakaz">Как сделать заказ</a></li>
									<li><a href="/vozvrat">Как оформить возврат</a></li>
									<li><a href="/dostavka">Условия доставки и примерки</a></li>
									<li><a href="/promokod">Как использовать промокод</a></li>
									<li><a href="/bonusi">Как использовать бонусные баллы</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobile Menu start -->
	<div class="mobile-menu hidden-md hidden-lg">
		<nav>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="javascript:void(0)">Каталог</a>
					<ul>
						<li v-for="list in $store.getters.catalog_list.filter(f => f.column == 1)"><a :href="'/' + list.uri">{{ list.name }}</a></li>
						<li v-for="list in $store.getters.catalog_list.filter(f => f.column == 2)"><a :href="'/' + list.uri">{{ list.name }}</a></li>
						<li v-for="list in $store.getters.catalog_list.filter(f => f.column == 3)"><a :href="'/' + list.uri">{{ list.name }}</a></li>
					</ul>
				</li>
				<li v-for="list in $store.getters.menu_list" ><a href="javascript:void(0)"><span :style="{ color: list.color }">{{ list.name }}</span></a>
					<ul class="plr-15">
						<li><a :href="'/' + list.uri">Показать всё</a></li>
						<li v-for="sublist in $store.state.lists.filter(f => f.parent_id == list.list_id)">
							<a :href="'/' + sublist.uri">{{ sublist.name }}</a>
						</li>
					</ul>
				</li>
				<!-- <li><a href="javascript:void(0)"><span>Акции</span></a> -->
					<!-- <ul> -->
						<!-- <li><a href="/promokod">-7% по промокоду</a></li> -->
						<!-- <li><a href="/bonusi">Бонусные баллы</a></li> -->
					<!-- </ul> -->
				<!-- </li> -->
				<li><a href="javascript:void(0)" style="color: green;">Помощь</a>
					<ul>
						<li><a href="/razmer">Как выбрать размер</a></li>
						<li><a href="/zakaz">Как сделать заказ</a></li>
						<li><a href="/vozvrat">Как оформить возврат</a></li>
						<li><a href="/dostavka">Условия доставки и примерки</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<!-- Mobile Menu end -->
</div>
		
</template>
