<template>
<div class="modal fade bs-minicart-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content fix">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="model-product-box fix" style="padding: 40px;">
				<header style="font-size: 26px; margin-bottom: 30px; text-align: center;">Товар, добавленный в корзину</header>
				<div class="mb-10" style="overflow: auto;">
					<div class="button-box f-right">
						<a href="/cart" class="p-button default-bg text-white ml-10 text-uppercase">Перейти в корзину</a>
					</div>
					<div class="button-box f-left">
						<a class="p-button default-bg text-white text-uppercase" data-dismiss="modal" style="background-color: rgb(255, 123, 159) !important;">Вернуться в каталог</a>
					</div>
				</div>
				<table class="shop_table wishlist_table minicart_table hidden-xs">
					<thead>
						<tr>
							<th class="product-remove"></th>
							<th class="product-thumbnail"></th>
							<th class="product-size" style="width: 50px;">Размер</th>
							<th class="product-name"><span class="nobr">Название</span></th>
							<th class="product-price"><span class="nobr">Цена</span></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in $store.getters.reverse_cart_items">
							<td class="product-remove">
								<div> 
									<a href="#" class="remove" @click="remove_item(item)">×</a>
								</div>
							</td>
							<td class="product-thumbnail">
								<div class="pro-img img-full f-left">
									<a :href="'/p/'+item.product.product_id"><img :src="$helper.thumbs(item.product.images[0])" alt="" /></a>
								</div>
							</td>
							<td>
								{{ item.size }}
							</td>
							<td> 
								<div class="pro-name"><a href="#">{{ item.product.name }}</a></div>
							</td>
							<td class="product-price"><span class="p-price">{{ item.product.price }}р <del v-if="item.product.price < item.product.base_price">{{ item.product.base_price }}</del></span></td>
						</tr>
					</tbody>
				</table>
				<table class="shop_table wishlist_table hidden-md hidden-lg hidden-sm">
					<tbody>
						<tr v-for="(item, index) in $store.state.cart.items">
							<td class="product-remove">
								<div> 
									<a href="javascript:void(0)" class="remove" @click="remove_item(item)">×</a>
									{{ item.size }}
								</div>
							</td>
							<td class="product-price"><div>{{ item.product.name }}</div><span class="p-price">{{ item.product.price }}р <del v-if="item.product.price < item.product.base_price">{{ item.product.base_price }}</del></span></td>
							<td>
								<div class="pro-img f-left">
									<a :href="'/p/'+item.product.product_id"><img style="height: 62px;" :src="$helper.thumbs(item.product.images[0])" alt="" /></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div> 
</template>

<script>
	export default {
		mounted() {
			//this.$store.dispatch('load_cart', this);
		},
		methods: {
			remove_item(item) {
				this.$store.commit('REMOVE_FROM_CART', { item, vue: this });
				if(this.$store.state.cart.items.length == 0)
					$('.modal').modal('hide');
			},
			checkout() {
				$('.modal').modal('hide');
				this.$router.push('/checkout');
			}
		}
	}
</script>

<style>
table.minicart_table tbody tr:nth-of-type(1) {
    background-color: rgba(24, 189, 156, 0.62);
}

table.minicart_table tbody tr:nth-of-type(1) td a, table.minicart_table tbody tr:nth-of-type(1) td span {
	color: white;
}

table.minicart_table tbody tr:nth-of-type(1) td .remove {
	color: black;
}

table.minicart_table tbody tr:nth-of-type(1) td .remove:hover {
	background-color: white;
}

table.minicart_table tbody tr:nth-of-type(1) td {
	color: white;
}

table.minicart_table img {
	height: 70px;
	width: auto;
}
</style>