<template>
<div class="page-title-area">
	<div class="container">
		<div class="row">
			<div class="title-inner">
				<h1>{{ $store.state.pageTitle }}</h1>
				<ul class="paging-title">
					<li><a class="home" href="/">Главная</a></li>
					<li><span>{{ $store.state.pageTitle }}</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	props: ['title', 'breadcrumbs']
}
</script>