<template>
<ul class="pagination-li" v-if="numbered.lastPage > 1">
	<li @click="$emit('input', numbered.currentPage - 3 + i)" v-for="i in 2" v-if="numbered.currentPage - 3 + i > 0"><a href="javascript:void(0)">{{ numbered.currentPage - 3 + i }}</a></li>
	<li class="active"><a href="javascript:void(0)">{{ numbered.currentPage }}</a></li>
	<li @click="$emit('input', numbered.currentPage + i)" v-for="i in 2" v-if="numbered.currentPage + i <= numbered.lastPage"><a href="javascript:void(0)">{{ numbered.currentPage + i }}</a></li>
</ul>
</template>

<script>
export default {
	props: ['value', 'numbered']
}
</script>