<template>
<div class="modal fade bs-product-modal-lg" tabindex="-1" role="dialog" v-if="product">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content fix">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="model-product-box fix p-all-15">
				<div class="pro-img img-full col-5">
					<div>
						<div class="single-item">
							<img id="zoom-image" ref="zoomi" :src="$helper.image(product.images[index || 0])" alt="" />
						</div>
					</div>
					<image-carousel class="mt-15 plr-50 product-pagination" :images="product.images" :size="3" v-on:imgclick="(selected_index)=>{index=selected_index}"/>
				</div>
				<div class="pro-details col-5 pl-15">
					<h3 class="p-color">{{ product.name }}</h3>
					<div class="rating">
						<i class="fa fa-star text-yellow" v-for="i in product.rate"></i>
						<i class="fa fa-star-o text-yellow" v-for="i in (5 - product.rate)"></i>
						<span> ({{ reviews_count(product.reviews.length) }})</span>
					</div>
					<div class="price-avaible fix  mt-15">
						<h5 class="price text-theme f-left col-4 mb-0">{{ product.price }}р <del v-if="product.price < product.base_price">{{ product.base_price }}р</del></h5>
						<h5 class="f-right col-5 mb-0"><label class="mr-10">Наличие: </label>
						<span class="text-theme" v-if="$helper.count(product.sizes) > 10">Есть</span>
						<span class="text-theme" style="color: #ff7b9f;" v-else>Есть</span></h5>
						<h5 class="f-right col-1 mb-0"><a href="#" class="text-theme add_to_wishlist" title="Добавить в избранное"><i class="fa fa-heart-o"></i></a></h5>
					</div>
					<div class="pro-description">
						<p v-html="product.description"></p>
						<form action="#" class="fix">
							<div style="width: 43%; float: left;">
								<div class="choose_size f-left" v-if="type.sizes.length > 1">
									<div class="choose_size__title" ref="sizet" @click="open_size_window">
										<template v-if="choosed_size == null">Выберите размер</template>
										<span v-else class="choosed_size">{{ get_size_name(choosed_size) }}</span>
									</div>	
									<ul class="choose_size__list" v-if="choose_size_opened" tabindex="-1" v-focus="choose_size_opened" @focus="choose_size_opened = true" @blur="choose_size_opened = false">
										<li class="choose_size__size" @click="choosed_size = size; choose_size_opened = false" v-model="selected_size" v-for="(value, size) in product.sizes" v-if="value > 0">{{ get_size_name(size) }}</li>
										<li class="choose_size__useful" v-if="type.size_table"><a @click="show_size_help">Справка по размерам</a></li>
									</ul>
								</div>
							</div>
							<div class="add-to-links" style="width: 57%; float: left;">
								<a class="p-button default-bg text-white text-uppercase f-right" data-original-title="Add to card" data-toggle="tooltip" title="" @click="add_to_cart(product, selected_size)">Добавить в корзину</a>
							</div>
						</form>
						<table v-if="product.fields && product.fields.length > 0" class="product-form__fields">
							<tbody>
								<tr v-for="(field, index) in product.fields">
									<td class="product-form__sizes-fields-name pr-10">{{ field.name }}</td>
									<td class="product-form__sizes-fields-value">{{ field.value }}</td>
								</tr>
								<tr>
									<td class="product-form__sizes-fields-name pr-10">Артикул</td>
									<td class="product-form__sizes-fields-value">{{ product.article_number }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="returnToShop">
						<social-sharing inline-template :url="$helper.to_absolute_url($store, $helper.product_url(product))" :title="product.name" :description="product.description" :media="$helper.to_absolute_url($store, $helper.image(product.images[index || 0]))">
							<div class="social-icone">
								<network network="vk" class="s-icone">
									<i class="fa fa-vk"></i>
								</network>
								<network network="facebook" class="s-icone">
									<i class="fa fa-facebook"></i>
								</network>
								<network network="odnoklassniki" class="s-icone">
									<i class="fa fa-odnoklassniki"></i>
								</network>
								<network network="twitter" class="s-icone">
									<i class="fa fa-twitter"></i>
								</network>
							</div>
						</social-sharing>
						<button class="btn default-bg text-white" style="background-color: rgb(255, 123, 159) !important;" @click="back_to_catalog">Вернуться в каталог</button>  
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
</template>

<script>
import Container from '@/components/Container.vue';
import Block from '@/components/Block.vue';
import ImageCarousel from '@/components/ImageCarousel.vue';
import { focus } from 'vue-focus';

export default {
	directives: { focus },
	computed: {
		product() {
			return this.$store.state.currentProduct;
		},
		type() {
			return this.$store.state.types.find(f => f.type_id == this.product.type_id);
		}
	},
	watch: {
		product() {
			this.choose_size_opened = false;
			this.choosed_size = null;
		}
	},
	components: {
		//Carousel, 
		//Slide,
		Container,
		Block,
		ImageCarousel,
		//Price
	},
	data() {
		return { 
			review_form: { name: "", text: "", rate: 5 },
			question_form: { name: "", text: "" },
			choose_size_opened: false,
			selected_size: null,
			light: false,
			choosed_size: null,
			index: 0,
		}
	},
	methods: {
		open_size_window() {
			this.choose_size_opened = !this.choose_size_opened;
		},
		get_size_name(size) {
			return this.type.sizes.find(f => f.size == size).name;
		},
		get_field_name(field) {
			return this.category.fields.find(f => f.id == field.id).name;
		},
		add_to_cart(product) {
			if(this.choosed_size == null) {
				$(this.$refs.sizet).addClass("--light");
				this.choose_size_opened = true;
				return;
			}
			$('.modal').modal('hide');
			this.$store.commit('ADD_TO_CART', { product, size: this.choosed_size, vue: this });
			this.$nextTick(() => $(".bs-minicart-modal-lg").modal());
		},
		reviews_count(count) {
			if(count == 0) return 'нет отзывов';
			else if(count == 1) return '1 отзыв';
			else if(count == 2) return '2 отзыва';
			else if(count == 3) return '3 отзыва';
			else if(count == 4) return '4 отзыва';
			else return `${count} отзывов`;
		},
		questions_count(count) {
			if(count == 0) return 'нет вопросов';
			else if(count == 1) return '1 вопрос';
			else if(count == 2) return '2 вопроса';
			else if(count == 3) return '3 вопросов';
			else if(count == 4) return '4 вопроса';
			else return `${count} вопросов`;
		},
		async add_review() {
			try {
				await this.$api.post(`product/add_review?product_id=${this.product.product_id}`, this.review_form);
				this.product.reviews.push(this.review_form);
			}
			catch(err) {
				alert(err);
			}
		},
		async add_question() {
			try {
				await this.$api.post(`product/add_question?product_id=${this.product.product_id}`, this.question_form);
				this.product.questions.push(this.question_form);
			}
			catch(err) {
				alert(err);
			}
		},
		back_to_catalog() {
			$('.modal').modal('hide');
		},
		show_size_help() {
			this.$store.commit('SET_HTML_MODAL', this.type.size_table);
			this.$nextTick(() => $('.bs-html-modal-lg').modal('show'));
		}
	}
}
</script>