<template>
<!-- Price slider start -->
<div class="col-lg-3 col-md-3 col-sm-3">
	<div class="tool-box txt-r"> 
		<span>Цена:</span>
		<div class="price_slider_amount">
			<input type="text" class="" id="amount" name="price" placeholder="Ценовой диапазон" disabled />
			<div id="slider-range"></div>
		</div>
	</div>
</div>
<!-- Price slider end -->
</template>

<script>
export default {
	props: ['value'],
	data() {
		return {
			timer: null,
			price: null
		};
	},
	methods: {
		wait() {
			if(this.timer != null) clearInterval(this.timer);
			this.timer = setInterval(() => this.$emit('input', this.price), 1000);
		}
	},
	mounted() {
		$("#slider-range").slider({
			range: true,
			min: 0,
			max: 10000,
			step: 25,
			values: [this.value[0], this.value[1]],
			slide: (event, ui) => {
				$("#amount").val(ui.values[0] + " - " + ui.values[1]);
				this.price = ui.values;
				this.wait();
			}
		});
		$("#amount").val($( "#slider-range" ).slider("values", 0) + " - " + $("#slider-range").slider("values", 1));
	}
}
</script>