<template>
<div class="single-product">
	<div class="product-image img-full relative">
		<div v-if="product.discount && markers" class="new-text">
			<span>-{{ product.discount }}%</span>
		</div>
		<div v-if="product.tag && markers" class="sale-text">
			<span>{{ product.tag }}</span>
		</div>
		<!-- <nuxt-link :to="$helper.product_url(product)"> -->
			<!-- <img v-if="product.images.length >= 1" alt="" :src="$helper.thumbs(product.images[0])" class="primary-image"/> -->
			<!-- <img v-if="product.images.length >= 2" alt="" :src="$helper.thumbs(product.images[1])" class="secondary-image"/> -->
		<!-- </nuxt-link> -->
		<a :href="$helper.product_url(product, $store.state.back_url)">
			<img v-if="product.images.length >= 1" alt="Основная картинка товара" :src="$helper.thumbs(product.images[0])" class="primary-image"/>
			<img v-if="product.images.length >= 2" alt="Дополнительная картинка товара" :src="$helper.thumbs(product.images[1])" class="secondary-image"/>
		</a>
		<div class="action-buttons">
			<a v-for="(value, size) in product.sizes" class="action-buttons__size" :title="size != 0 ? 'Добавить размер в корзину' : 'Добавить товар в корзину'" v-if="value > 0" :class="{ 'text-red': value == 0 }" href="javascript:void(0)" @click="add_to_cart(product, size)"><i v-if="size == 0" class="fa fa-shopping-cart"></i><template v-else>{{ size }}</template></a>
		</div>
		<button type="button" class="zoomProduct" @click="zoom">УВЕЛИЧИТЬ</button>
	</div>
	<div class="product-text mt-10 text-center relative">
		<!-- <nuxt-link :to="$helper.product_url(product)" class="pro-name">{{ product.name }}</nuxt-link> -->
		<a :href="$helper.product_url(product, $store.state.back_url)" class="pro-name"><span class="article_number">{{ product.article_number }}</span> {{ product.name }}</a>
		<div class="price">{{ product.price }}р <del v-if="product.price < product.base_price">{{ product.base_price }}р</del></div>
		<!-- <div class="pro-rating"> -->
			<!-- <i class="fa fa-star" v-for="i in product.rate"></i> -->
			<!-- <i class="fa fa-star-o" v-for="i in (5 - product.rate)"></i> -->
		<!-- </div> -->
		<div class="add-to-cart border-line text-center">
			<!--<nuxt-link class="b-outer" data-toggle="tooltip" :to="$helper.product_url(product)" data-original-title="Подробно" ><span class="p-button uppercase">Подробно</span></nuxt-link>-->
			<a class="b-outer" data-toggle="tooltip" :href="$helper.product_url(product)" data-original-title="Подробно" ><span class="p-button uppercase">Подробно</span></a>
		</div>
	</div>
</div>		
</template>

<script>
export default {
	props: { product: Object, markers: { type: Boolean, default: true } },
	methods: {
		zoom() {
			this.$store.commit('SET_CURRENT_PRODUCT', this.product);
			this.$store.commit('ADD_TO_RECENTLY', this.product);
			this.$nextTick(() => $(".bs-product-modal-lg").modal());
		},
		add_to_cart(product, size) {
			this.$store.commit('ADD_TO_CART', { product, size, vue: this });
			this.$nextTick(() => $(".bs-minicart-modal-lg").modal());
		}
	}
}
</script>