<template>
<div style="width: 100%; padding: 0 25px;">
	<div class="tool-content">	
		<div class="row">
			<filter-dropdown title="Цвет" :items="colors" v-model="filter.color"/>
			<filter-dropdown v-if="sizes" title="Размер" :items="sizes" v-model="filter.size"/>
			<price-range v-model="filter.price" />
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="display: flex;
justify-content: flex-end; align-items: center; height: 58px;" v-if="products.lastPage > 1">
				<div class="tool-box txt-r"> 
					<Pager :numbered="products" v-model="filter.page"/>
				</div>
			</div>
		</div>
	</div>

	<div class="product-list-all">
		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" v-for="product in products.data">
						<product-card :product="product"/>
					</div>
					<div class="ml-20 mt-40" v-if="products.data.length == 0">Товаров по запросу не найдено!</div>
				</div>
			</div>
		</div>

		<div class="row" v-if="products.lastPage > 1">
			<div class="col-sm-12 text-right mt-40">
				<div class="tool-box txt-r border-t pt-20"> 
					<Pager :numbered="products" v-model="filter.page"/>
				</div>
			</div>
		</div>
	</div>					
</div>
</template>

<script>
import FilterDropdown from '@/components/FilterDropdown.vue'
import PriceRange from '@/components/PriceRange.vue'
import ProductCard from '@/components/ProductCard.vue'
import Pager from '@/components/Pager.vue'

export default {
	props: ['list'],
	components: {
		FilterDropdown,
		PriceRange,
		ProductCard,
		Pager
	},
	data() {
		return {
			filter: { color: this.$route.query.color || 0, price: [this.$route.query.price ? this.$route.query.price[0]-0 : 0, this.$route.query.price ? this.$route.query.price[1]-0 : 10000], size: this.$route.query.size || 0, page: this.$route.query.page },
			colors: this.$store.state.colors.map(m => ({ name: m.name, value: m.color_id })),
			sizes: this.list.type_id != null ? this.$store.state.types.find(f => f.type_id == this.list.type_id).sizes.map(m => ({ name: m.name, value: m.size })) : null
		};
	},
	methods: {
		async reloadData(filter) {	
			let query = {};
			if(filter.page)
				query.page = filter.page;
			if(filter.color)
				query.color = filter.color;
			if(filter.size)
				query.size = filter.size;
			if(filter.price)
				query.price = filter.price;
			
			//let numbered = (await this.$api.get(query)).data;
			//this.$store.commit('SET_PRODUCTS', numbered);
			this.$router.push({ path: this.$route.path, query }); 
		}
	},
	computed: {
		products() {
			return this.$store.state.products;
		}
	},
	watch: {
		['filter.page']() {
			this.reloadData(this.filter);
		},
		['filter.color']() {
			this.filter.page = 1;	
			this.reloadData(this.filter);
		},
		['filter.size']() {
			this.filter.page = 1;	
			this.reloadData(this.filter);
		},
		['filter.price']() {			
			this.filter.page = 1;	
			this.reloadData(this.filter);
		}
	}
}
</script>