<template>

</template>

<script>
import Block from '@/components/Block.vue'
import Sizes from '@/sizes.js'

export default {
	props: ['value'],
	components: {
		Block
	},
	data() {
		return { 
			sizes: this.value
		};
	},
	watch: {
		sizes(value) {
			this.$emit('input', value);
		}
	}
}
</script>