<template>
	<form class='dropzone' :id="id" :action="url">
		<slot></slot>
	</form>
</template>

<script>
export default {
	//ssr: false,
	props: ['id', 'url', 'options'],
	data() {
		return { dropzone: null };
	},
	mounted() {
		/*if(typeof(window) != "undefined")
			this.dropzone = new window.Dropzone(`#${this.id}`, this.options);*/
	}
}
</script>