<template>
<div class="wrapper">
	<admin-left-menu />
	<nuxt />
</div>
</template>

<script>
import AdminLeftMenu from '@/components/AdminLeftMenu.vue'

export default {
	components: {
		AdminLeftMenu
	},
	head() {
		return {
			title: this.$store.state.pageTitle,
			link: [
				{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
				{ rel: 'stylesheet', href: '/css/bootstrap-origin.min.css' },
				{ rel: 'stylesheet', href: '/css/animate.min.css' },
				{ rel: 'stylesheet', href: '/css/paper-dashboard.css' },
				{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' },
				{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Muli:400,300' },
				{ rel: 'stylesheet', href: '/css/themify-icons.css' },
				{ rel: 'stylesheet', href: '/css/admin.css' }
			],
			script: [
				{ src: 'https://unpkg.com/jquery@2.2.4' },
				{ src: '/js/bootstrap.min.js' },
				{ src: '/js/bootstrap-checkbox-radio.js' },
				{ src: '/js/bootstrap-notify.js' },
				{ src: '/js/plugins.js' }
			]
		};
	},
}
</script>