<template>
<div class="wrapper">
	<!-- Start of header area -->
	<header class="header-area header-wrapper">
		<header-top-bar />
		<main-menu />
	</header>
	<!-- End of header area -->
    <nuxt/>	
	<div class="services-area services-bg ptb-50">
		<div class="container">
			<div class="row">
				<!-- Single item  start-->
				<div class="col-sm-4 plr-30">
					<div class="item-box white-bg pb-20">
						<div class="icon2">
							<span>
								<i class="fa fa-truck"></i>
							</span>
						</div>
						<div class="text pl-50 pr-20 mb-p-0">
							<h3 class="h-title text-theme">Бесплатная доставка</h3>
							<p>В большинстве регионов у нас действует бесплатная доставка при покупке товара на сумму от 3500 рублей (для Москвы, Московской области и СПБ от 2900р) В случае покупки товара на меньшую сумму доставка от 250 рублей. Более подробно в разделе  <nuxt-link to="/dostavka">условия доставки и примерки</nuxt-link>.</p>
						</div>
					</div>
				</div>
				<!-- Single item  end-->
				<!-- Single item  start-->
				<div class="col-sm-4 plr-30">
					<div class="item-box white-bg pb-20">
						<div class="icon2">
							<span>
								<i class="fa fa-home"></i>
							</span>
						</div>
						<div class="text pl-50 pr-20 mb-p-0 ">
							<h3 class="h-title text-theme">Услуга самовывоза с примеркой по РФ</h3>
							<p>При покупке в нашем магазине вам предоставляется возможность самовывоза товара. Пункты нашего партнера СДЭК находятся во всех регионах России. В пунктах самовывоза предусмотрена услуга примерки и частичного выкупа товара.</p>
						</div>
					</div>
				</div>
				<!-- Single item  end-->
				<!-- Single item  start-->
				<div class="col-sm-4 plr-30">
					<div class="item-box white-bg pb-20">
						<div class="icon2">
							<span>
								<i class="fa fa-share"></i>
							</span>
						</div>
						<div class="text pl-50 pr-20 mb-p-0">
							<h3 class="h-title text-theme">Удобные условия возврата товара</h3>
							<p>Вы можете оформить возврат денег за неподошедшую вещь в течении двух недель после покупки. Система возврата проще чем в большинстве Интернет-магазинах. Вам нужно будет соблюсти лишь несколько формальностей. Подробности в разделе <nuxt-link to="/vozvrat">возврат вещей</nuxt-link>.</p>
						</div>
					</div>
				</div>
				<!-- Single item  end-->
			</div>
		</div>
	</div>
	
	<div class="banner-area inner-pagination pt-30 pb-70">
		<div class="container">
			<div class="row">
				<div class="product-banner">
					<div class="p-banner-text flowers-banner">
						<header class="text-uppercase text-white plr-15" style="font-size: 17px; font-weight: 400; font-family: 'museoslab500'; margin-bottom: 10px;">По всем возникшим вопросам можете</header>
						<p class="text-white text-uppercase plr-15">обращаться по телефону <span class="flowers-phone">+7 (499) 393-36-44</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <my-footer />
	<auth-modal />
	<popup-modal />
	<html-modal />
	<mini-cart-modal />
</div>
</template>

<script>
import MyFooter from '@/components/Footer.vue';
import MainMenu from '@/components/MainMenu.vue';
import HeaderTopBar from '@/components/HeaderTopBar.vue';
import PopupModal from '@/components/PopupModal.vue';
import AuthModal from '@/components/AuthModal.vue';
import HtmlModal from '@/components/HtmlModal.vue';
import MiniCartModal from '@/components/MiniCartModal.vue';

export default {
	components: {
		MyFooter,
		MainMenu,
		HeaderTopBar,
		PopupModal,
		AuthModal,
		HtmlModal,
		MiniCartModal,
	},
	head() {
		return {
			title: this.$store.state.pageTitle,
			link: [
				{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
				{ rel: 'stylesheet', href: '/css/bootstrap.min.css' },
				{ rel: 'stylesheet', href: '/css/core.css' },
				{ rel: 'stylesheet', href: '/css/shortcode/shortcodes.css' },
				{ rel: 'stylesheet', href: '/venobox/venobox.css' },
				{ rel: 'stylesheet', href: '/css/bozon.css' },
				{ rel: 'stylesheet', href: '/css/responsive.css' },
				{ rel: 'stylesheet', href: '/css/easyzoom.css' },
				{ rel: 'stylesheet', href: '/css/custom.css' },
				{ rel: 'stylesheet', href: '/css/themify-icons.css' },
			],
			script: [
				{ src: 'https://unpkg.com/jquery@2.2.4' },
				{ src: '/js/bootstrap.min.js' },
				{ src: '/js/owl.carousel.min.js' },
				{ src: '/js/jquery.nivo.slider.pack.js' },
				{ src: '/js/jquery-ui.min.js' },
				{ src: '/js/jquery.meanmenu.js' },
				{ src: '/venobox/venobox.min.js' },
				{ src: '/js/jquery.waypoints.min.js' },
				{ src: '/js/jquery.scrollUp.js' },
				{ src: '/js/plugins.js' },
				{ src: '/js/store.modern.min.js' },
				{ src: '/js/bootstrap-notify.js' },
				{ src: '/js/jquery.zoom.min.js', defer: 'defer' },
			]
		};
	},
	mounted() {
		$('.mobile-menu nav').meanmenu({
			meanScreenWidth: '990',
			meanMenuContainer: '.mobile-menu',
		});
		
		function sticky() {
			$('#sticky-header').toggleClass('sticky', $(window).scrollTop() > 20);
			$('#sticky-header2').toggleClass('sticky', $(window).scrollTop() > 150);
		}
			
		sticky();
				
		$(window).scroll(sticky);
	},
};
</script>