<template>
<div class="wrapper">
	<!-- Start of header area -->
	<header class="header-area header-wrapper">
		<header-top-bar />
		<main-menu />
	</header>
	<!-- End of header area -->
    <div class="page-body">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="page-not-found">
					<h1 class="entry-title">{{ error.statusCode }}</h1>
					<h2 class="small-title">{{ error.message }}</h2>
					<p><nuxt-link class="p-button" to="/">Вернуться в каталог</nuxt-link></p>
				</div>
			</div>
		</div>
	</div>
	</div>
    <my-footer />
	<auth-modal />
	<popup-modal />
	<html-modal />
	<mini-cart-modal />
</div>
</template>

<script>
import MyFooter from '@/components/Footer.vue'
import MainMenu from '@/components/MainMenu.vue'
import HeaderTopBar from '@/components/HeaderTopBar.vue'
import PopupModal from '@/components/PopupModal.vue'
import AuthModal from '@/components/AuthModal.vue' 
import HtmlModal from '@/components/HtmlModal.vue' 
import MiniCartModal from '@/components/MiniCartModal.vue' 

export default {
	props: ['error'],
	components: {
		MyFooter,
		MainMenu,
		HeaderTopBar,
		PopupModal,
		AuthModal,
		HtmlModal,
		MiniCartModal
	},
	head() {
		return {
			title: this.error.message,
			link: [
				{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
				{ rel: 'stylesheet', href: '/css/bootstrap.min.css' },
				{ rel: 'stylesheet', href: '/css/core.css' },
				{ rel: 'stylesheet', href: '/css/shortcode/shortcodes.css' },
				{ rel: 'stylesheet', href: '/venobox/venobox.css' },
				{ rel: 'stylesheet', href: '/css/bozon.css' },
				{ rel: 'stylesheet', href: '/css/responsive.css' },
				{ rel: 'stylesheet', href: '/css/easyzoom.css' },
				{ rel: 'stylesheet', href: '/css/custom.css' },
				{ rel: 'stylesheet', href: '/css/themify-icons.css' }
			],
			script: [
				{ src: 'https://unpkg.com/jquery@2.2.4' },
				{ src: '/js/bootstrap.min.js' },
				{ src: '/js/owl.carousel.min.js' },
				{ src: '/js/jquery.nivo.slider.pack.js' },
				{ src: '/js/jquery-ui.min.js' },
				{ src: '/js/jquery.meanmenu.js' },
				{ src: '/venobox/venobox.min.js' },
				{ src: '/js/jquery.waypoints.min.js' },
				{ src: '/js/jquery.scrollUp.js' },
				{ src: '/js/plugins.js' },
				{ src: '/js/store.modern.min.js' },
				{ src: '/js/bootstrap-notify.js' },
				{ src: '/js/jquery.zoom.min.js', defer: 'defer' }
			]
		};
	},
	fetch() {
		//console.log("layout fetch");
		//this.$store.dispatch('browserInit');
	},
	beforeMount() {
		//console.log("layout beforeMount");
		//this.$store.dispatch('browserInit');
	},
	mounted() {
		//console.log("layout mounted");
		
		$('.mobile-menu nav').meanmenu({
			meanScreenWidth: "990",
			meanMenuContainer: ".mobile-menu",
		});
		
		$(window).scroll(function() {
			if ($(window).scrollTop() > 20)
				$('#sticky-header').addClass("sticky");
			else
				$('#sticky-header').removeClass("sticky");

			if ($(window).scrollTop() > 150)
				$('#sticky-header2').addClass("sticky");
			else
				$('#sticky-header2').removeClass("sticky");
		});
	}
}
</script>

<style scoped>
.title
{
  margin-top: 15px;
  font-size: 5em;
}
.info
{
  font-weight: 300;
  color: #9aabb1;
  margin: 0;
}
.button
{
  margin-top: 50px;
}
</style>