<template>
<div class="wrapper">
	<!-- Start of header area -->
	<header class="header-area header-wrapper">
		<header-top-bar />
		<main-menu />
	</header>
	<!-- End of header area -->
    <nuxt/>
    <my-footer />
	<auth-modal />
	<popup-modal />
	<html-modal />
	<mini-cart-modal />
</div>
</template>

<script>
import MyFooter from '@/components/Footer.vue';
import MainMenu from '@/components/MainMenu.vue';
import HeaderTopBar from '@/components/HeaderTopBar.vue';
import PopupModal from '@/components/PopupModal.vue';
import AuthModal from '@/components/AuthModal.vue';
import HtmlModal from '@/components/HtmlModal.vue';
import MiniCartModal from '@/components/MiniCartModal.vue' ;

export default {
	components: {
		MyFooter,
		MainMenu,
		HeaderTopBar,
		PopupModal,
		AuthModal,
		HtmlModal,
		MiniCartModal,
	},
	head() {
		return {
			title: this.$store.state.pageTitle,
			link: [
				{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
				{ rel: 'stylesheet', href: '/css/bootstrap.min.css' },
				{ rel: 'stylesheet', href: '/css/core.css' },
				{ rel: 'stylesheet', href: '/css/shortcode/shortcodes.css' },
				{ rel: 'stylesheet', href: '/venobox/venobox.css' },
				{ rel: 'stylesheet', href: '/css/bozon.css' },
				{ rel: 'stylesheet', href: '/css/responsive.css' },
				{ rel: 'stylesheet', href: '/css/easyzoom.css' },
				{ rel: 'stylesheet', href: '/css/custom.css' },
				{ rel: 'stylesheet', href: '/css/themify-icons.css' },
			],
			script: [
				{ src: 'https://unpkg.com/jquery@2.2.4' },
				{ src: '/js/bootstrap.min.js' },
				{ src: '/js/owl.carousel.min.js' },
				{ src: '/js/jquery.nivo.slider.pack.js' },
				{ src: '/js/jquery-ui.min.js' },
				{ src: '/js/jquery.meanmenu.js' },
				{ src: '/venobox/venobox.min.js' },
				{ src: '/js/jquery.waypoints.min.js' },
				{ src: '/js/jquery.scrollUp.js' },
				{ src: '/js/plugins.js' },
				{ src: '/js/store.modern.min.js' },
				{ src: '/js/bootstrap-notify.js' },
				{ src: '/js/jquery.zoom.min.js', defer: 'defer' },
			]
		};
	},
	mounted() {
		$('.mobile-menu nav').meanmenu({
			meanScreenWidth: '990',
			meanMenuContainer: '.mobile-menu',
		});
		
		function sticky() {
			$('#sticky-header').toggleClass('sticky', $(window).scrollTop() > 20);
			$('#sticky-header2').toggleClass('sticky', $(window).scrollTop() > 150);
		}
		
		sticky();
				
		$(window).scroll(sticky);
	},
};
</script>