<template>
<container class="page-body pt-100">
<block lg="9" md="9">
	<div class="model-product-box fix">
		<div class="pro-img img-full col-5">
			<div>
				<div class="single-item" id="zoom-image-wrapper">
					<img id="zoom-image" ref="zoomi" :src="$helper.image(product.images[index || 0])" alt="" />
				</div>
			</div>
			<image-carousel class="mt-15 plr-50 product-pagination" :images="product.images" :size="3" v-on:imgclick="(selected_index)=>{index=selected_index}"/>
		</div>
		<div class="pro-details col-5 pl-15">
			<h3 class="p-color">{{ product.name }}</h3>
			<div class="rating">
				<i class="fa fa-star text-yellow" v-for="i in product.rate"></i>
				<i class="fa fa-star-o text-yellow" v-for="i in (5 - product.rate)"></i>
				<a href="#review-tab" v-if="can_add_review"> ({{ reviews_count(product.reviews.length) }}) / добавить отзыв</a>
				<a href="#review-tab" v-else> ({{ reviews_count(product.reviews.length) }})</a>
			</div>
			<div class="price-avaible fix  mt-15">
				<h5 class="price text-theme f-left col-4 mb-0">{{ product.price }}р <del v-if="product.price < product.base_price">{{ product.base_price }}р</del></h5>
				<h5 class="f-right col-5 mb-0"><label class="mr-10">Наличие: </label>
				<span class="text-theme" v-if="$helper.count(product.sizes) > 10">Есть</span>
				<span style="color: #ff7b9f;" v-else>Есть</span></h5>
				<h5 class="f-right col-1 mb-0"><a href="javascript:void(0)" class="text-theme add_to_wishlist" title="Добавить в избранное" @click="add_to_wishlist(product)"><i v-on:mouseover="wish_list_hover=true" v-on:mouseout="wish_list_hover=false" class="fa" :class="{ 'fa-heart-o': !wish_list_hover, 'fa-heart': wish_list_hover }"></i></a></h5>
			</div>
			<div class="pro-description">
				<p v-html="product.description"></p>
				<form class="row row-mod fix addToCart">
					<div>
						<div class="choose_size f-left" v-if="type.sizes.length > 1">
							<div class="choose_size__title" ref="sizet" @click="open_size_window">
								<template v-if="choosed_size == null">Выберите размер</template>
								<span v-else class="choosed_size">{{ get_size_name(choosed_size) }}</span>
							</div>	
							<ul class="choose_size__list" v-if="choose_size_opened" tabindex="-1" v-focus="choose_size_opened" @focus="choose_size_opened = true" @blur="choose_size_opened = false">
								<li class="choose_size__size" @click="choosed_size = size; choose_size_opened = false" v-model="selected_size" v-for="(value, size) in product.sizes" v-if="value > 0">{{ get_size_name(size) }}</li>
								<li class="choose_size__useful" v-if="type.size_table"><a @click="show_size_help">Справка по размерам</a></li>
							</ul>
						</div>
					</div>
					<div class="add-to-links">
						<a class="p-button default-bg text-white text-uppercase f-right" data-original-title="Add to card" data-toggle="tooltip" title="" @click="add_to_cart(product, selected_size)">Добавить в корзину</a>
					</div>
				</form>
				<table v-if="product.fields && product.fields.length > 0" class="product-form__fields">
					<tbody>
						<tr v-for="(field, index) in product.fields">
							<td class="product-form__sizes-fields-name pr-10">{{ field.name }}</td>
							<td class="product-form__sizes-fields-value">{{ field.value }}</td>
						</tr>
						<tr>
							<td class="product-form__sizes-fields-name pr-10">Артикул</td>
							<td class="product-form__sizes-fields-value">{{ product.article_number }}</td>
						</tr>
						<tr v-if="product.count_free">
							<td class="product-form__sizes-fields-name pr-10">Специальная акция</td>
							<td class="product-form__sizes-fields-value">{{ product.count_free }}-й в подарок</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="returnToShop">
				<social-sharing inline-template :url="$helper.to_absolute_url($store, $helper.product_url(product))" :title="product.name" :description="product.description" :media="$helper.to_absolute_url($store, $helper.image(product.images[index || 0]))">
					<div class="social-icone">
						<network network="vk" class="s-icone">
							<i class="fa fa-vk"></i>
						</network>
						<network network="facebook" class="s-icone">
							<i class="fa fa-facebook"></i>
						</network>
						<network network="odnoklassniki" class="s-icone">
							<i class="fa fa-odnoklassniki"></i>
						</network>
						<network network="twitter" class="s-icone">
							<i class="fa fa-twitter"></i>
						</network>
					</div>
				</social-sharing>
				<button class="btn pink-bg text-white" @click="back_to_catalog">Вернуться в каталог</button>  
			</div>
		</div>
	</div>
	
	<div class="des-review">
		<ul class="tab-menu-review">
			<li class="active"><a data-toggle="tab" href="#review-tab">Отзывы ({{ product.reviews.length }})</a></li>
			<li><a data-toggle="tab" href="#question-tab">Вопросы ({{ product.questions.length }})</a></li>
		</ul>
		<div class="tab-content">
			<div id="review-tab" class="tab-pane fade in active des-tab">
				<div class="review-box">
					<h2>{{ reviews_count(product.reviews.length) }} на товар {{ product.name }}</h2>
					<ul>
						<li v-for="review in product.reviews">	
							<div class="com-content">
								<div class="rating">
									<i class="fa fa-star text-yellow" v-for="i in review.rate"></i>
									<i class="fa fa-star-o text-yellow" v-for="i in 5-review.rate"></i>
								</div>
								<h3>{{ review.name }} <span> – {{ review.date | date }}:</span></h3>
								<span>{{ review.text }}</span>
							</div>
						</li>
					</ul>
				</div>
				<!-- review comment start -->
				<div class="review_form" v-if="can_add_review">
					<h2>Оставить отзыв</h2>
					<form action="#" v-on:submit.prevent>
						<div class="input-box">
							<label>Имя <span class="required">*</span></label>
							<input type="text" value="" name="author" id="author" style="height: 25px;" v-model="review_form.name">
						</div>
						<div class="input-box">
							<label>Оценка</label>
							<div class="rating">
								<a @click="review_form.rate = 1">
									<i class="fa" :class="{ 'fa-star': review_form.rate == 1, 'fa-star-o': review_form.rate != 1 }"></i>
								</a>
								<a @click="review_form.rate = 2">
									<i class="fa" :class="{ 'fa-star': review_form.rate == 2, 'fa-star-o': review_form.rate != 2 }" v-for="i in 2"></i>
								</a>
								<a @click="review_form.rate = 3">
									<i class="fa" :class="{ 'fa-star': review_form.rate == 3, 'fa-star-o': review_form.rate != 3 }" v-for="i in 3"></i>
								</a>
								<a @click="review_form.rate = 4">
									<i class="fa" :class="{ 'fa-star': review_form.rate == 4, 'fa-star-o': review_form.rate != 4 }" v-for="i in 4"></i>
								</a>
								<a @click="review_form.rate = 5">
									<i class="fa" :class="{ 'fa-star': review_form.rate == 5, 'fa-star-o': review_form.rate != 5 }" v-for="i in 5"></i>
								</a>
							</div>
						</div>
						<div class="input-box">
							<label>Ваш отзыв <span class="required">*</span></label>
							<textarea rows="4" cols="45" name="comment" id="comment" v-model="review_form.text"></textarea>
						</div>	
						<button type="submit" class="p-button text-uppercase" @click="add_review">Опубликовать</button>
					</form>
				</div>
				<!-- review comment end -->
			</div>
			<div id="question-tab" class="tab-pane fade des-tab">
				<div class="review-box">
					<h2>{{ questions_count(product.questions.length) }} на товар {{ product.name }}</h2>
					<ul>
						<li v-for="question in product.questions">	
							<div class="com-content">
								<h3>{{ question.name }} <span> – {{ question.date | date }}:</span></h3>
								<span>{{ question.text }}</span>
							</div>
						</li>
					</ul>
				</div>
				<!-- review comment start -->
				<div class="review_form" v-if="can_add_question">
					<h2>Задать вопрос</h2>
					<form action="#" v-on:submit.prevent>
						<div class="input-box">
							<label>Имя <span class="required">*</span></label>
							<input type="text" value="" name="author" id="author" style="height: 25px;" v-model="question_form.name">
						</div>
						<div class="input-box">
							<label>Ваш вопрос <span class="required">*</span></label>
							<textarea rows="4" cols="45" name="comment" id="comment" v-model="question_form.text"></textarea>
						</div>	
							<button type="submit" class="p-button text-uppercase" @click="add_question">Отправить</button>
					</form>
				</div>
				<!-- review comment end -->
			</div>
		</div>
	</div>
</block>
<block lg="3" md="3">
	<div class="single-right-product">
		<!-- Best seller start -->
		<div class="sidebar-box owl-buttoncercle-right rmt-70">
			<div class="border-b">
				<h5 class="text-uppercase title-b">Вы интересовались</h5>
			</div>
			<div class="best-seller-carousel item-m-r mt-40">
				<div class="single-item">
					<div class="item-box mb-30" v-for="re_product in $store.state.recently">
						<div class="product-img col-3 f-left img-full border mr-10">
							<nuxt-link :to="$helper.product_url(re_product)"><img v-if="re_product.images.length >= 1" alt="" :src="$helper.thumbs(re_product.images[0])" class="primary-image"/></nuxt-link>
						</div>
						<div class="pro-text pl-10 fix" >
							<h6 class="pro-name p-color">
								<nuxt-link :to="$helper.product_url(re_product)">{{ re_product.name }}</nuxt-link>
							</h6>
							<div class="rating">
								<i class="fa fa-star text-yellow" v-for="i in re_product.rate"></i>
								<i class="fa fa-star-o text-yellow" v-for="i in (5 - re_product.rate)"></i>
							</div>
							<h6 class="price text-theme mt-10">{{ re_product.price }}р <del v-if="re_product.price < re_product.base_price">{{ re_product.base_price }}р</del></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Best seller end -->
		<!-- Sale collection start -->
		<div v-if="banners" class="sidebar-box mt-40" v-for="banner in banners">
			<!--<div class="border-b">
				<h5 class="text-uppercase title-b">{{ banner.name }}</h5>
			</div>-->
			<div class="banner-box">
				<div class="image-box img-full relative">
					<img :src="$helper.image(banner.image)" :alt="banner.alt" />
					<nuxt-link :to="banner.uri" class="b-hover"></nuxt-link>
				</div>
			</div>
		</div>
		<!-- Sale collection end -->
	</div>	
</block> 		
</container>
</template>

<script>
import Container from '@/components/Container.vue';
import Block from '@/components/Block.vue';
import ImageCarousel from '@/components/ImageCarousel.vue';
//import Price from '@/components/Price.vue';
import ProductCard from '@/components/ProductCard.vue';
import { focus } from 'vue-focus';

//import { socialSharing, network } from 'vue-social-sharing';


export default {
	layout: 'shortcut',
	directives: { focus },
	components: {
		//Carousel, 
		//Slide,
		Container,
		Block,
		ImageCarousel,
		//Price,
		ProductCard,
		/*socialSharing,
		network*/
	},
	filters: {
		date(date) {
			return new Date(date).toLocaleDateString();
		}
	},
	data() {
		return { 
			review_form: { name: "", text: "", rate: 5 },
			question_form: { name: "", text: "" },
			choose_size_opened: false,
			selected_size: null,
			light: false,
			choosed_size: null,
			index: 0,
			wish_list_hover: false
		}
	},
	watch: {
		index(value) {
			$("#zoom-image-wrapper > .zoomImg").remove();
			//$("#zoom-image-wrapper > .zoomImg").attr('src',this.$helper.image(this.product.images[value || 0]));
			this.$nextTick(() => $("#zoom-image-wrapper").zoom({ url: this.$helper.image(this.product.images[value || 0]) }));
		}
	},
	computed: {
		type() {
			return this.$store.state.types.find(f => f.type_id == this.product.type_id);
		},
		can_add_review() {
			return this.$store.state.user && !this.product.reviews.find(f => f.user_id == this.$store.state.user.user_id);
		},
		can_add_question() {
			return this.$store.state.user && !this.product.questions.find(f => f.user_id == this.$store.state.user.user_id);
		}
	},
	async asyncData({ store, params, app, isServer, error, redirect }) {
		try {
			let product = (await app.api.get(`product?product_id=${params.product}`)).data;
			let category = store.state.categories.find(f => f.category_id == product.category_id);
			let banners = (await app.api.get('banners?position=product')).data;
			return { product, category, banners };
		} catch(err) {
			error({ statusCode: 404, message: `Такой товар не найден` });
		}
	},
	head() {
		return { title: this.product.name,  meta: [ { name: 'description', content: this.product.description.split('.')[0] } ] };
	},
	methods: {
		open_size_window() {
			this.choose_size_opened = !this.choose_size_opened;
		},
		get_size_name(size) {
			return this.type.sizes.find(f => f.size == size).name;
		},
		get_field_name(field) {
			return this.category.fields.find(f => f.id == field.id).name;
		},
		add_to_cart(product) {
			if(this.choosed_size == null) {
				$(this.$refs.sizet).addClass("--light");
				this.choose_size_opened = true;
				return;
			}
			this.$store.commit('ADD_TO_CART', { product, size: this.choosed_size, vue: this });
			this.$nextTick(() => $(".bs-minicart-modal-lg").modal());
		},
		reviews_count(count) {
			if(count == 0) return 'нет отзывов';
			else if(count == 1) return '1 отзыв';
			else if(count == 2) return '2 отзыва';
			else if(count == 3) return '3 отзыва';
			else if(count == 4) return '4 отзыва';
			else return `${count} отзывов`;
		},
		questions_count(count) {
			if(count == 0) return 'нет вопросов';
			else if(count == 1) return '1 вопрос';
			else if(count == 2) return '2 вопроса';
			else if(count == 3) return '3 вопросов';
			else if(count == 4) return '4 вопроса';
			else return `${count} вопросов`;
		},
		async add_review() {
			try {
				await this.$api.post(`product/add_review?product_id=${this.product.product_id}`, this.review_form);
				this.product = (await this.$api.get(`product?product_id=${this.product.product_id}`)).data;
				//this.product.reviews.push(this.review_form);
			}
			catch(err) {
				this.$notify.error(err);
			}
		},
		async add_question() {
			try {
				await this.$api.post(`product/add_question?product_id=${this.product.product_id}`, this.question_form);
				this.product = (await this.$api.get(`product?product_id=${this.product.product_id}`)).data;
				//this.product.questions.push(this.question_form);
			}
			catch(err) {
				this.$notify.error(err);
			}
		},
		back_to_catalog() {
			if(history.length > 2)
				window.history.go(-1); //this.$router.go(-1); 
			else
				this.$router.push('/');
		},
		add_to_wishlist(product) {
			this.$store.commit('ADD_TO_WISHLIST', product);
			this.$notify.success('Товар добавлен в список желаемого!');
		},
		show_size_help() {
			this.$store.commit('SET_HTML_MODAL', this.type.size_table);
			this.$nextTick(() => $('.bs-html-modal-lg').modal('show'));
		}
	},
	async mounted() {
		if(this.$store.user) {
			this.review_form.name = this.$store.state.user.name;
			this.question_form.name = this.$store.state.user.name;
		}
		/*$('.choose_size__list').on('focusout', () => {
			this.choose_size_opened = false;
		});*/
		await this.$store.dispatch('load_recently');
			
		this.$store.commit('ADD_TO_RECENTLY', this.product);
		this.$nextTick(() => {
			/*$(".best-seller-carousel").owlCarousel({
				autoPlay: false, 
				slideSpeed:2000,
				pagination:false,
				navigation:true,    
				items: 1,
				navigationText: ["<span class='fa fa-angle-left'></span>", "<span class='fa fa-angle-right'></span>"],
				itemsDesktop : [1199,4],
				itemsDesktopSmall : [980,3],
				itemsTablet: [768,1],
				itemsMobile : [479,1],
			});*/
			//$(this.$refs.zoomi).zoom();
			$("#zoom-image-wrapper").zoom();
		});
	}
}
</script>

<style>
.owl-item {
	width: 270px !important;
}
</style>