<template>
<section class="wrapper items">
	<div class="item" v-for="(item, index) in order.items">
		<div class="item__article-number">Артикул <b>{{ item.article_number }}</b></div>
		<div class="item__name">{{ item.name }}</div>
		<table style="display: inline-table; width: 100px; font-family: 'Helvetica'; font-size: 14px;"><tr class="item__size"><td style="text-align: left;">Размер</td><td>{{ item.size }}</td></tr>
		<tr class="item__price"><td style="text-align: left;">Цена</td><td>{{ item.computed_price }}</td></tr></table>
		</table>
		<div><img style="width: 100px; margin-top: 10px;" src="http://localhost:3000/images/logo.png"/></div>
	</div>
</section>
</template>

<script>
export default {
	layout: 'nake',
	middleware: 'admin',
	async asyncData({ params, app }) {
		let order = (await app.api.get(`admin/order/get?order_id=${params.order}`)).data;
		return { order };
	},
	head() {
		return { title: 'Распечатка наклеек' };
	},
}
</script>

<style>
.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.item {
	border: 1px solid black;
	width: 200px;
	text-align: center;
}
.item__article-number {
	text-decoration: underline;
	font-size: 19px;
	font-family: 'Calibri';
}
.item__name {
	text-decoration: underline;
	color: #67b2c6;
	font-size: 14px;
	font-family: 'Helvetica';
	margin-top: 12px;
	margin-bottom: 8px;
}
</style>